<div class="card-left">
    <h3><span>סל המידע</span></h3>
    <div class="comment-slide">
        <a href="" id="prev"></a>
        <a href="" id="next"></a>
        <div class="slide-c"></div>
    </div>
</div>

<script>
$(document).ready(function() {
    db_functions.getActionShoppingCart(action_id, function (err, data) {
        if(err) {
            console.log(err);
            return;
        }

        if(!data || !'objects' in data) {
            console.log('getActionShoppingCart: no data')
            return;
        }

        $.each(data.objects, function (index, item) {
            dust.render('discussion_information_item_old', item, function (err, out) {
                 $('.slide-c').append(out);
            });
        });

        $('.slide-c').after('<div id="nav2">').cycle({
            fx:'scrollHorz',
            speed:'fast',
            timeout:0,
            pager:'#nav2',
            next:'#prev',
            prev:'#next'
        });

        if (data.objects.length < 2) {
            $("#prev").hide();
            $("#next").hide();
        }
    });
})
</script>