<!--<div class="tikunim-box">
    <span class="icon"></span>
    <h2>דווח על כשלים</h2>
    <div class="hide-box">
        <form action="post" id="failureForm">
            <textarea cols="0" rows="0" name="feedbackTb"></textarea>
            <input type="submit" value="שלח" />
        </form>
    </div>
</div>-->
