<center class="ie7_message">

    אתר עורו נמצא בשלבי פיתוח, ולצערנו, הוא עדיין אינו תומך במערכת ההפעלה או בדפדפן שבו השתמשת.
    <br/>
    <br/>
    כדי לגלוש באתר עורו, מומלץ בשלב זה להשתמש באחד מהדפדפנים הנתמכים:
    <br/>
    <br/>
    <p>
        <a href="http://www.google.com/chrome">Chrome</a>
    </p>
    <br/>
    <p>
        <a href="www.mozilla.org/en-US/firefox/new/">Firefox</a>
    </p>
    <br/>
    <p>
        <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home">Internet Explorer 9</a>
    </p>
    <br/>
    <br/>
     בקרוב תיפתח האפשרות לגלוש באתר גם בדפדפנים אחרים ובמערכות הפעלה אחרות.
</center>

<div id="footer">
    <div class="extra cf">
        <div class="one-col">
            <h4> מחליטים: כבוד האדם</h4>
        </div>

        <div class="two-col">
            <h4>קישורים</h4>
            <ul>
            <% footer_links('is_on_footer').forEach(function(menu){ %>
                <li><a href="<%= menu.link %>"><%= menu.name %></a></li>
            <% }) %>
            </ul>
        </div>

        <div class="three-col" id="footer_tags"></div>

    </div>
    <p class="footer_line">
        התנועה האזרחית החדשה בע"מ (חל"צ) רחוב התעשייה 8, תל-אביב | טל' 03-7368600 פקס 03-7368700
        | <a href="http://www.empeeric.com/">Empeeric</a>
        | <a href="http://www.anna-g.co.il/">Anna Geslev</a>
        | <a href="mailto:info@uru.org.il">info@uru.org.il</a>

    </p>
</div>


<% include includes.ejs %>