<a href="javascript: void(0)" id="logo"></a>
<ul id="main-menu">
    <li class="menu_item about_item">
        <a href="/about">אודות</a>
        <ul>
            <% footer_links('is_on_top').forEach(function(menu){ %>
                <li><a href="<%= menu.link %>"><%= menu.name %></a></li>
            <% }) %>
        </ul>
    </li>
    <li class="menu_item"><a href="/information_items">מאגר מידע</a></li>
    <li class="menu_item"><a href="/discussions">דיונים</a></li>
    <li class="menu_item ui-tabs-hide"><a href="/cycles">קמפיינים</a></li>
    <li class="menu_item ui-tabs-hide"><a href="/actions">פעולות ואירועים</a></li>
</ul>
