<%
tag_name = typeof(tag_name) == 'undefined' ? '' : tag_name;
tab = typeof(tab) == 'undefined' ? 'information_items' : tab;
%>
<form action="/<%= tab %>" class="search-box search-input" id="search_form" >

    <input autocomplete="off"  placeholder="חיפוש" class="search_term" type="text" name='tag_name' id="search_term" value="<%= tag_name %>" />
    <input type="submit" value="" />
    <ul id="search_suggest">
    <li class="topborder"></li>

    </ul>
</form>
