bin
build
include
.idea
*.pyc
*.pyo
*.swp
*.psd
.DS_Store
src
MongoFiles
pip-log.txt
*.idea*

node_modules/*
node_modules/*
public/cdn/*
*/public/cdn/*
compiled_templates.js
/public/js/compiled_templates.js
/dump/
/data/
/.data/

*.orig

iisnode
app.js.debug
vwd.webinfo
