<div class="one-box maag-one-box cf" data-id="{_id}">
    <div class="right">
        <a href="/actions/{_id}">
            <div style="width:141px; height:79px;" class="auto-scale floatRight">
                <img src="{image_field.url}" alt="{tooltip_or_title}" title="{tooltip_or_title}" />
            </div>
        </a>

        <div class="text">
           <a class="no_underline_cursor_when_hover" href="/actions/{_id}">
                <h4>{title}</h4>
            </a>
            <p>{text_field_preview|s}</p>
        </div>
        <div class="bottom cf">
            <div class="ratio">
            </div>
        </div>
    </div>
    <div class="left">
        {?is_follower}
        <a class="join_button"  data-action="leave"  href="#">עזוב</a>
        {:else}
        <a class="join_button" data-action="follower" href="#">הצטרף</a>
        {/is_follower}
        <a class="share green-share" data-img_src="{image_field_preview.url}" data-text_preview="{text_field_preview}" data-title="{title}" rel="/actions/{_id}" href="/facebookShare?link=/actions/{_id}"><span>שתף</span></a>
    </div>
    <div class="bottom-plus cf">
        <div class="right">
            <div class="bottom cf">
                <div class="info">
                    <div>
                        <strong>
                            משתתפים:
                        </strong>
                        {participants_count}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
