<div class="one{#.is_last} last{/.is_last}">
    <a href="/blogs/article/{_id}">
        <div class="img-box">

            <div style="width:112px; height:120px;" class='auto-scale'>
                <img src="{?image_field_preview}{image_field_preview.url}{:else}{image_field.url}{/image_field_preview}" alt="{title}"/>

            </div>
            <span class="fillter"></span>
        </div>
    </a>

    <h4><a href="" data-bablic-exclude>{.first_name} {.last_name}</a></h4>
    <a class="no_underline_cursor_when_hover" href="/blogs/article/{_id}">{.title}</a>
    <div class="tags">
          {#tags}
			<a href="/information_items?tag_name={.|u}"
        {@idx}
        {@if cond="({.} > 1 )"}
        style="display:none;"
        {/if}
        {/idx}
        >{.}</a>{~n}
        {/tags}
        <div class="more hide">
            <span></span>
            <ul>
                {@if cond="(0{tags|length} > 2 )"}
                <li><a href="javascript:void(0)">הצג עוד תגיות</a></li>
                {/if}
                <li><a href="javascript:void(0)">הוסף תגית</a></li>
            </ul>
        </div>
    </div>
</div>