<div style="left: {offset}%" class="event event-next">
    <div class="icon blue-icon">
        <span class="i"></span>
        <div class="popup-event type-two">
            <div class="popup-text">
                <img src="images/sample-7.jpg" width="112" class="floatRight" alt="" />
                <h5>{title}</h5>
                <p>location</p>
            </div>
        </div>
    </div>
                    <span class="number">
                        {date|date_short}
                    </span>
                    <span class="text">
פעולה
                    </span>
</div>
