<div class="cycle_tabs_box">
        <ul class="tabs-nav">
            <li><h2 class="timeline_tab right selected"> <span>ציר הזמן</span> {title}</h2></li>
            <li><h2 class="map_tab left"> <span>מפה</span></h2></li>
        </ul>
        <div id="tabs_cycle_timeline">
            <div class="followers-diagram"></div>
        </div>
        <div id="tabs_cycle_map">
            <div id="cycle_map_box">
                <div id="cycle_map" class="cycle_map" style="width: 742px; height: 354px "></div>
                <div id="action_list_box">
                    <div id="action_list" class="action_list">
                        <h1 class="title">רשימת כל הפעולות</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




