<div style="left: 0px" class="event event-prev creation">
    <div class="icon prev-icon">
        <span class="i"></span>
        <div class="popup-event type-three">
            <div class="popup-text">
                <h3>תחילת הדיון בחזון שהוביל למעגל התנופה</h3>
                <a href="/discussions/{_id}">{title}</a>
            </div>
        </div>
    </div>
                    <span class="number">
                          {date|date_short}
                    </span>
                    <span class="text">
                        יצירת דיון
                    </span>
</div>