<div class="one cf">
    <div class="user-right">
        <span class="arrow"></span>
        <div class="left">
            <a href="">טדנמ ןת</a>
            <a href="">בוקע</a>
            <a href="">העדוה חלש</a>
        </div>
        <div class="right">
            <div class="img-box" style="overflow: hidden;">
                <div style="width:60px;; overflow:hidden; " class='auto-scale' >
                    <img  src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/49136_745621901_4865704_n.jpg" alt=""/>
                </div>
                <span></span>
            </div>
            <h4>רומשאר זעוב</h4>
            <div class="date">13.3.12</div>
            <div class="proxy">
                <span>3</span>
            </div>
            <div class="respect">
                <span>20</span>
            </div>
        </div>
    </div>
    <div class="text">
        <p>לכתוב ביוגרפיה קצרה דברים שאתה אוהב, אג’נדה, דעות, ומה שתרצה על עצמך. כאן אפשר
            לכתוב ביוגרפיה קצרה כאן אפשר לכתוב ביוגרפיה קצרה דברים שאתה אוהב, אג’נדה, דעות, ומה
            שתרצה על עצמך. בנוסף, אפשר לכתוב ביוגרפיה קצרה לכתוב ביוגרפיה קצרה דברים שאתה
            אוהב, אג’נדה, דעות, ומה שתרצה על עצמך. כאן אפשר לכתוב ביוגרפיה קצרה כאן אפשר לכתוב
            ביוגרפיה קצרה דברים שאתה אוהב, אג’נדה, דעות, ומה שתרצה על עצמך. בנוסף, ביוגרפיה
            קצרה דברים שאתה אוהב. </p>
        <a href="">מעבר לדיון </a>
    </div>
    <div class="ratio">
        <a class="up" href=""></a>
        <div class="count">252</div>
        <a class="down" href=""></a>
    </div>
</div>