<div style="left: 100%" class="event event-next">
    <div class="icon next-icon">
        <span class="i"></span>
        <div class="popup-event type-three">
            <div class="popup-text">
                <h3>פברואר</h3>
                <ul class="">
                    <li><strong>2.2</strong> - יצירת דיון</li>
                    <li><strong>8.2</strong> - הפגנה</li>
                    <li><strong>2.2</strong> - דיון</li>
                    <li><strong>2.2</strong> - יצירת דיון</li>
                    <li><strong>8.2</strong> - הפגנה</li>
                    <li><strong>2.2</strong> - דיון</li>
                    <li><strong>2.2</strong> - יצירת דיון</li>
                    <li><strong>8.2</strong> - הפגנה</li>
                    <li><strong>2.2</strong> - דיון</li>
                </ul>
            </div>
        </div>
    </div>
                    <span class="number">
                       {date|date_short}
                    </span>
                    <span class="text">
                        תאריך יעד
                    </span>
</div>