<div style="left:{offset}px" class="event event-prev creation"  id="timeline_item_{timeline_index}">
    <div class="icon green-icon">
        <span class="i"></span>

        {?is_displayed}
            <div class="popup-event type-two showdiv" item-id="{_id}">
        {:else}
                <div class="popup-event type-two" item-id="{_id}">
        {/is_displayed}
            <div class="popup-text">
                <img  width="90" src="{image_field.url}" class="floatRight" />
                <div class="title">{title}</div>
                {text_field_preview|s|check}
            </div>
        </div>
    </div>

    {^cluster}
        <span class="number">
              {date|date_short}
        </span>
        <span class="text">
עדכון
        </span>
    {/cluster}
</div>
