<div class="one">
    <div class="right-image" style="overflow: hidden;">
        <a href="/updates/{_id}">
            <div style="width:141px;height: 79px; overflow:hidden; " class='auto-scale' >
                    <img  src="{image_field.url}" alt=""/>
            </div>
        </a>

        <span></span>
    </div>
    <a class="no_underline_cursor_when_hover" href="/updates/{_id}">
        <h4>{title}</h4>
    </a>

     <p>{text_field_preview|s}<a href="/updates/{_id}">קרא עוד</a></p>

    <a href="/facebookShare?link=/updates/{_id}" target="_blank" class="btn share" data-title="{title}" data-text_preview="{text_field_preview}" data-img_src="{image_field.url}" rel="/updates/{_id}" >
        שתף
    </a>
</div>
