<div class="cycle_tabs_box">
        <ul class="tabs-nav">
            <li><h5 class="timeline_tab right selected"> <span class="timeline-first-part">ציר הזמן</span><span id="timeline-second-part">תצוגה על פי תאריך</span></h5></li>
            <li><h5 class="map_tab left"><span class="timeline-first-part">מפה</span>
                <span >תצוגה על פי מיקום</span></h5></li>
        </ul>
        <div id="tabs_cycle_timeline">
            <div class="followers-diagram"></div>
        </div>
        <div id="tabs_cycle_map">
            <div id="cycle_map_box">
                <div id="cycle_map" class="cycle_map" style="width: 742px; height: 354px "></div>
                <div id="action_list_box">
                    <div id="action_list" class="action_list">
                        <h1 class="title">רשימת כל הפעולות</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




