<div style="left: {offset}%" class="event event-next">
    <div class="icon blue-icon">
        <span class="i"></span>
        <div class="popup-event type-one">
            <div class="popup-text">
                <h4>{title}</h4>
                <p>{location}</p>
                <p>תל אביב</p><br />
                <p>20:00</p>
                <a class="join-btn" href="">הצטרף</a>
            </div>
    </div>
                    <span class="number">
                        {date|date_short}
                    </span>
                    <span class="text">
פעולה
                    </span>
</div>
