
<div id="elected_dicussions">
        <span class="title1">
                                                            אנו שמחים שבחרת להצביע ולקחת חלק בשינוי שהתנועה שואפת להוביל.
        </span>
    <br>
        <span class="title2">
                                                           אלו הדיונים המתנהלים באתר סביב ההצעות לשינוי שבחרת ותחת הנושאים המובילים שלך.
           <br>
                                                           נשמח לראותך משתתפת בדיון
        </span>
</div>

<div id="elected_discussions_list" class="services-blue services-blue-two cf">
</div>

