<div class="suggestion_wrapper {?is_editable}edit_suggestion{:else}show_context{/is_editable}" data-id="{id}"
     data-creator_name="{creator_id.first_name} {creator_id.last_name}"
     data-creator_id="{creator_id.id}">
    <div class="suggestion_holder window">
        <div class="suggestion_details">
            <div class="img-box" style="overflow: hidden;">
                <div class="photo auto-scale" style="height:64px">
                    <img src="{?creator_id}{creator_id.avatar_url}{:else}/images/default_user_img.gif{/creator_id}" />
                </div>
                <span></span>
            </div>

            <div class="name">
                {creator_id.username}
            </div>
            <div class="date_time">
                <span class="time">{?creation_date}{creation_date|time}{/creation_date}</span>
            </div>
            <div class="ratings">
                <span class="awards">{creator_id.score}</span>
                &nbsp;
                <span class="friends">{creator_id.num_of_proxies_i_represent}</span>
            </div>
        </div>
        <div class="button_edit_comment">
            <input type="button" />
        </div>

        <div class="suggestion_content">
            <div class="text_orig">
                <h3 class="title">טקסט מקורי:</h3>
                {original_part}
            </div>
            <div class="text change_proposal">
                <h3 class="title">הצעה לשינוי:</h3>
                    {alternative_part}
                <h3 class="title">נימוק:</h3>
                {explanation}
                <div class="edit_window">
                    <div class="text_top"></div>
                    <p>{context_before}</p>
                    <p class="focus">{alternative_part}</p>
                    <p>{context_after}</p>
                    <div class="text_bottom"></div>
                </div>
            </div>
        </div>
        <div class="suggestion_bottom">
            <div class="suggestion_bottom_segment one">
                <div class="button button_pro">
                    <input type="button" />
                </div>
                <div class="button button_against">
                    <input type="button" />
                </div>
                <div class="button fb_like">
                    <img src="/images/placeholder_fb.png" />
                </div>
            </div>
            <div class="suggestion_bottom_segment two">
                <div class="supporters_wanted">
                    מספר תומכים דרוש <span>{wanted_amount_of_tokens}</span>
                </div>
                <div class="supporters_current">
                    מספר תומכים נוכחי <span>{curr_amount_of_tokens|round}</span>
                </div>
            </div>
            <div class="suggestion_bottom_segment three">
                <div class="comments_counter">
                    <span>17</span> תגובות להצעה
                    <div class="close">סגור</div>
                </div>
            </div>
        </div>
    </div>
    <div class="suggestion_comments_holder">
        <div class="add_comment" data-can-add="true">
            <input type="text" placeholder="כתוב תגובה..." />
        </div>
    </div>
</div>