<div class="comment-one noBorder"  data-id="{_id}">
    <div class="user-right">
        <span class="arrow"></span>
        <div class="left">
            <a href="">
                תן מנדט
            </a>
            <a href="">
                עקוב
            </a>
            <a href="">
                שלח הודעה
            </a>
        </div>
        <div class="right">
            <div class="img-box transparent-img">
                <img width="60" alt="{title}" src="{creator_id.avatar_url}">
                <span></span>
            </div>
            <h4>
                בועז ראשמור
            </h4>
            <div class="date">13.3.12</div>
            <div class="proxy">
                <span>3</span>
            </div>
            <div class="respect">
                <span>20</span>
            </div>
        </div>
    </div>
    <div class="text">
        <p>{text}</p>
        <div class="status">
            <div class="yes">
                <div class="green">
                    מסכים(2)
                </div>
                <div class="number">{votes_for}</div>
            </div>
            <div class="no">
                <div class="red">
                    לא מסכים
                </div>
                <div class="number">{votes_against}</div>
            </div>
        </div>
    </div>
    <div class="like-btn"><img src="/images/like-btn.png" alt="" /></div>
    <div class="nav-btns">
        <a href="">
            צטט
        </a>
        <a  href="/facebookShare?link=/discussions/{discussion_id}#post_{_id}" target="_blank">
            שתף
        </a>
    </div>
</div>