<div class="popup popup-small" id="explanation_popup">
    <div class="middle-popup">
        <label>
             כדי לבצע פעולה זו נדרשים {tokens_needed|s} אסימונים. ברשותך {tokens_owned|s} אסימונים.
        </label>

    </div>
    <div class="popup-bottom">
        <a class="dark-grey-btn ok-button" href="">{okButtonText}</a>
        <a class="dark-grey-btn cancel-button" href="">{cancelButtonText}</a>
        <div class="info-link">
            <a target="_blank" href="/page/tokens_guide">מה זה 'אסימונים', למה זה טוב ואיך משיגים כאלה?</a>
        </div>
    </div>

</div>