<h4 class="title">{title}</h4>
<img src="{image_field.url}" alt="{.title}" />
<h4><a href="">{text_field|s}</a></h4>

<div class="tags">
    {#tags}
        <a href="">{.}</a>{~n}
        {/tags}
    <div class="more">
        <span></span>
        <ul>
            <li><a href="">הצג עוד תגיות</a></li>
            <li><a href="">הוסף תגית</a></li>
        </ul>
    </div>
</div>

<!--
<div class="line">
    <h4> הסקר היומי:</h4>
    <p>איזה פתק שמת בקלפי בבחירות האחרונות?
        התגלו נתונים מטרידים על מצב העוני בישראל 2012 ...</p>
    <img src="images/diagram.png" alt="" />
</div>
<div class="line cf">
    <h4>המסקנות:</h4>
    <div class="percent">
        <span>57%</span>
        לא יודעים
    </div>
    <div class="percent">
        <span>43%</span>
        יצביעו
    </div>
</div> -->