<h4 class="title">{title}</h4>
{?link}<a href="{link}">{/link}
    <div style="width:291px; height:167px;" class="auto-scale">
        <img src="{image_field.url}" alt="{.title}"  title="{tooltip_or_title}" />
    </div>
{?link}</a>{/link}

<h4><a href="">{text_field|s}</a></h4>

<div class="tags">
    {#tags}
        <a href="/information_items?tag_name={.|u}"
    {@idx}
    {@if cond="({.} > 3 )"}
    style="display:none;"
    {/if}
    {/idx}>{.}</a>{~n}
        {/tags}
    <div class="more hide">
        <span></span>
        <ul>
            {@if cond="(0{tags|length} > 4 )"}
            <li><a href="">הצג עוד תגיות</a></li>
            {/if}
            <li><a href="">הוסף תגית</a></li>
        </ul>
    </div>
</div>