 <div class="one" id="{_id}">
        <a class="delete-app" href="" item_id="{_id}" ></a>
   {?image_field_preview}
     <a href="/information_items/{_id}">
     <div style="width:292px; height:194px;" class="auto-scale">
        <img src="{image_field_preview.url}" alt="{title}"  title="{tooltip_or_title}"/>
    </div>
     </a>
     {/image_field_preview}
    <h4>{title}</h4>
    <div item_id="{_id}" class="item_text_preview">
        {?text_field_preview}<p>{text_field_preview|s}</p>{/text_field_preview}
    </div>
    <div class="btn-box">
        <a  class="confirm share" data-title="{title}" data-text_preview="{text_field_preview}" data-img_src="{image_field_preview.url}" rel="/information_items/{_id}" href="/facebookShare?link=/information_items/{_id}">שתף</a>
        <a item_id="{_id}" class="delete" href=""><span>הסר</span></a>
    </div>
</div>
