<div class="slide-wrap">
    <a class="prev prev-1" href=""></a>
    <a class="next next-1" href=""></a>
    <div class="tab-slide tab-slide-1">
        {#groups}
            <div class="slides-one">
              {#group}
                <div class="one">
                    <img class="floatRight" src="images/sample-6.jpg" alt="" />
                    <h4>{title}</h4>
                    <p>תחום <br /> תאריך הצטרפות</p>
                    <div class="btn-box">
                        <a href="">הספק לעקוב</a>
                    </div>
                </div>
               {/group}
            </div>
        {/groups}

    </div>
</div>