<div class="one cf">
    <div class="right-image">
        <div class="img-box">
            <img src="{?pic.url}{pic.url}{:else}{pic}{/pic.url}" alt=""/>
            <img class="shadow" src="" alt=""/>
        </div>
    </div>
    <!--<p>-->
        <!--<strong>-->
        <!--{description_of_notificators}-->
        <!--</strong>-->
         <!--<a href="{link}"> {message_of_notificators}</a>-->
    <!--</p>-->
    <p>
        <strong>
            {description_of_notificators} {message_of_notificators}
        </strong>
        <a href="{link}">{?name}{name}{/name}</a>
    </p>
    <div class="date">{update_date|time}</div>
    <a class="btn share" data-img_src="{image_field_preview}" data-text_preview="{text}" data-title="" rel="{link|uc}" href="/facebookShare?link={link|uc}">שתף</a>
</div>