
<div class="one cf">
    <div class="link_to_resource" data-link="{main_link}">
        <div class="right-image">
            <div class="img-box">
                <img src="{?pic.url}{pic.url}{:else}{pic}{/pic.url}" alt=""/>
                <img class="shadow" src="" alt=""/>
            </div>
        </div>
        <p>
            {?user}
                {?user_link}
                <a class="inline_link" href="{user_link}">{user} </a>
                {:else}
                <a class="user">{user} </a>
                {/user_link}
            {/user}

            <span class="part_one">{part_one} </span>
            <a class="inline_link" href="{link_two}">{part_two}</a>
            <span class="part_three">{part_three}</span>

            {?part_four}
            <a class="inline_link" href="{link_four}">{part_four}</a>
            {/part_four}

            {?part_five}
            <span class="part_five">{part_five} </span>
            {/part_five}
        </p>
        <div class="date">{update_date|time}</div>
    </div>
    {?extra_text}
    <p>
        <span class="extra_text">{extra_text}</span>
    </p>
    {/extra_text}
    {?check_going}
        {?is_going}
    <a class="btn share" data-img_src="{img_src.url}" data-text_preview="{text_preview}" data-title="{title}" rel="{link|uc}" href="/facebookShare?link={link|uc}">שתף</a>
        {:else}
        <a class="btn join-btn" href="{link}#join" item-id="{_id}">הצטרף</a>
        {/is_going}
    {:else}
    <a class="btn share" data-img_src="{img_src.url}" data-text_preview="{text_preview}" data-title="{title}" rel="{main_link|uc}" href="/facebookShare?link={main_link|uc}">שתף</a>
    {/check_going}

    </a>
</div>


