

<div class="popup login-popup"  >
           <div>

                <form id="login_pop_form" action="/account/login" method="POST">
                   <h2>
                       הרשם
                   </h2>
                   <input name="email" type="text" placeholder='דוא"ל'/>
                    <input name="password" type="password" placeholder="ססמה" />
                    <a class="forgot_password" href="/account/forgot_password">
                        שכחת סיסמה?
                    </a>
                    <input type="submit" value="התחבר" />
                </form>
                <div class="spacer"></div>
                <a class="facebook" href="/account/facebooklogin?next=<%=url%>"></a>

            </div>
         </div>

 </div>

<!--

<script type="text/javascript">

    $("#login_pop_form").validate(
            {

            rules:{
                email:{required: true },
                password:{required: true }
            }

        });
</script>
-->
