

<div class="popup login-popup"  >
           <div>

                <form id="login_pop_form" action="javascript:void(0)" method="POST">
                   <h2 id="login_title">
                       הרשם
                   </h2>
                   <input name="email" type="text" placeholder='דוא"ל'/>
                    <input name="password" type="password" placeholder="סיסמא" />
                    <a class="forgot_password" href="/account/forgot_password">
                        שכחת סיסמה?
                    </a>
                    <input id="login_ajax" type="submit" value="התחבר" />
                </form>
                <div class="spacer"></div>
                <a id="fb_ajax_conncect" class="facebook" href="javascript:void(0)"></a>

            </div>
         </div>

 </div>

