

<div class="popup login-popup"  >
    <div class="alert">     <p>
        שם המשתמש שהוזן שגוי. אנא נסו שוב
 </p>   </div>
       <div>
                <form id="login_pop_form" action="javascript:void(0)" method="POST">
                    <h2 id="login_title">
                       הזינו את הפרטים האישיים
                    </h2>
                    <div class="box">
                        <input name="email" type="text" placeholder='דוא"ל'/>
                        <input name="password" type="password" placeholder="סיסמא" />
                    </div>
                    <div class="box left">
                        <input id="login_ajax" type="submit" value="" />
                        <br>
                        משתמש חדש?
                        <br>
                        <a href="/account/register" class="register">לחץ כאן להרשמה</a>
                   </div>
                    <a class="forgot_password" href="/account/forgot_password">
                        שכחת סיסמא?
                    </a>

                </form>
               <div class="bottom">
                   <hr>
                   <br>
                   <h2>
                  או
                   </h2>   <a id="fb_ajax_conncect" class="facebook" href="javascript:void(0)"></a>
               </div>
       </div>
    <div class="noalert">

 </div>

