<blockquote>
    <span class="quote_start"></span>
    {quote}
    <span class="quote_end"></span>
    <span class="quote_credit">
        <a target="_blank" href="/elections_game/{candidate._id}">
            {candidate.name}
        </a>,&nbsp;
        <span class="quote_party">
             {candidate.party_name}
        </span>
        <a class="source" target="_blank" href="{source_link}">
            (למקור הציטוט)
        </a>
    </span>


    <div id="current_quote_photo">
            <img src="http://cdn.uru.org.il/quote_photo.png" />
    </div>

</blockquote>