<div class="slides-one">
    <div class="one">
        <h4>מחאה אלימה חסרת תקדים נגד הולכי
            מצעד הגאווה בירושלים, חמישה נעצרו</h4>
        <p>בדו”ח של הלשכה המרכזית לסטטיסטיקה שפורסם
            השבוע התגלו בדו”ח נתונים מפתיעים ומרשימים, כאלה
            שלא ראינו הרבה זמן. אם תרצו להשיך לקרוא, אנא
            לחצו כאן ותועברו למוקד הארצי למידע נוסף בעניין...</p>
        <div class="tags">
            <div class="info">
                <span class="talks">33</span>
                <span class="watched">151</span>
            </div>
            <a href="">הלטבא</a>
            <a href="">הלכלכ</a>
        </div>
    </div>
    <div class="one">
        <img class="floatRight" src="images/sample-6.jpg" alt="" />
        <h4>כאן נכתוב משהו נחמד והגיוני עד</h4>
        <p>בדו”ח של הלשכה  המרכזית לסטטיסטיקה  שפורסם השבוע התגלו בדו”ח של הלשכה ..</p>
        <div class="tags">
            <div class="info">
                <span class="talks">33</span>
                <span class="watched">151</span>
            </div>
            <a href="">הלטבא</a>
            <a href="">הלכלכ</a>
        </div>
    </div>
    <div class="one">
        <img class="floatRight" src="images/sample-6.jpg" alt="" />
        <h4>כאן נכתוב משהו נחמד והגיוני עד</h4>
        <p>בדו”ח של הלשכה  המרכזית לסטטיסטיקה  שפורסם השבוע התגלו בדו”ח של הלשכה ..</p>
        <div class="tags">
            <div class="info">
                <span class="talks">33</span>
                <span class="watched">151</span>
            </div>
            <a href="">הלטבא</a>
            <a href="">הלכלכ</a>
        </div>
    </div>
</div>