<div id="footer_wrapper">

    <div id="footer_content">
        <div class="col col_1">
            <h3>קישורים מהירים</h3>
            <ul>
                <li><a target="_blank" href="/about">אודות עורו</a></li>
                <li><a target="_blank" href="/page/story">הסיפור שלנו</a></li>
                <li><a target="_blank" href="/team">הצוות</a></li>
                <li><a target="_blank" href="/page/terms">תקנון האתר</a></li>
                <li><a target="_blank" href="/page/rules">כללי התנהלות באתר</a></li>
            </ul>
        </div>
        <div class="col col_2">
            <h3>מערכת האתר</h3>
            <ul>


                <li><a target="_blank" href="/discussions">      מדריך למשתמש</a></li>
                        <li><a target="_blank" href="/discussions">דיונים</a></li>
                        <li><a target="_blank" href="/cycles">מעגלי תנופה</a></li>
                        <li><a target="_blank" href="/actions">פעולות</a></li>
                    </ul>
                </li>

        </div>
        <div class="col col_3">
            <h3>צרו קשר</h3>
            התנועה האזרחית החדשה בע"מ (חל"צ)<br/>
            רחוב התעשייה 8, תל-אביב<br/>
            טל' 03-7368600<br/>
            פקס 03-7368700<br/>
            <a href="mailto:info@uru.org.il">info@uru.org.il</a>
        </div>
        <div class="col col_4">
            <h3>ברשתות החברתיות</h3>
            <div id="social_icon_row">
                <div class="social_icon">
                    <a href="#"><img src="/images/icon_fb.png" /></a>
                </div>
                <div class="social_icon">
                    <a href="#"><img src="/images/icon_tw.png" /></a>
                </div>
                <div class="social_icon">
                    <a href="#"><img src="/images/icon_gp.png" /></a>
                </div>
            </div>
            <div id="social_icon_row">
                <div class="social_icon">
                    <a href="#"><img src="/images/icon_yt.png" /></a>
                </div>
                <div class="social_icon">
                    <a href="#"><img src="/images/icon_share.png" /></a>
                </div>
                <div class="social_icon">
                    <a href="#"><img src="/images/icon_rss.png" /></a>
                </div>
            </div>
        </div>
    </div>
</div>