<div id="main-thing">
	<div class="main-thing-in">
		<div class="what"></div>

		<ul id="display-inline-block-example">
			<li class="uru1">
				<div class="intext-top"><p><strong>חינוך טוב יותר</strong><br>תוגדל ההשקעה בתגמול והכשרת מורים ובכיתות קטנות</p></div><div class="intext-top-b"><p id="select" class="checkBox"></p></div>
				<div class="intext-bottom"><p><strong>שיוויון הזדמנויות לכל ילד</strong><br>סל תלמיד אחיד וחובת לימוד ליבה לכל</p></div><div class="intext-bottom-b"><p id="select" class="checkBox"></p></div>
			</li>
			<li class="uru2">
				<div class="intext-top"><p><strong>חיזוק דעת הרוב</strong><br>יועלה אחוז החסימה בבחירות הכלליות לכנסת</p></div><div class="intext-top-b"><p id="select" class="checkBox"></p></div>
				<div class="intext-bottom"><p><strong>יוגבל גודל הממשל</strong><br>עד 18 שרים ו-6 סגני שרים, לחיסכון תקציבי וחיזוק הכנסת</p></div><div class="intext-bottom-b"><p id="select" class="checkBox"></p></div>
			</li>
			<li class="uru3">
				<div class="intext-top"><p><strong>הפחתת יוקר המחיה</strong><br>יופחתו עמלות וריביות הבנקים ללקוחות ועסקים קטנים</p></div><div class="intext-top-b"><p id="select" class="checkBox"></p></div>
				<div class="intext-bottom"><p><strong>הוזלת הדיור</strong><br>אישור בנייה לפרוייקטים גדולים יותנה בהקצאה לדיור בר-השגה</p></div><div class="intext-bottom-b"><p id="select" class="checkBox"></p></div>
			</li>
			<li class="uru4">
				<div class="intext-top"><p><strong>גיוס לכל</strong><br>תיקבע חובה אחידה של שירות צבאי או אזרחי בגיל 18 לכלל האזרחים</p></div><div class="intext-top-b"><p id="select" class="checkBox"></p></div>
				<div class="intext-bottom"><p><strong>תגמול הולם</strong><br>יינתן תגמול גבוה יותר למשרתים ויוגבלו הקצבות לפטורים משירות</p></div><div class="intext-bottom-b"><p id="select" class="checkBox"></p></div>
			</li>
			<li class="uru5">
				<div class="intext-top"><p><strong>שיפור תנאים</strong><br>יאכפו חוקי העבודה על כלל העובדים, לרבות עובדי קבלן וזרים</p></div><div class="intext-top-b"><p id="select" class="checkBox"></p></div>
				<div class="intext-bottom"><p><strong>בריאות נגישה</strong><br>יועלה משמעותית מספר מיטות האשפוז והסגל בבתי החולים</p></div><div class="intext-bottom-b"><p id="select" class="checkBox"></p></div>
			</li>
			<li class="uru6">
                <div class="intext-top"><p><strong>אנרגיה ממקורות מתחדשים</strong><br>יוסרו חסמים בירוקרטיים מעכבים ויקודם השימוש</p></div><div class="intext-top-b"><p id="select" class="checkBox"></p></div>
                <div class="intext-bottom"><p><strong>משאבי טבע לכל</strong><br>תוקם קרן ניהול הכנסות מדינה מגז ונפט לטובת הדורות הבאים</p></div><div class="intext-bottom-b"><p id="select" class="checkBox"></p></div>
            </li>
			<li class="uru7">
				<div class="intext-top"><p><strong>מאבק בעבריינות</strong><br>תוחמר האכיפה ומדיניות הענישה על עבירות גוף ורכוש</p></div><div class="intext-top-b"><p id="select" class="checkBox"></p></div>
				<div class="intext-bottom"><p><strong>יותר שוטרים ברחוב</strong><br>יועלו משמעותית מספר השוטרים, תגמולם והכשרתם</p></div><div class="intext-bottom-b"><p id="select" class="checkBox"></p></div>
			</li>
			<li class="uru8">
				<div class="intext-top"><p><strong>העלה הצעה משלך</strong> (אופציונלי):</p><div class="intext-top-last"><p id="select" class="checkBox"></p></div></div>

				<div class="select-z">
					<select id="styledSelect" class="blueText">
						<option value="0">בחר נושא</option>
						<option value="1">חינוך</option>
						<option value="2">משק וכלכלה</option>
						<option value="3">תעסוקה ובטחון חברתי</option>
						<option value="4">ביטחון אישי</option>
						<option value="5">ממשל ודמוקרטיה</option>
						<option value="6">שוויון בזכויות וחובות</option>
						<option value="7">סביבה, אנרגיה וקיימות</option>
					</select>
				</div>

				<textarea class="placeholder" id="textarea" cols="48" rows="3">הכניסו תיאור</textarea>

				<div class="intext-bottom"></div>
			</li>
		</ul>
	</div>
	<div class="down-text">
		<p>
			המצביעים מצטרפים לעורו ומוזמנים להשתתף בדיונים המתנהלים באתר סביב ההצעות.
		</p>
	</div>
</div>

<div class="vote-container<%if(!user_logged){%>-non-reg<%}%>">
	<div class="reg-container">
		<div class="rightone">
			<p>התחברו לעורו באמצעות</p>
			<a href="#" id="facebook-connect"><img src="/images/elections/connectwith.png" alt="התחבר לעורו"></a>
		</div>
		<div class="leftone">
			<form id="user-signup">
				<label id="id1"><input id="full_name" class="placeholder design2" size="22" value="שם + שם משפחה" name="full_name" type="text"></label>
				<label><input id="email" class="placeholder design2" size="22" value="כתובת מייל" name="email" type="email"></label>
			</form>
		</div>
	</div>
	<div class="inarea">
		<a href="#" id="send-vote"><img src="/images/elections/vote-now.png" alt="שלח הצבעה-תנועת עורו"></a>
	</div>
</div>

<div id="box-share">
	<div id="close"><img src="/images/elections/close.png" alt="עורו" /></div>
	<div class="icons">
		<a href="mailto:?subject=%D7%92%D7%9D%20%D7%90%D7%A0%D7%99%20%D7%9E%D7%A8%D7%92%D7%99%D7%A9%20%D7%90%D7%96%D7%A8%D7%97%20%D7%9C%D7%90%20%D7%9E%D7%99%D7%95%D7%A6%D7%92%20%E2%80%93%20%D7%90%D7%96%20%D7%91%D7%97%D7%A8%D7%AA%D7%99%20%D7%91%D7%A0%D7%95%D7%A9%D7%90%D7%99%D7%9D%20%D7%94%D7%97%D7%A9%D7%95%D7%91%D7%99%D7%9D%20%D7%9C%D7%99%20%D7%91%D7%90%D7%9E%D7%AA!&body=מרגישים כמוני שהפוליטיקאים לא סופרים אותנו? במקום להתייאש, הצטרפתי לעורו כדי שנוכל להתאגד ולקחת אחריות על חיינו. בתור התחלה, הצבעתי בבחירות של עורו" target="_blank"><img class="icon" src="/images/elections/enva.png" alt="עורו" /></a>
		<a href="#" id="share-google"><img class="icon" src="/images/elections/google.png" alt="עורו" /></a>
		<a href="#" id="share-twitter"><img class="icon" src="/images/elections/tweet.png" alt="עורו" /></a>
		<a href="#" id="share-facebook"><img class="icon" src="/images/elections/face.png" alt="עורו" /></a>
	</div>
</div>

<div id="screen"></div>
<style>p.error {color: magenta;font:normal 14px/18px Arial}</style>
<script type="text/javascript">
$(function() {
    var user_logged = <%=user_logged%>;

    var user_is_new	= false,
		mapGuide = {
			0:	'entry.6.group',
			1:	'entry.7.group',
			2:	'entry.13.group',
			3:	'entry.11.group',
			4:	'entry.25.group',
			5:	'entry.23.group',
			6:	'entry.9.group',
			7:	'entry.31.group',
			8:	'entry.21.group',
			9:	'entry.19.group',
			10:	'entry.33.group',
			11:	'entry.35.group',
			12:	'entry.17.group',
			13:	'entry.15.group'
		};

    $('#user-signup').validate({
        errorElement: "p",

        rules:{
            full_name:{
                required: true,
                two_parts: true
            },
            email:{
                required: true
            }
        },
        messages:{
            full_name: {
                required:"נא להזין שם פרטי ומשפחה"
            },
            email:{
                required:'נא להזין כתובת מייל',
                email:'ההרשמה לא הצליחה, אנא בידקו את כתובת המייל שהוזנה'
            }
        },
        highlight: function (element, errorClass) {
            $(element).addClass('error').removeClass('valid');
        },
        unhighlight: function (element, errorClass) {
            $(element).removeClass('error').addClass('valid');
        },

        invalidHandler: function(form, validator) {
            var errors = validator.numberOfInvalids();
        }
    })

	function getVoteData() {
		var data = {};
		$('.checkBox,.checkBoxClear').each(function(index) {
			if ($(this).hasClass('checkBoxClear')) {
				if (index === 14) {
					data['entry.37.single'] = $('#textarea').val();
                    data['entry.44.single'] = $('#styledSelect').val()
				} else {
					data[mapGuide[index]] = 'X';
				}
			}
		});
        data.email = $('#voting_email').val();
		return data;
	}

	function shareScreen() {
		$('#box-share,#screen').show();
		$('#screen,#close').one('click', function() {
			window.location.href = window.location.href;
		}).show();
	}

	$('#display-inline-block-example').on('click', '.checkBox,.checkBoxClear', function() {
		var $this = $(this);

		if ($this.hasClass('checkBox') && $('#display-inline-block-example .checkBoxClear').length === 5) {
			popupProvider.showOkPopup({message: 'באפשרותך לבחור עד 5 הצעות.'});
		} else {
			$this.toggleClass('checkBox checkBoxClear');
		}
	});


	$('#textarea, .design2').on('focus blur', function(e) {
		var $this = $(this);

		switch (e.type) {
		case 'focus':
			if ($this.hasClass('placeholder')) {
				$this.data('placeholder', $this.val()).removeClass('placeholder').val('');
			}
			break;
		case 'blur':
			if ($this.val().replace(/^\s+$/, '') === '') {
				$this.addClass('placeholder').val($this.data('placeholder'));
			}
			break;
		}
	});

    function sendVote() {
        var data = getVoteData();
        $.post('/elections/vote', data, function(ret_data){
            shareScreen();

        }).fail(function(e) {
            setTimeout(function(){
                popupProvider.showOkPopup({message: 'אפשר להצביע רק פעם אחת.'});
            },300);
        });
    }


	$('#send-vote,#send_vote_1').on('click', function(e) {
        e.preventDefault();

        if($('#user-signup').validate().errorList.length > 0){
            popupProvider.showOkPopup(
                    {
                        message: 'עליך למלא פרטים '/*,
                        callback: function(){
                            location.hash = "#main-thing";
                        }*/
                    }
            );

            return false;
        }

        if($('#display-inline-block-example .checkBoxClear').length === 0){
            popupProvider.showOkPopup(
                {
                    message: 'עליך לבחור הצעה',
                    callback: function(){
                        location.hash = "#main-thing";
                    }
                }
            );

            return false;
        }

		if ($('.intext-top-last p.checkBoxClear').length > 0) {
			if ($('#styledSelect').val() === '0') {
				popupProvider.showOkPopup({
                    message: 'עליך לבחור נושא מהרשימה.',
                    callback: function(){
                        location.hash = "#main-thing";
                }});

				return false;
			} else if ($('#textarea').hasClass('placeholder')) {
				popupProvider.showOkPopup({message: 'עליך לתת תיאור להצעתך.'});
				return false;
			}
		}

        var place_holder_balance = $.browser.msie ? 2 : 0;
        if (user_logged === false) {
                if ($('input.placeholder').length > place_holder_balance) {
                popupProvider.showOkPopup({message: 'אנא התחבר למערכת או הירשם כדי להצביע.'});
                return false;
            }

            var $input		= $('#user-signup :input'),
				full_name	= $input.eq(0).val(),
				email		= $input.eq(1).val();

            $.post('/api/register', {full_name:full_name, email:email}, sendVote).fail(function(e) {
                    popupProvider.showOkPopup({message: 'ההרשמה לא הצליחה, אנא בידקו את כתובת המייל שהוזנה'});
            });
			return false;
		}
        sendVote();

		return false;
	});

	$("#facebook-connect").on('click', function(){
		facebookLogin(function(error, result) {
			if (!error) {
				if(result.is_new) {
					user_is_new = 'facebook';
				}
				user_logged = true;
				popupProvider.showOkPopup({message: 'חוברת למערכת בהצלחה.'});
				$('.vote-container-non-reg').addClass('vote-container').removeClass('vote-container-non-reg');
			} else {
				console.error(error);
				popupProvider.showOkPopup({message: 'הנסיון להתחבר באמצעות פייסבוק כשל.'});
			}
		});
		return false;
	});

	$('#share-facebook').on('click', function() {
	    window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent('http://www.uru.org.il'),
	    	'share-facebook', 'status=0,scrollbars=0,location=0,height=320,width=660,resizable=1');
		return false;
	});

	$('#share-twitter').on('click', function() {
	    window.open('https://twitter.com/share?url=' + encodeURIComponent('http://www.uru.org.il') + '&text=' +
	    	encodeURIComponent('גם אני מרגיש חלק מהרוב הלא מיוצג, שמתי בצד הבדלים של שמאל-ימין מדיני ובחרתי בנושאים שחשוב לי לשנות. מרגישים כמוני? הצטרפו והצביעו!') +
	    	'&via=URUisrael', 'share-twitter', 'status=0,scrollbars=0,location=0,height=320,width=660,resizable=1');
		return false;
	});

	$('#share-google').on('click', function() {
	    window.open('https://plusone.google.com/_/+1/confirm?hl=en&url=' + encodeURIComponent('http://www.uru.org.il'),
	    	'share-google', 'status=0,scrollbars=0,location=0,height=320,width=660,resizable=1');
		return false;
	});

	$('#user-signup').on('submit', function(){return false;});
});
</script>