<center class="ie7_message">
    עורו תנועה חברתית של שנות האלפיים, ואילו הדפדפן שלך שייך לימי הביניים.
    <br/>
    <br/>
    על מנת להכנס ולהשפיע אנא עדכן את הדפדפן שלך:
    <br/>
    <br/>
    <p>
        <a href="http://www.google.com/chrome">Chrome</a>
    </p>
    <br/>
    <p>
        <a href="www.mozilla.org/en-US/firefox/new/">Firefox</a>
    </p>
    <br/>
    <p>
        <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home">Internet Explorer 9</a>
    </p>
</center>

<div id="footer">


    <div class="extra cf">
        <div class="one-col">
            <h4>תנועת עורו</h4>
          <p>
              עורו היא תנועה חברתית לייצוג הרוב בישראל. אנו מאמינים שבעידן שבו אנו חיים, כולנו מסוגלים וזכאים להשתתף בקבלת ההחלטות. לכן, עורו מנהלת פלטפורמה לדיון ציבורי, יסודי ואפקטיבי שיוביל שינוי בסדר היום . אצלנו, האג'נדה מוכתבת מלמטה.
          </p>
        </div>
        <div class="two-col">
            <h4>קישורים</h4>
            <ul>
                <li><a href="/about">
אודות עורו
                </a></li>
                <%
                var links =  footer_links();
                var pages = ['about', 'team', 'founders', 'qa'];
                links.forEach(function(menu){
                if(menu.is_on_footer !== false) {
                var page =  pages.indexOf(menu.tab) === -1 ? '/page/' : '/';
                %>
                <li><a href="<%= menu.link ? menu.link : page + menu.tab %>">
                    <%= menu.name %>
                </a></li><%
                }})
                %>


                <!--li><a href="/founders">
מייסדים
                </a></li>
                <li><a href="">חדשות</a></li>
                <li><a href="">תנאי שימוש</a></li>
                <li><a href="">בלוגים</a></li>
                <li><a href="">עזרה</a></li-->
            </ul>
        </div>
        <div class="three-col" id="footer_tags">
        </div>
    </div>
</div>

<!-- ClickTale Bottom part -->
<div id="ClickTaleDiv" style="display: none;"></div>
<script type='text/javascript'>
    document.write(unescape("%3Cscript%20src='"+
            (document.location.protocol=='https:'?
                    'https://clicktale.pantherssl.com/':
                    'http://s.clicktale.net/')+
            "WRd.js'%20type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
    var ClickTaleSSL=1;
    if(typeof ClickTale=='function') ClickTale(114,1,"www14");
</script>
<!-- ClickTale end of Bottom part -->

