<%
var description = description || '';
%>
<title>עורו</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="description" content="<%=description%>"/>
<link href="/css/reset.css" rel="stylesheet" type="text/css"/>

<link href="/css/jquery.tooltip.css" rel="stylesheet" type="text/css"/>
<link href="/css/ui-lightness/jquery-ui-1.8.21.custom.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/css/colorbox.css"/>
<link href="/css/style.css" rel="stylesheet" type="text/css"/>
<!--[if lte IE 7]>
<link href="/css/ie.css" rel="stylesheet" type="text/css"/><![endif]-->
<!--<script src="/js/jquery-1.6.1.min.js" type="text/javascript"></script>-->
<script src="/js/jquery-1.7.1.min.js" type="text/javascript"></script>
<script src="/js/jquery.colorbox-min.js" type="text/javascript"></script>
<script src="/js/jquery-ui-1.8.21.custom.min.js" type="text/javascript"></script>
<script src="/js/jquery.colorbox-min.js" type="text/javascript"></script>
<script src="/js/jquery.validate.min.js" type="text/javascript"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js" type="text/javascript"></script>
<script src="/js/jquery.cycle.all.js" type="text/javascript"></script>
<script src="/js/script.js" type="text/javascript"></script>
<script src="/js/dust-full-0.3.0.js" type="text/javascript"></script>
<script src="/js/db.js" type="text/javascript"></script>
<script src="/js/common.js" type="text/javascript"></script>
<script src="/js/compiled_templates.js" type="text/javascript"></script>
<script src="/js/listCommon.js" type="text/javascript"></script>
<script src="/js/jquery.ui.tabs.min.js" type="text/javascript"></script>
<script src="/js/jquery.tooltip.min.js" type="text/javascript"></script>
<script src="/js/search.js" type="text/javascript"></script>
<script src="/js/fileuploader.js" type="text/javascript"></script>
<script src="/js/popupProvider.js" type="text/javascript"></script>

<%- partial('partials/facebook.ejs') %>





