<a href="/" id="logo"></a>
<ul id="main-menu">
    <li><a href="/about">מה זה עורו</a></li>
    <li><a href="/information_items">מאגר מידע</a></li>
    <li><a href="/discussions">דיונים</a></li>
    <li><a class="cycle_comming_soon" href="/javascript:void(0)">מעגלי תנופה</a></li>
    <li><a class="action_comming_soon" href="javascript:void(0)">
        פעולות ואירועים
    </a></li>
</ul>
