<li><a class="active" href="">ראשי</a></li>
<li><a href="">מה זה עורו</a></li>
<li><a href="">מאגר מידע</a></li>
<li><a href="">דיונים</a></li>
<li><a href="">פעולות ואירועים</a></li>
<li><a href="">מעגלי תנופה</a></li>