<a href="/" id="logo"></a>
<ul id="main-menu">
    <li><a href="http://uru.org.il/story">מה זה עורו</a></li>
<li><a href="/information_items">מאגר מידע</a></li>
<li><a href="/discussions">דיונים</a></li>
<!--li><a href="/actions">פעולות וארועים</a></li-->
<!--li><a href="/cycles">מעגלי תנופה</a></li-->
</ul>
