<a href="/" id="logo"></a>
<ul id="main-menu">
    <li class="menu_item about_item">
        <a href="/about">

אודות עורו
        </a>
        <ul>
            <%
            var links =  footer_links();
            for(var i=0; i< links.length; i++) { %>
            <li><a href="<%= links[i].link ? links[i].link : '/page/' + links[i].tab %>">
                <%= links[i].name %>
            </a></li>
            <% } %>
        </ul>
    </li>
    <li class="menu_item"><a href="/information_items">מאגר מידע</a></li>
    <li class="menu_item"><a href="/discussions">דיונים</a></li>
    <li class="menu_item"><a class="cycle_comming_soon" href="javascript:void(0)">מעגלי תנופה</a></li>
    <li class="menu_item"><a class="action_comming_soon" href="javascript:void(0)">
        פעולות ואירועים
    </a></li>
</ul>
