<div class="leftCol">
    <div class="left-top">
        <a class="grey-btn gray_and_soon share" href="">שתף</a>
        <p>
            הוסיפו פריטי מידע שישמשו כבסיס ליצירת חזון ולדיון בו
        </p>
        <a class="green-btn" href="/discussions/new/<%= subject.id %>">הצע מציאות חדשה</a>
        <div class="link-more">
            <a href="/information_items/subject/<%= subject.id %>">חזור לאסוף פריטי מידע נוספים</a>
        </div>
    </div>
    <div class="card-products-left">
    </div>
</div>