<div id="box-share">
    <div id="close"><img src="/images/elections/close.png" alt="עורו"/></div>
    <div class="icons">
        <a href="mailto:?subject=%D7%92%D7%9D%20%D7%90%D7%A0%D7%99%20%D7%9E%D7%A8%D7%92%D7%99%D7%A9%20%D7%90%D7%96%D7%A8%D7%97%20%D7%9C%D7%90%20%D7%9E%D7%99%D7%95%D7%A6%D7%92%20%E2%80%93%20%D7%90%D7%96%20%D7%91%D7%97%D7%A8%D7%AA%D7%99%20%D7%91%D7%A0%D7%95%D7%A9%D7%90%D7%99%D7%9D%20%D7%94%D7%97%D7%A9%D7%95%D7%91%D7%99%D7%9D%20%D7%9C%D7%99%20%D7%91%D7%90%D7%9E%D7%AA!&body=מרגישים כמוני שהפוליטיקאים לא סופרים אותנו? במקום להתייאש הצטרפתי לעורו כדי שנוכל להתאגד ולקבוע סדר יום אזרחי חדש. הצבעתי בבחירות של עורו! http://uru.org.il"
           target="_blank"><img class="icon" src="/images/elections/enva.png" alt="עורו"/></a>
        <a href="javascript:void(0)" id="share-google"><img class="icon" src="/images/elections/google.png" alt="עורו"/></a>
        <a href="javascript:void(0)" id="share-twitter"><img class="icon" src="/images/elections/tweet.png" alt="עורו"/></a>
        <a href="javascript:void(0)" id="share-facebook"><img class="icon" src="/images/elections/face.png" alt="עורו"/></a>
    </div>
</div>

<div id="screen"></div>

<script>
    var global = global || {};
    global.share_messages = {
        'a': 'גם אני מרגיש חלק מהרוב הלא מיוצג, שמתי בצד הבדלים של שמאל-ימין מדיני ובחרתי בנושאים שחשוב לי לשנות. מרגישים כמוני? הצטרפו והצביעו!'
    };

    $('#share-facebook').one('click', function () {
        facebookLogin(function (error) {
            $.post('/elections/fbimage/' + FB.getUserID(), function (data) {
                var obj = {
                    url: data.target_url,
                    message: global.share_messages.a
                };
                FB.api('/me/photos', 'post', obj, function (response) {
                    if (!response || response.error) {
                        alert('Error occured');
                    } else {
                        popupProvider.showOkPopup({message: 'השיתוף הסתיים בהצלחה.'});
                    }
                });
            });
        });
    });

    $('#share-twitter').on('click', function () {
        window.open('https://twitter.com/share?url=' + encodeURIComponent('http://www.uru.org.il') + '&text=' +
                encodeURIComponent(global.share_messages.a) + '&via=URUisrael', 'share-twitter', 'status=0,scrollbars=0,location=0,height=320,width=660,resizable=1'
        );
        return false;
    });

    $('#share-google').on('click', function () {
        window.open('https://plusone.google.com/_/+1/confirm?hl=en&url=' + encodeURIComponent('http://www.uru.org.il'),
                'share-google', 'status=0,scrollbars=0,location=0,height=320,width=660,resizable=1');
        return false;
    });
</script>