<%
tag_name = typeof(tag_name) == 'undefined' ? '' : tag_name;
tab = typeof(tab) == 'undefined' ? 'information_items' : tab;
%>
<form action="/<%= tab %>" class="search-box" id="search_form" >
    <label>חיפוש לפי תגיות</label>
    <input autocomplete="off"  type="text" name='tag_name' id="search_term" value="<%= tag_name %>" />
    <input type="submit" value="חפש" />
    <ul id="search_suggest">
     <li class="topborder"></li>

    </ul>
</form>
