<% tag_name = typeof(tag_name) == 'undefined' ? '' : tag_name %>
<form action="/<%= tab %>" class="search-box">
    <label>חיפוש לפי תגיות</label>
    <input type="text" name='tag_name' value="<%= tag_name %>" />
    <input type="submit" value="חפש" />
</form>
