<div class="user-box">
    <span class="total-number">74</span>

    <%if(user_logged){%>
    <a href="/myuru">
        <span class="icon"></span>
    </a>
    <%}else{%> <span class="icon"></span><%}%>
    <h2>
        <%if(user_logged){%><%=user.first_name%><%}else{%>התחבר<%}%>
    </h2>
    <div class="hide-box">
        <%if(user_logged){%>
        <div class="user-login-box cf">
            <ul>
                <li class="chip"><a href="/myuru">האסימונים שלי <span class="icon-menu"></span><span class="number"><%=user.tokens%></span></a></li>
                <li class="respect"><a href="/myuru">מוניטין <span class="icon-menu"></span><span class="number"><%=user.score%></span></a></li>
                <li class="settings"><a href="">הגדרות <span class="icon-menu"></span></a></li>
                <li class="help"><a href="">עזרה <span class="icon-menu"></span></a></li>
            </ul>
            <div class="btn-box">
                <!--<a href="">הצג</a>
                <a href="">הסתר</a>-->
                <a href="/account/logout">
התנתק
                </a>
            </div>
        </div>
        <%}else{%>
        <form id="register_form" action="/account/login" method="POST">
            <input name="email" type="text" placeholder='דוא"ל'/>
            <input name="password" type="password" placeholder="ססמה" />
            <a class="forgot_password" href="/account/reset_password">
                שכחת סיסמה?
            </a>
            <input type="submit" value="התחבר" />
        </form>
        <div class="spacer"></div>
        <a class="facebook" href="/account/facebooklogin?next=<%=url%>"></a>
        <%}%>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#register_form").validate({
            rules:{
                email:{required: true },
                password:{required: true }
            }
//            messages:{
//                email: "דואל    ",
//                password: "סיסמה"
//            }
        });
    });
</script>