<!DOCTYPE html>

<html>
<head>
    <% include partials/head.ejs %>
</head>
<body>
<% include partials/body_top.ejs %>
<div id="wrap">
    <div id="header">
        <% include partials/menu.ejs %>
        <% include partials/user_box.ejs %>
        <% include partials/failures.ejs %>
        <% include partials/tag_search.ejs %>
    </div>
    <div id="content" class="cf">
        קרתה תקלה
    </div>
</div>
<% include partials/footer.ejs %>
</body>
</html>

