<!DOCTYPE html>

<html>
<head>
    <style>
        .subject_selected{color: #ff0000 ; font-size: 50px}
    </style>
    <% include partials/head.ejs %>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.tikunim-box h2').click(function () {
                $(this).parent().toggleClass('active');
            });
        });
    </script>
</head>
<body>
<% include partials/body_top.ejs %>
<div id="wrap">
    <div id="header">
        <% include partials/menu.ejs %>
        <% include partials/user_box.ejs %>
        <% include partials/failures.ejs %>
        <% include partials/tag_search.ejs %>
    </div>
    <div id="content" class="cf">
        <div id="subjects" class="services-box cf">
            <h2 style="text-align:right; font-size: 125%;  line-height:23px;"><span dir="rtl" style="font-size:30px; font-height:49px;">
<%= subject.name %>
        </span>
                <br />
                <br />
                <%- subject.description %>
            </h2>
        </div>
        <select id="sorting_select" class="left-select">
            <option data-sortby="creation_date" >
                תאריך
            </option>
            <option data-sortby="-grade">
                דירוג
            </option>
            <option data-sortby="-followers_count">
                עוקבים
            </option>
        </select>
        <h2>
            כל הפעולות במערכת
        </h2>
        <div id="actions_list">

        </div>
    </div>
</div>
<% include partials/footer.ejs %>
</body>
</html>
<script type="text/javascript">
    var current_section = 3;
    $(function(){
        var selectedTag='<%=tag_name? tag_name:'' %>';
        var selectedSubject = '<%= subject.id %>';
        function createActionsQuery(){
            var sortby = $('#sorting_select').find(':selected').data('sortby');
            var query='order_by='+sortby;
//            if(selectedTag){
//                query =query+'&tags='+selectedTag;
//            }
            if(selectedSubject){
                query =query+'&subject_id='+selectedSubject;
            }
            return query;
        }

        function loadActionsListToPage(){
            var query= createActionsQuery();
            listCommon.reloadList('actions_list','actions','action_list_item',query);
        }

//        $('#actions_list').on('click','.join_button',function(e){
//
//            var item =  $(this).parents('[data-id]');
//            var item_id =   item.data('id');
//            var actionType=  $(this).data('action');
//            e.preventDefault();
//            db_functions.joinToCycleFollowers(item_id, function(err,data){
//                dust.render('cycle_list_item', data, function(err, html){
//                    item.replaceWith(html);
//                })
//            })
//        });

        $('#sorting_select').change(loadActionsListToPage);
        loadActionsListToPage();
    })  ;

</script>
