<div id="main">
        <div class="post clearfix">
          <h2>כותרת שקשורה לכל מעגלי התנופה</h2>
          <div id="search-form" class="form">
            <form action="#" method="post">
              <p class="clearfix">
                <input type="text" title="search" class="textbox"/>
                <input type="submit" title="submit" class="submit-btn" value="חפש"/>
              </p>
            </form>
          </div>
          <h4 class="flR">בחירה מתוך 7 תחומי על </h4>
          <br class="clear"/>
          <ul class="list2 areas clearfix">
            <li><img src="resources/images/assets/image15.jpg" alt="image15"/></li>
            <li><img src="resources/images/assets/image15.jpg" alt="image15"/></li>
            <li><img src="resources/images/assets/image15.jpg" alt="image15"/></li>
            <li><img src="resources/images/assets/image15.jpg" alt="image15"/></li>
            <li><img src="resources/images/assets/image15.jpg" alt="image15"/></li>
            <li><img src="resources/images/assets/image15.jpg" alt="image15"/></li>
            <li><img src="resources/images/assets/image15.jpg" alt="image15"/></li>
          </ul>
          <div class="title clearfix">
            <h4>רשימת כל הדיונים במערכת</h4>
            <div class="classified">
              <form action="#" method="post">
               <div> <span class="selectbox">
                <select id="select">
                  <option>מיון שונה</option>
                </select>
                </span>
                </div>
              </form>
            </div>
          </div>
          <ul  id="mainList" class="list1 activities">

          </ul>
        </div>
      </div>