<!DOCTYPE html>
<%
var error_message = error_message || '';
%>
<html>
<head>
    <% include partials/head.ejs %>
</head>

<body>

<div id="wrap">
    <div id="header">
        <% include partials/menu.ejs %>
        <% include partials/user_box.ejs %>
        <% include partials/failures.ejs %>
        <% include partials/tag_search.ejs %>
    </div>
    <div id="content" class="cf">
        <h2>
הרשמה
        </h2>

        <form action="/account/code_after_fb_connect" class="login-form cf" method="POST">
            <%if(error_message){%>
            <span class="err_msg"><%=error_message%></span>
            <%}%>
            <div class="areas">
                <div class="disable"></div>
                <div class="title">
                    <input type="text" class="link" placeholder="הכנס קוד הזמנה" />
                    <span class="spacer"></span>
                     <button>
המשך אל עמוד הבית
                    </button>
                </div>
                <div class="one">
                    <label>
                        שם:
                    </label>

                    <input id="first_name" name="first_name" class="text" type="text" />
                </div>
                <div class="one">
                    <label>
                        שם משפחה:
                    </label>
                    <input id="last_name" name="last_name" class="text" type="text" value="" />
                </div>
                <div class="one">
                    <label>
                        סיסמא:
                    </label>
                    <input id="password" name="password" type="password" class="text" type="text" value="" />
                </div>
                <div class="one">
                    <label>
                        דוא”ל:
                    </label>
                    <input id="email" name="email" class="text" type="text" value="" />
                </div>
                <div class="one hide">
                    <label>
                        קוד הזמנה:
                    </label>
                    <textarea id="invitation_code" name="invitation_code" cols="0" rows="0"></textarea>
                </div>
            </div>
            <input type="submit" value="שלח" />
        </form>

    </div>
</div>
<% include partials/footer.ejs %>
</body>
</html>



