<div id="content">
    <div class="wrapper clearfix">
        <div id="main">
            <div class="post clearfix">
                <h2><%=subject_name%></h2>

                <div id="discussions" class="form clearfix">
                    <form action="#" method="post">
                        <div class="frame image">
                            <img id="subject_img" width="220" height="170" src="" alt="<%=subject_name%>"/>
                        </div>
                        <div class="textarea-container clearfix two-third">
                            <textarea id="vision" rows="3" cols="1" title="textarea" onfocus="if(this.value=='כתוב את החזון הכללי של הרעיון שלך..') this.value='';" onblur="if(this.value=='') this.value='כתוב את החזון הכללי של הרעיון שלך..';">כתוב את החזון הכללי של הרעיון שלך..</textarea>
                            <a href="#" class="button">שתף</a>
                        </div>
                        <div class="textarea-container clearfix">
                            <textarea id="first_post" rows="3" cols="1" title="textarea" onfocus="if(this.value=='כתיבת פוסט ראשון:  תנאים להצלחה  דרכי פעולה (הצעת פעולה?)') this.value='';" onblur="if(this.value=='') this.value='כתיבת פוסט ראשון:  תנאים להצלחה  דרכי פעולה (הצעת פעולה?)';">כתיבת פוסט ראשון:  תנאים להצלחה  דרכי פעולה (הצעת פעולה?)</textarea>
                            <a href="#" class="button">שתף</a>
                        </div>
                        <!--<p><input class="submit-btn" title="submit" value="יצירת דיון"/></p>-->
                        <p><button id="create_discussion_btn" class="submit-btn" > יצירת דיון</button></p>
                    </form>
                </div>

                <div class="box1 clearfix">
                    <h2 class="flR">עגלת המידע</h2>
                    <a href="#" class="button flL">שתף</a>

                    <div class="two-column-layout2 clearfix">
                        <div class="frame">
                            <img src="resources/images/assets/image8.jpg" alt="image8"/>
                        </div>
                        <div class="description clerfix">
                            <p>פיסיקה רשימות סטטיסטיקה אחד ב, זקוק פיסול גם חפש. מלא מוסיקה פילוסופיה דת. הראשי המזנון התפתחות אם כדי. ב תאולוגיה סטטיסטיקה אנא, שכל את מיותר ספינות אתנולוגיה, רוסית קודמות שתי אל. או בדף בשפה בשפות, מתוך קבלו בהתייחסות אחד ב.<a href="#" class="button">שתף</a></p>
                            <a href="#" class="read-more">קרא עוד..</a>
                        </div>
                    </div>

                    <div class="slideshow clearfix">
                        <div class="slides clearfix">
                            <div class="slide frame">
                                <img src="resources/images/assets/image9.jpg" alt="image9" />
                            </div>
                            <a href="#" class="read-more">צפה במקור</a>
                <span class="controls clearfix">
                	<a href="#"></a>	<a href="#"></a>	<a href="#" class="active"></a>
                </span>
                            <a href="#" class="button">שתף</a>
                        </div>
                        <div class="slides clearfix">
                            <div class="slide frame">
                                <img src="resources/images/assets/image9.jpg" alt="image9" />
                            </div>
                            <a href="#" class="read-more">צפה במקור</a>
                <span class="controls clearfix">
                	<a href="#"></a>	<a href="#"></a>	<a href="#" class="active"></a>
                </span>
                            <a href="#" class="button">שתף</a>
                        </div>
                        <div class="description">
                            <p>פיסיקה רשימות סטטיסטיקה אחד ב, זקוק פיסול גם חפש. מלא מוסיקה פילוסופיה דת. הראשי המזנון התפתחות אם כדי. ב תאולוגיה סטטיסטיקה אנא, שכל את מיותר ספינות אתנולוגיה, רוסית קודמות שתי אל. או בדף בשפה בשפות, מתוך קבלו בהתייחסות אחד ב.</p>
                        </div>
                    </div>
                    <br class="clearfix"/>
                    <div class="one-third clearfix">
                        <div class="frame">
                            <img src="resources/images/assets/image10.jpg" alt="image10"/>
                            <span class="number">1</span>
                        </div>
                        <div class="description">
                            <p>פיסיקה רשימות סטטיסטיקה אחד ב, זקוק פיסול גם חפש. מלא מוסיקה פילוסופיה דת. </p>
                        </div>
                    </div>
                    <div class="one-third clearfix">
                        <div class="frame">
                            <img src="resources/images/assets/image10.jpg" alt="image10"/>
                            <span class="number">2</span>
                        </div>
                        <div class="description">
                            <p>פיסיקה רשימות סטטיסטיקה אחד ב, זקוק פיסול גם חפש. מלא מוסיקה פילוסופיה דת. </p>
                        </div>
                    </div>
                    <div class="one-third last">
                        <div class="frame">
                            <img src="resources/images/assets/image10.jpg" alt="image10"/>
                            <span class="number">3</span>
                        </div>
                    </div>
                    <br class="clear"/>
                    <div class="detail">
                        <p>פיסיקה רשימות סטטיסטיקה אחד ב, זקוק פיסול גם חפש. מלא מוסיקה פילוסופיה דת. הראשי המזנון התפתחות אם כדי. ב תאולוגיה סטטיסטיקה אנא, שכל את מיותר ספינות אתנולוגיה, רוסית קודמות שתי אל. או בדף בשפה בשפות, מתוך קבלו בהתייחסות אחד ב.פיסיקה רשימות סטטיסטיקה אחד ב, זקוק פיסול גם חפש. מלא מוסיקה פילוסופיה דת. הראשי המזנון התפתחות אם כדי. ב תאולוגיה סטטיסטיקה אנא, שכל את מיותר ספינות אתנולוגיה, רוסית קודמות שתי אל. או בדף בשפה בשפות, מתוך קבלו בהתייחסות אחד ב.</p>
                        <p>פיסיקה רשימות סטטיסטיקה אחד ב, זקוק פיסול גם חפש. מלא מוסיקה פילוסופיה דת. הראשי המזנון התפתחות אם כדי. ב תאולוגיה סטטיסטיקה אנא, שכל את מיותר ספינות אתנולוגיה, רוסית קודמות שתי אל. או בדף בשפה בשפות, מתוך קבלו בהתייחסות אחד ב.פיסיקה רשימות סטטיסטיקה אחד ב, זקוק פיסול גם חפש.</p>
                    </div>

                </div>


            </div>
        </div>
    </div>
</div>
<!--/Content-->
<script type="text/javascript">
    $(function() {
        loadCreateDiscussionPage("<%=subject_id%>", "<%=subject_name%>");
    });
</script>