<div id="content">
    <div class="wrapper clearfix">
        <div id="main">
            <div class="post clearfix">
                <h2><%=subject_name%></h2>

                <div id="discussions" class="form clearfix">
                    <form action="#" method="post">
                        <div class="frame image">
                            <img id="subject_img" width="220" height="170" src="" alt="<%=subject_name%>"/>
                        </div>

                        <div class="textarea-container clearfix two-third" style="height:27px; min-height:27px; margin-bottom:10px">
                            <textarea id="title" rows="1" cols="1" style="height:40px;" title="textarea" onfocus="if(this.value=='כותרת לרעיון') this.value='';" onblur="if(this.value=='') this.value='כותרת לרעיון';">כותרת לרעיון</textarea>
                        </div>

                        <div class="textarea-container clearfix two-third" style="min-height:102px;">
                            <textarea id="vision" rows="3" cols="1" title="textarea" style="min-height:102px;" onfocus="if(this.value=='כתוב את החזון הכללי של הרעיון שלך..') this.value='';" onblur="if(this.value=='') this.value='כתוב את החזון הכללי של הרעיון שלך..';">כתוב את החזון הכללי של הרעיון שלך..</textarea>
                        </div>

                        <div class="textarea-container clearfix two-third" style="min-height:1px; width:820px; height:27px; min-height:27px;">
                            <textarea id="tags" rows="1" cols="1" title="textarea" style="width:800px;" onfocus="
                            if(this.value=='הוסף תגיות')
                             this.value='';" onblur="if(this.value=='') this.value='הוסף תגיות';">הוסף תגיות</textarea>
                        </div>

                        <div class="textarea-container clearfix">
                            <textarea id="first_post" rows="3" cols="1" title="textarea" onfocus="if(this.value=='כתיבת פוסט ראשון:  תנאים להצלחה  דרכי פעולה (הצעת פעולה?)') this.value='';" onblur="if(this.value=='') this.value='כתיבת פוסט ראשון:  תנאים להצלחה  דרכי פעולה (הצעת פעולה?)';">כתיבת פוסט ראשון:  תנאים להצלחה  דרכי פעולה (הצעת פעולה?)</textarea>
                        </div>
                        <p><input id="create_discussion_btn" class="submit-btn" title="submit" value="יצירת דיון"/></p>

                    </form>
                </div>

                <div class="box1 clearfix" id="shopping_cart">
                    <h2 class="flR">עגלת המידע</h2>
                    <a href="#" class="button flL">שתף</a>


                </div>
            </div>
        </div>
    </div>
</div>
<!--/Content-->
<script type="text/javascript">
    $(function() {
        loadCreateDiscussionPage("<%=subject_id%>", "<%=subject_name%>");
    });
</script>