<h1> CYCLE </h1>

<div>
    <textarea id="title"> </textarea>
    <br />
    <textarea rows="7" cols="20" id="documnet_"></textarea>
    <br />
    <div class="popular_comments"></div>
    <textarea id="followers"> </textarea>
    <br />
    <button> Suggest new action </button>
</div>

<div class="actions panel">
    <p> ACTIONS: </p>
</div>

<div class="shopping_cart right_panel">
    <p> SHOPPONG CART </p>

</div>

<script src="http://www.google.com/jsapi"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>
<script src="/javascripts/db.js"></script>
<script src="/javascripts/cycle.js"></script>
<script type="text/javascript">
    $(function() {
        loadCyclePage("<%=cycle_id%>");
    });
</script>