<div id="main">
    <div class="post clearfix" id="cycleMain" >
        <div class="timeline clearfix">
            <h3><strong>Timeline</strong> (כותרת קצרה המתארת את התוכן -><strong> מרכז הדף</strong>, מרכז בתוכו את כל ההתרחשות וההיסטוריה סביב מעגל התנופה)</h3>
            <a href="#" class="button">עבור לתצוגת מפה</a>
            <div class="timeline-detail">
                <div class="timeline-information" style="height:150px"></div>
                <div id="timeline_container" style="position:relative; background-image: url('/resources/images/assets/image29.jpg');width: 860px;height: 16px; padding: 19px 26px 35px 21px;">
                    <div id="timeline_placeholder" style="width: 100%; height: 100%; position:relative;"></div>
                </div>
            </div>
        </div>
        <div class="actions clearfix" >
                <div class="details" id="cycleUpdate">
                </div>
                <div class="box1 pending-actions">
                    <div class="box1-inner">
                        <h3>פעולות הממתינות לאישור </h3>
                        <ul class="list4" id="cyclePendingActions">
                        </ul>
                        <a href="/pendingActions" class="button">הראה לי את כולן</a>
                    </div>
                </div>

            </div>
            <h3>משתתפים ופעילים</h3>
            <ul class="list5 clearfix" id="userList"></ul>
    </div>
</div>

<!--Popup -->
<div id="new-action-popup" style='display:none'>
    <div id='inline_content' class="popup create-action css3">
        <a href="#" class="close-btn"></a>

        <div class="form clearfix">
            <form name="frmAddaction" action="#" method="post">
                <h2>יצירת פעולה חדשה</h2>

                <input type="text" name="title" placeholder="כותרת" />
                <input id="datepicker" type="text" name="date" class="nf_datepicker" placeholder="תאריך" />
                <textarea name="description" placeholder="טקסט חופשי"></textarea>
                <button name="find_location">קבע את מיקום הפעולה</button>

                <select type="text" name="toolbox" placeholder="ארגז כלים (פעולות קיימות במערכת – פעולת שטח, עצומה, הפגנה)"  />
                <textarea id="resources" name="resources" placeholder="משאבים דרושים"></textarea>

                <label class="num">
                    <input type="number" name="participants_count">
                    מספר משתתפים רצוי
                </label>
                <!--<textarea name="addendum"></textarea>-->

                <button type="submit">צור פעולה חדשה</button>
                <label class="check">
                    <input type="checkbox" value="false">
                    שתף*
                </label>
            </form>
        </div>
    </div>
</div>
<!--/Popup -->

<script>
    $(function(){
        var cycle_id='<%= cycle_id %>';
        loadCyclePage(cycle_id);
        loadPopupData();
        $(".new_action_btn").colorbox({inline:true});
        if($().datetimepicker){
            $('.nf_datepicker').datetimepicker();
        }

        $('form[name=frmAddaction]').on('submit', function(e){
            e.preventDefault();

           $(this).find(":input").each(function(){

           })

            var title=this.title.value;
            var    description=this.description.value;
            var    action_resources;
            var    required_participants=this.participants_count.value;
            var    execution_date = $( "#datepicker" ).datepicker("getDate");
                  debugger;
            var   location;
                debugger;
            db_functions.addAction(cycle_id, title, description, action_resources,required_participants,execution_date,location ,function(error,data){
                if(error){
                    console.log(error);
                }else{
                    console.log('action created');
                    $.colorbox.close()  ;
                }
            });
            
        })
    });
</script>