<div id="main">


        <div class="post clearfix" id="cycleMain" >
          <div class="timeline clearfix">
            <h3><strong>Timeline</strong> (כותרת קצרה המתארת את התוכן -><strong> מרכז הדף</strong>, מרכז בתוכו את כל ההתרחשות וההיסטוריה סביב מעגל התנופה)</h3>
            <a href="#" class="button">עבור לתצוגת מפה</a>
            <div class="timeline-detail">
              <div class="timeline-information" style="height:150px">
              </div>
              <div id="timeline_container" style="position:relative; background-image: url('/resources/images/assets/image29.jpg');width: 860px;height: 16px; padding: 19px 26px 35px 21px;">
                  <div id="timeline_placeholder" style="width: 100%; height: 100%; position:relative;"></div>
               </div>
              </div>
          </div>
          <div class="actions clearfix">
            <div class="details"> <a  href="#inline_content"  id="newActionBtn" class="button suggest">הצע פעולה חדשה</a>
              <p class="meta-data">עדכונים, שיתופים, תוספות, הודעות *****</p>
              <div class="frame1"> <img src="/resources/images/assets/video-image1.jpg" alt="video-image1"/> </div>
              <h4>קטע טקסט מעניין ורלוונטי</h4>
              <p>שמו אינו מדינות דת, זקוק קבלו מועמדים מתן בה. גם אנגלית אקטואליה צעד. של בדף ישראל גיאוגרפיה, זכר לכאן בקלות לויקיפדיה גם. מתוך ותשובות ויש מה, חפש שאלות האטמוספירה של. קסאם בדפים מיזמים מדע על</p>
              <a href="#" class="read-more">קרא עוד...</a> </div>
            <div class="box1 pending-actions">
              <div class="box1-inner">
                <h3>פעולות הממתינות לאישור </h3>
                <ul class="list4">
                  <li>
                    <h4>כותרת פעולה</h4>
                    <p>תקציר הפעולה</p>
                    <span class="meta-data">מידע רלוונטי (תאריך, משתתפים) </span> </li>
                  <li>
                    <h4>כותרת פעולה</h4>
                    <p>תקציר הפעולה</p>
                    <span class="meta-data">מידע רלוונטי (תאריך, משתתפים) </span> </li>
                  <li>
                    <h4>כותרת פעולה</h4>
                    <p>תקציר הפעולה</p>
                    <span class="meta-data">מידע רלוונטי (תאריך, משתתפים) </span> </li>
                </ul>
                <a href="#" class="button">הראה לי את כולן</a> </div>
            </div>
          </div>
          <h3>משתתפים ופעילים</h3>
                    <ul class="list5 clearfix">
                      <li class="clearfix">
                        <div class="frame1">
                          <div class="slide"><img src="/resources/images/assets/image18.jpg" alt="image18"/></div>
                          <span class="controls"><a href="#"></a><a href="#"></a><a href="#"></a></span> </div>
                        <div class="description">
                          <p>שם משתמש</p>
                          <p>מתי הצטרף</p>
                          <p>עיטורים</p>
                        </div>
                      </li>
                      <li class="clearfix">
                        <div class="frame1">
                          <div class="slide"><img src="/resources/images/assets/image18.jpg" alt="image18"/></div>
                          <span class="controls"><a href="#"></a><a href="#"></a><a href="#"></a></span> </div>
                        <div class="description">
                          <p>שם משתמש</p>
                          <p>מתי הצטרף</p>
                          <p>עיטורים</p>
                        </div>
                      </li>
                      <li class="clearfix">
                        <div class="frame1">
                          <div class="slide"><img src="/resources/images/assets/image18.jpg" alt="image18"/></div>
                          <span class="controls"><a href="#"></a><a href="#"></a><a href="#"></a></span> </div>
                        <div class="description">
                          <p>שם משתמש</p>
                          <p>מתי הצטרף</p>
                          <p>עיטורים</p>
                        </div>
                      </li>
                      <li class="clearfix">
                        <div class="frame1">
                          <div class="slide"><img src="/resources/images/assets/image18.jpg" alt="image18"/></div>
                          <span class="controls"><a href="#"></a><a href="#"></a><a href="#"></a></span> </div>
                        <div class="description">
                          <p>שם משתמש</p>
                          <p>מתי הצטרף</p>
                          <p>עיטורים</p>
                        </div>
                      </li>
                      <li class="clearfix">
                        <div class="frame1">
                          <div class="slide"><img src="/resources/images/assets/image18.jpg" alt="image18"/></div>
                          <span class="controls"><a href="#"></a><a href="#"></a><a href="#"></a></span> </div>
                        <div class="description">
                          <p>שם משתמש</p>
                          <p>מתי הצטרף</p>
                          <p>עיטורים</p>
                        </div>
                      </li>
                      <li class="clearfix">
                        <div class="frame1">
                          <div class="slide"><img src="/resources/images/assets/image18.jpg" alt="image18"/></div>
                          <span class="controls"><a href="#"></a><a href="#"></a><a href="#"></a></span> </div>
                        <div class="description">
                          <p>שם משתמש</p>
                          <p>מתי הצטרף</p>
                          <p>עיטורים</p>
                        </div>
                      </li>
                      <li class="clearfix">
                        <div class="frame1">
                          <div class="slide"><img src="/resources/images/assets/image18.jpg" alt="image18"/></div>
                          <span class="controls"><a href="#"></a><a href="#"></a><a href="#"></a></span> </div>
                        <div class="description">
                          <p>שם משתמש</p>
                          <p>מתי הצטרף</p>
                          <p>עיטורים</p>
                        </div>
                      </li>
                      <li class="clearfix">
                        <div class="frame1">
                          <div class="slide"><img src="/resources/images/assets/image18.jpg" alt="image18"/></div>
                          <span class="controls"><a href="#"></a><a href="#"></a><a href="#"></a></span> </div>
                        <div class="description">
                          <p>שם משתמש</p>
                          <p>מתי הצטרף</p>
                          <p>עיטורים</p>
                        </div>
                      </li>
                    </ul>
        </div>
      </div>


<!--Popup -->
<div style='display:none'>
        <div id='inline_content' class="popup create-action css3">
        <a href="#" class="close-btn"></a>

        <div class="form clearfix">
            <form action="#" method="post">
                <h2>יצירת פעולה חדשה</h2>

                <input type="text" name="title" placeholder="כותרת" />
                <input type="text" name="date" class="nf_datepicker" placeholder="תאריך" />
                <textarea name="description" placeholder="טקסט חופשי"></textarea>
                <button name="find_location">קבע את מיקום הפעולה</button>

                <select type="text" name="toolbox" placeholder="ארגז כלים (פעולות קיימות במערכת – פעולת שטח, עצומה, הפגנה)"  />
                <textarea name="resources" placeholder="משאבים דרושים"></textarea>

                <label class="num">
                    <input type="number" name="participants_count">
                    מספר משתתפים רצוי
                </label>
                <!--<textarea name="addendum"></textarea>-->

                <button type="submit">צור פעולה חדשה</button>
                <label class="check">
                    <input type="checkbox" value="on">
                    שתף*
                </label>
            </form>
        </div>
    </div>
</div>
<!--/Popup -->

        <script>
            $(function(){
               loadCyclePage("<%= cycle_id %>");
                loadPopupData();
               $("#newActionBtn").colorbox({inline:true});
                if($().datetimepicker){
                    $('.nf_datepicker').datetimepicker();
                }
            });
        </script>