<div id="main">
        <div class="post clearfix">
          <h2>נושא הדיון</h2>
          <div class="discussions clearfix">
            <div class="frame1 flR"> <img src="/resources/images/assets/image19.jpg" alt="image19"/> </div>
            <div class="description clearfix">
              <h3>תוכן המסמך<br/>
                החזון הכללי</h3>
              <p>שמו אינו מדינות דת, זקוק קבלו מועמדים מתן בה. גם אנגלית אקטואליה צעד. של בדף ישראל גיאוגרפיה, זכר לכאן בקלות לויקיפדיה גם. מתוך ותשובות ויש מה, חפש שאלות האטמוספירה של. קסאם בדפים מיזמים מדע על</p>
              <a href="#" class="button flL">שתף</a> </div>
            <div class="box information"> <img src="/resources/images/assets/image20.jpg" alt="image20" /> <a href="#" class="button">קישור לעגלת המידע</a> </div>
            <br class="clear" />
            <img src="/resources/images/assets/image21.jpg" alt="image21"/>
            <ul class="list1">
              <li class="clearfix">
                <div class="description clearfix">
                  <div class="frame"> <img alt="image23" src="/resources/images/assets/image23.jpg"/> </div>
                  <h4>המשתמש שפתח את הדיון</h4>
                  <p class="meta-data">תארaיך | שעה</p>
                  <p>שמו אינו מדינות דת, זקוק קבלו מועמדים מתן בה. גם אנגלית אקטואליה צעד. של בדף ישראל גיאוגרפיה, זכר לכאן בקלות לויקיפדיה גם. מתוך ותשובות ויש מה, חפש שאלות האטמוספירה של. קסאם בדפים מיזמים מדע על, קרן ומדעים מונחונים או. מתוך ותשובות ויש מה, חפש שאלות האטמוספירה של. קסאם בדפים מיזמים מדע על, קרן ומדעים מונחונים או. מתוך ותשובות ויש מה, חפש שאלות האטמוספירה של. קסאם בדפים מיזמים מדע על</p>
                </div>
                <div class="action"> <a class="button" href="#">הגב</a> <a class="button" href="#">שתף</a> <a class="button" href="#">Like</a> </div>
              </li>
              <li class="clearfix">
                <div class="description clearfix">
                  <div class="frame"> <img alt="image23" src="/resources/images/assets/image23.jpg"/> </div>
                  <h4>המשתמש שפתח את הדיון</h4>
                  <p class="meta-data">תארaיך | שעה</p>
                  <p>שמו אינו מדינות דת, זקוק קבלו מועמדים מתן בה. גם אנגלית אקטואליה צעד. של בדף ישראל גיאוגרפיה, זכר לכאן בקלות לויקיפדיה גם. מתוך ותשובות ויש מה, חפש שאלות האטמוספירה של. קסאם בדפים מיזמים מדע על, קרן ומדעים מונחונים או. מתוך ותשובות ויש מה, חפש שאלות האטמוספירה של. קסאם בדפים מיזמים מדע על, קרן ומדעים מונחונים או. מתוך ותשובות ויש מה, חפש שאלות האטמוספירה של. קסאם בדפים מיזמים מדע על</p>
                </div>
                <div class="action"> <a class="button" href="#">הגב</a> <a class="button" href="#">שתף</a> <a class="button" href="#">Like</a> </div>
              </li>
            </ul>
              <a href="#" class="button flL">מעבר לדיון המתקיים</a>
              <br class="clear" /><br/>
             <h3>תגובות פופלריות מדיון אחר (רלוונטי)</h3> 
            <ul class="list1"> 
              <li class="clearfix">
                <div class="description clearfix">
                  <div class="frame"> <img alt="image23" src="/resources/images/assets/image23.jpg"/> </div>
                  <h4>המשתמש שפתח את הדיון</h4>
                  <p class="meta-data">תארaיך | שעה</p>
                  <p>שמו אינו מדינות דת, זקוק קבלו מועמדים מתן בה. גם אנגלית אקטואליה צעד. של בדף ישראל גיאוגרפיה, זכר לכאן בקלות לויקיפדיה גם. מתוך ותשובות ויש מה, חפש שאלות האטמוספירה של. קסאם בדפים מיזמים מדע על, קרן ומדעים מונחונים או. מתוך ותשובות ויש מה, חפש שאלות האטמוספירה של. קסאם בדפים מיזמים מדע על, קרן ומדעים מונחונים או. מתוך ותשובות ויש מה, חפש שאלות האטמוספירה של. קסאם בדפים מיזמים מדע על</p>
                </div>
                <div class="action"> <a class="button" href="#">הגב</a> <a class="button" href="#">שתף</a> <a class="button" href="#">Like</a> </div>
              </li>
            </ul>
          </div>
          
          
          <div class="follow clearfix">
            <p>מספר העוקבים אaחרי מעגל תנופה זה: <strong>12,345,677</strong></p>
            <a href="#" class="button">עקוב אחרי מעגל התנופה</a> </div>
          <div class="timeline clearfix">
            <h3><strong>Timeline</strong> (כותרת קצרה המתארת את התוכן -><strong> מרכז הדף</strong>, מרכז בתוכו את כל ההתרחשות וההיסטוריה סביב מעגל התנופה)</h3>
            <a href="#" class="button">עבור לתצוגת מפה</a>
            <div class="timeline-detail">
              <div class="timeline-information" style="height:150px">
              </div>
              <div id="timeline_container" style="position:relative; background-image: url('/resources/images/assets/image29.jpg');width: 860px;height: 16px; padding: 19px 26px 35px 21px;">
                  <div id="timeline_placeholder" style="width: 100%; height: 100%; position:relative;"></div>
               </div>
              </div>
          </div>
          <div class="actions clearfix">
            <div class="details"> <a href="#" class="button suggest">הצע פעולה חדשה</a>
              <p class="meta-data">עדכונים, שיתופים, תוספות, הודעות *****</p>
              <div class="frame1"> <img src="/resources/images/assets/video-image1.jpg" alt="video-image1"/> </div>
              <h4>קטע טקסט מעניין ורלוונטי</h4>
              <p>שמו אינו מדינות דת, זקוק קבלו מועמדים מתן בה. גם אנגלית אקטואליה צעד. של בדף ישראל גיאוגרפיה, זכר לכאן בקלות לויקיפדיה גם. מתוך ותשובות ויש מה, חפש שאלות האטמוספירה של. קסאם בדפים מיזמים מדע על</p>
              <a href="#" class="read-more">קרא עוד...</a> </div>
            <div class="box1 pending-actions">
              <div class="box1-inner">
                <h3>פעולות הממתינות לאישור </h3>
                <ul class="list4">
                  <li>
                    <h4>כותרת פעולה</h4>
                    <p>תקציר הפעולה</p>
                    <span class="meta-data">מידע רלוונטי (תאריך, משתתפים) </span> </li>
                  <li>
                    <h4>כותרת פעולה</h4>
                    <p>תקציר הפעולה</p>
                    <span class="meta-data">מידע רלוונטי (תאריך, משתתפים) </span> </li>
                  <li>
                    <h4>כותרת פעולה</h4>
                    <p>תקציר הפעולה</p>
                    <span class="meta-data">מידע רלוונטי (תאריך, משתתפים) </span> </li>
                </ul>
                <a href="#" class="button">הראה לי את כולן</a> </div>
            </div>
          </div>
          <h3>משתתפים ופעילים</h3>
                    <ul class="list5 clearfix">
                      <li class="clearfix">
                        <div class="frame1">
                          <div class="slide"><img src="/resources/images/assets/image18.jpg" alt="image18"/></div>
                          <span class="controls"><a href="#"></a><a href="#"></a><a href="#"></a></span> </div>
                        <div class="description">
                          <p>שם משתמש</p>
                          <p>מתי הצטרף</p>
                          <p>עיטורים</p>
                        </div>
                      </li>
                      <li class="clearfix">
                        <div class="frame1">
                          <div class="slide"><img src="/resources/images/assets/image18.jpg" alt="image18"/></div>
                          <span class="controls"><a href="#"></a><a href="#"></a><a href="#"></a></span> </div>
                        <div class="description">
                          <p>שם משתמש</p>
                          <p>מתי הצטרף</p>
                          <p>עיטורים</p>
                        </div>
                      </li>
                      <li class="clearfix">
                        <div class="frame1">
                          <div class="slide"><img src="/resources/images/assets/image18.jpg" alt="image18"/></div>
                          <span class="controls"><a href="#"></a><a href="#"></a><a href="#"></a></span> </div>
                        <div class="description">
                          <p>שם משתמש</p>
                          <p>מתי הצטרף</p>
                          <p>עיטורים</p>
                        </div>
                      </li>
                      <li class="clearfix">
                        <div class="frame1">
                          <div class="slide"><img src="/resources/images/assets/image18.jpg" alt="image18"/></div>
                          <span class="controls"><a href="#"></a><a href="#"></a><a href="#"></a></span> </div>
                        <div class="description">
                          <p>שם משתמש</p>
                          <p>מתי הצטרף</p>
                          <p>עיטורים</p>
                        </div>
                      </li>
                      <li class="clearfix">
                        <div class="frame1">
                          <div class="slide"><img src="/resources/images/assets/image18.jpg" alt="image18"/></div>
                          <span class="controls"><a href="#"></a><a href="#"></a><a href="#"></a></span> </div>
                        <div class="description">
                          <p>שם משתמש</p>
                          <p>מתי הצטרף</p>
                          <p>עיטורים</p>
                        </div>
                      </li>
                      <li class="clearfix">
                        <div class="frame1">
                          <div class="slide"><img src="/resources/images/assets/image18.jpg" alt="image18"/></div>
                          <span class="controls"><a href="#"></a><a href="#"></a><a href="#"></a></span> </div>
                        <div class="description">
                          <p>שם משתמש</p>
                          <p>מתי הצטרף</p>
                          <p>עיטורים</p>
                        </div>
                      </li>
                      <li class="clearfix">
                        <div class="frame1">
                          <div class="slide"><img src="/resources/images/assets/image18.jpg" alt="image18"/></div>
                          <span class="controls"><a href="#"></a><a href="#"></a><a href="#"></a></span> </div>
                        <div class="description">
                          <p>שם משתמש</p>
                          <p>מתי הצטרף</p>
                          <p>עיטורים</p>
                        </div>
                      </li>
                      <li class="clearfix">
                        <div class="frame1">
                          <div class="slide"><img src="/resources/images/assets/image18.jpg" alt="image18"/></div>
                          <span class="controls"><a href="#"></a><a href="#"></a><a href="#"></a></span> </div>
                        <div class="description">
                          <p>שם משתמש</p>
                          <p>מתי הצטרף</p>
                          <p>עיטורים</p>
                        </div>
                      </li>
                    </ul>
        </div>
      </div>

        <script>
            $(function(){
               loadCyclePage("<%= cycle_id %>");
            });
        </script>