
<h1> Discussion about <%=subject_name%> subject</h1>

<div class="discussion_content">
    <div class="grade">
        <textarea id="discussion_grade"> </textarea>
        <br />
        <input type="text" placeholder="grade the discussion..."> </input>
        <button id="btn_grade">grade the discussion</button>
    </div>

    <textarea disabled="disabled" rows="7" cols="20" class="title"> </textarea>
    <br />
    <textarea disabled="disabled" rows="7" cols="20" class="vision"> </textarea>
    <br />
    <input type="text" placeholder="Write a suggestion..."> </input>
    <button>add</button>
    <br />
    <input type="text" placeholder="Write a comment..."> </input>
    <button>add</button>
</div>

<div class="posts color panel">

</div>

<div class="shopping_cart panel">
    <p> SHOPPONG CART </p>

</div>

<script src="http://www.google.com/jsapi"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>
<script src="/javascripts/db.js"></script>
<script src="/javascripts/discussionPage.js"></script>
<script type="text/javascript">
    $(function() {
        laodDiscussionPage("<%=discussion_id%>");
    });
</script>