<!DOCTYPE html>

<html>
<head>
    <% include partials/head.ejs %>
</head>
<body>
<% include partials/body_top.ejs %>
<div id="wrap">
    <div id="header">
        <% include partials/menu.ejs %>
    </div>
    
    <div id="content" class="cf">
        <h2>
            אירעה תקלה. אנא נסו שוב מאוחר יותר.
        </h2>
        <img src="/images/app_error.jpg"/>
    </div>
</div>
<% include partials/footer.ejs %>
</body>
</html>

