<!DOCTYPE html>

<html>
<head>
    <% include partials/head.ejs %>
</head>

<body>

<div id="wrap">
    <div id="header">
        <% include partials/menu.ejs %>
        <% include partials/user_box.ejs %>
        <% include partials/failures.ejs %>
        <% include partials/tag_search.ejs %>
    </div>

    <div id="content" class="cf">
        <h2>
הרשמה
        </h2>
        <form class="login-form cf" action="" method="POST">
            <div class="areas">
                <div class="title">
הכנס את כתובת המייל שאיתה נרשמת:
                </div>
                <div class="one">
                    <label>
                        דוא”ל:
                    </label>
                    <input id="email" name="email" class="text" type="text" value="<%= email %>" />
                </div>
            </div>
            <input type="submit" value="שלח" />
        </form>
    </div>
</div>
<% include partials/footer.ejs %>
<script>

    <%
    if(method == 'post') {
        if(found) { %>
            popupProvider.showOkPopup({ message:'אנא פתח את מייל המערכת שנשלח אליך כדי להשלים את התהליך'});
        <% } else { %>
            var data = {
                part_one: "כתובת המייל שהוזנה לא קיימת במערכת. למסך ההרשמה לחץ ",
                part_two: "כאן",
                part_three: " או נסה שוב.",
                link: "/account/register"
            };
            popupProvider.showOkPopupWithLink(data);
        <%  }
    } %>
</script>
</body>
</html>

