<!DOCTYPE html>

<html>
<head>
    <% include partials/head.ejs %>
</head>
<body>
<% include partials/body_top.ejs %>
<div id="wrap">
    <div id="header">
        <% include partials/menu.ejs %>
        <% include partials/user_box.ejs %>
        <% include partials/failures.ejs %>
        <% include partials/tag_search.ejs %>
    </div>

     <!--   <h2><a style="font: normal 24px/49px 'AdumaFOTMedium'; text-decoration: none" href="javascript:void(0);">
            מייסדי התנועה (על פי סדר א"ב):
        </a >
        </h2>-->
    <div id="content" class="cf">

        <h2><a style="text-decoration: none" href="javascript:void(0);">
            מייסדי התנועה (על פי סדר א"ב):
            </a></h2>
        <div class="staff-box cf" id="founder">

        </div>

    </div>
</div>


<% include partials/footer.ejs %>

<script type="text/javascript">

    $(document).ready(function () {
        db_functions.getFounders(function (data) {
            $.each(data.objects, function (index, item) {
                dust.render('team', item, function (err, out) {
                    $('#founder').append(out);
                });
            });
        });
    });

</script>

</body>
</html>
