<!DOCTYPE html>

<html>
<head>
    <% include partials/head.ejs %>
    <link href="/css/style_home.css" rel="stylesheet" type="text/css"/>
</head>
<body class="<%= user_logged? '' : 'big-head' %>" >
<% include partials/body_top.ejs %>
<div id="wrap">
    <div id="header">
        <% include partials/menu.ejs %>
        <% include partials/user_box.ejs %>
        <% include partials/failures.ejs %>
        <%if(!user_logged){%>
        <div class="main-video">
            <div class="video-box">
                <img class="video_img" width="416" height="267" src="images/hp11_not logged_main video image.png" alt=""/>
            </div>
            <p>
                תנועת עורו מאפשרת לכולנו להתאגד סביב חזון משותף באמצעות פלטפורמה אינטרנטית מתקדמת, לצאת לפעילות בשטח ולהשפיע על מקבלי ההחלטות. כך נוביל שינוי בישראל
            </p>
            <div style="display: inline-block;margin-top: 50px;">
                <a href="/account/register"><img src="/images/greenbutton_.png" alt="תנועת עורו - הצטרפו עכשיו"/></a>

            </div>
            <div style="font-size: 32px;
position: absolute;
top: 383px;
display: inline-block;
padding-bottom: 60px;">
                והתחילו להשפיע</div>
        </div>
        <%}%>
        <!--<% include partials/tag_search.ejs %>-->
    </div>
    <div id="content" class="cf">

        <div class="right-col">
            <h2>עוררו עניין</h2>

            <div class="news-list cf">
            </div>
            <%if(user_logged){%>
            <h2>עדכונים</h2>

            <div class="renewal">

            </div>
            <%}%>
            <h2 class="hide">סיפורי הצלחה</h2>

            <div class="succes-box cf hide">

            </div>
        </div>
        <div class="left-col">
            <h2>מה בכותרות</h2>

            <div class="one-news">

            </div>
            <!-- <h2>מה מפריע לך?</h2>
            <form  class="comment-form" action="#" >
                <textarea placeholder="כתוב לנו מה מפריע לך ..." name="feedbackTb" cols="0" rows="0"></textarea>
                <input type="image" src="images/send-btn.png" />
            </form>-->
            <!--<div class="fb_like_box">-->
            <!--<div class="fb-like-box" data-href="http://www.facebook.com/URUisrael" data-width="308" data-height="560" data-show-faces="true" data-stream="true" data-header="false" data-border-color="white" ></div>-->
            </div>
        </div>
    </div>
</div>
<% include partials/footer.ejs %>
</body>
</html>

<script type="text/javascript">
    var current_section;
    $(function () {

        var user_logged = "<%= user_logged %>" == 'true';

        $(".video-box").one('click', function(){
            $('.video_img').remove();
            $(this).append(
                    '<object width="560" height="315">' +
                            '<param name="movie" value="http://www.youtube.com/v/6LYw5crRh8E?version=3&autoplay=1&amp;hl=en_US&amp;rel=0" />' +
                            '<param name="allowFullScreen" value="true" /><param name="allowscriptaccess" value="always" />' +
                            '<embed src="http://www.youtube.com/v/6LYw5crRh8E?version=3&autoplay=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="416" height="267" allowscriptaccess="always" allowfullscreen="true"></embed>' +
                     '</object>');
        });

        $('form.comment-form').live('submit', function (e) {
            e.preventDefault();
            var feedbackTb = this['feedbackTb'];
            if (feedbackTb.value.replace(/\s/g, "") == "") {
                return;
            }
            db_functions.addKilkul(this['feedbackTb'].value, function (error, data) {
                if (error) {
                    console.log(error);
                } else {
                    feedbackTb.value = '';
                }
            });

        });

        db_functions.getHotObjects(function (data) {
            $.each(data.objects, function (key, article) {
                dust.render('hot_object', article, function (err, html) {
                    $('div.news-list').append(html);
                })
            })
        });

        db_functions.getPopularHeadlines(3, function (data) {
            $.each(data.objects, function (index, headline) {
                dust.render('headline', headline, function (err, html) {
                    $('div.one-news').append(html);
                })
            })
        });

        if(user_logged) {
            db_functions.getNotifications(null, 5, function (data) {
                dust.renderArray('notification', data.objects, null,function (err, html) {
                    $('.renewal').append(html).append('<a href="/myuru">' +
'                        קרא עוד...' +
                    '</a>');

                });
            });
            current_section = 0;
        }
    })


</script>
