


<!DOCTYPE html>
<html>
<head>


</head>


<body>

        <h1> after registration </h1>
        <p><a href="/account/meida"> go to MEIDA & MADAD'S </a></p>
        <p><a href="/account/logout"> logout </a></p>

</body>
</html>