<!DOCTYPE html>

<html>
<head>
    <% include partials/head.ejs %>
</head>
<body>
<% include partials/body_top.ejs %>
<div id="wrap">
<div id="header">
    <% include partials/menu.ejs %>
    <% include partials/user_box.ejs %>
    <% include partials/failures.ejs %>
    <!--<% include partials/tag_search.ejs %>-->
</div>
<div id="content" class="cf">
    <div class="services-box cf">
        <h2>
            מאגר המידע: כאן תוכלו למצוא מחקרים, ניירות עמדה, קטעי וידאו ודוחות הנוגעים לדיונים שמתנהלים במערכת. אתם מוזמנים לשלוח אלינו פרטי מידע רלוונטיים נוספים        </h2>
        <div class="services-blue cf" id="subjects_list">
        </div>
        <div class="services-green">
            <span class="empty"></span>
            <a href="javascript:;" class="add-item-button service-8"><span class="text">הוסף פריט מידע</span><span class="icon"></span></a>
            <a href="javascript:void(0)" class="service-9 gray_and_soon"><span class="text">
                לסל המידע
            </span><span class="icon"></span></a>
            <a href="" id="uru_subject_button" class="service-10"><span class="text">
                עורו
            </span><span class="icon"></span></a>
            <span class="empty"></span>
            <span class="empty"></span>
        </div>
		<div class="upload-popup">
			<span class="arrow"></span>
			<div class="upload-top">
				<a class="close-popup" href=""></a>
				<textarea cols="0" rows="0" placeholder="שיתוף מידע משלך..."></textarea>
				<div class="upload-tabs">
					<ul>
						<li><a class="pic" href="#image"><span></span>תמונה</a></li>
						<li><a class="video" href="#video"><span></span>וידאו</a></li>
						<li><a class="link" href="#link"><span></span>קישור</a></li>
					</ul>
					<div id="image" class="tab">
						<%
							var image_upload = {
								background_color: '#f5f5f5',
								default_image: '/images/add-image.png',
								api_endpoint: '/api/image_upload',
								input_name: 'image_field'
							};
						%>
						<% include partials/image_upload.ejs %>
					</div>
					<div id="video" class="tab">
						<%
							image_upload = {
								default_image: '/images/add-image.png',
								api_endpoint: '/api/image_upload',
								input_name: 'video_field'
							};
						%>
						<% include partials/image_upload.ejs %>
						<input type="url" value="" placeholder="http://www.youtube.com/watch?v=......."/>
					</div>
					<div id="link" class="tab">
						<input type="url" value="" placeholder="http://www.uru.org.il/" />
					</div>
				</div>
			</div>
			<div class="upload-bottom">
				<input type="submit" value="העלה" />
			</div>
		</div>
	</div>
    <h2>
עוררו עניין
    </h2>
    <div class="news-list cf">
        <div class="slide" id="slide_list" style="height:752px;">
        </div>
    </div>
</div>
</div>
<% include partials/footer.ejs %>
</body>
</html>
<script type="text/javascript">
    var is_logged = "<%= user_logged %>" == "true";
    var current_section=0;
    db_functions.getAllSubjects(function(err,data)
    {
        var uru_subject = data.objects[0];
        $('#uru_subject_button').attr('href','/information_items/subject/' + uru_subject._id);
        $.each(data.objects.slice(1),function(index,subject)
        {
            dust.render('subject',subject,function(err,out)
            {
                $('#subjects_list').append(out);
            })
        });

    });

    function loadHotInfoItems(slide_page,objects)
    {
        $.each(objects,function(index,hot_item)
        {
            dust.render('hot_information_item',hot_item,function(err,out)
            {
                slide_page.append(out);
            })
        });
        slide_page.attr('data-loaded','true');
    }

    db_functions.getHotInfoItems(0,function(err,data)
    {
        var num_of_pages = Math.ceil(data.meta.total_count/data.meta.limit);
        for(var i=0; i<num_of_pages; i++)
        {
            $('#slide_list').append($('<div class="one-slide"></div>'));
        }
        if(data.meta.total_count > data.meta.limit)
        {
            $('.slide').before('<div id="nav">')
                    .cycle({
                        fx:     'scrollHorz',
                        speed:  '2000',
                        timeout: 0,
                        pager:  '#nav',
                        before:function(currSlideElement, nextSlideElement, options, forwardFlag){
                            var elm = $(nextSlideElement);
                            var index = elm.index();
                            if(!elm.data('loaded'))
                            {
                                db_functions.getHotInfoItems(index*6,function(err,data)
                                {
                                    loadHotInfoItems(elm,data.objects);
                                });
                            }

                        }
                    });
        }
        else{
            loadHotInfoItems($($('.slide .one-slide')[0]),data.objects);
        }
    });

	$('.service-8, .upload-popup .close-popup').click(function () {
		$(this).parents('.services-box').toggleClass('upload-active');

		return false;
	});
	$(".upload-tabs").tabs();

	$('.upload-popup .upload-bottom input').click(function () {
		var form = $('.upload-popup');
		var saveData = {
			title: form.find('textarea').val(),
			text_field: form.find('textarea').val(),
			category: 'statistics'
		};

		var selectedTab = form.find('.upload-tabs').tabs('option', 'selected');
		var image, link;
		switch (selectedTab) {
			case 0: // image
				image = form.find('input[name="image_field"]');
				break;

			case 1: // video
				image = form.find('input[name="video_field"]');
				link = form.find('#video input[type=url]');
				break;

			case 2: // link
				link = form.find('#link input[type=url]');
				break;
		};

		if (image && image.val()) {
			saveData.image_field = image.val();
		}
		if (link && link.val()) {
			saveData.text_field += '\n\n' + link.val();
		}

		db_functions.createInformationItem(saveData, function (error) {
			if (error) {
				popupProvider.showOkPopup({ message: 'קרתה תקלה בעת שמירת פריט המידע' });
			} else {
				popupProvider.showOkPopup({ message: 'פריט המידע נשמר' });
                $('.upload-popup').hide();
			}
		});
		event.preventDefault();
		return false;
	});
</script>

