<!DOCTYPE html>
    <html>
        <head>
            <link rel="stylesheet" type="text/css" media="screen" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/base/jquery-ui.css"/>
            <link rel="stylesheet" type="text/css" media="screen" href= '/public/stylesheets/style.css'/>

            <script src="http://www.google.com/jsapi"></script>
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
            <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>
            <script src="/javascripts/db.js"></script>
            <script src="/javascripts/infoAndMeasures.js"></script>
            <script type="text/javascript">
                $(function() {
                    loadInfoAndMeasures();
                });
            </script>
        </head>

        <body>
            <div>
                <label for="look_for_tags">look for info items by tags:</label>
                <input type="text" name="tags" id="look_for_tags">
                <button type="submit" class="btn_look">look</button>
            </div>

            <div class="subject panel">
                <p> SUBJECTS: </p>
            </div>

            <div class="tags hide panel">
                <p> HOT INFORMATION ITEMS: </p>
            </div>

            <div class="tags panel">

            </div>

            <div class="shopping_cart panel">
                <p> SHOPPONG CART </p>
                <div class="item">

                </div>
            </div>

            <script type="text/javascript">
                $('.item button').click(function() {
                    alert($(this).parent('.item').find('p.title').text());
                })
            </script>
        </body>
    </html>