<script type="text/javascript">
    $(function() {
        loadInfoAndMeasures();
    });
</script>
<div id="search-form" class="form">
    <form action="" method="post">
        <p class="clearfix">
            <input type="text" title="search" class="textbox" id="look_for_tags" />
            <input type="submit" id="btn_look" title="submit" class="submit-btn" value="חפש"/>
        </p>
    </form>
</div>

<h4 class="flR">בחירה מתוך 7 תחומי על</h4>

<br class="clear" />
<ul id="subjects_list" class="list2 clearfix">
</ul>

<h2>הנושאים הבוערים</h2>
<div class="topics">
    <ul id="hot_items_list" class="list2 clearfix">
        <li>
            <img src="resources/images/assets/image6.jpg" alt="image6" />
            <h4>כותרת</h4>
            <p>כמה מילים אולי אפילו 2-3 משפטים הסבר ותיאור על הנושא המדובר</p>
            <a href="#">נתונים אפשריים*</a>
        </li>
        <li>
            <img src="resources/images/assets/image6.jpg" alt="image6" />
            <h4>כותרת</h4>
            <p>כמה מילים אולי אפילו 2-3 משפטים הסבר ותיאור על הנושא המדובר</p>
            <a href="#">נתונים אפשריים*</a>
        </li>
        <li>
            <img src="resources/images/assets/image6.jpg" alt="image6" />
            <h4>כותרת</h4>
            <p>כמה מילים אולי אפילו 2-3 משפטים הסבר ותיאור על הנושא המדובר</p>
            <a href="#">נתונים אפשריים*</a>
        </li>
    </ul>

    <a href="#" class="button1">עוד נושאים בוערים**</a>

</div>
