<!DOCTYPE html>
    <html>
        <head>
            <link rel="stylesheet" type="text/css" media="screen" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/themes/base/jquery-ui.css"/>
            <script type="text/javascript" src="http://www.google.com/jsapi"></script>
            <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
            <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>


        </head>

        <body>

            <script type="text/javascript">

            $(document).ready(function() {

                $.ajax({
                    url: 'http://dev.empeeric.com/api/subjects',
                    type: "GET",
                    async: true,
                    success: function (data) {
                        console.log(data);
                        console.log(JSON.stringify(data));
                        var size = data.objects.length;
                       /* $('#subject_1').text(data.objects[0].name);
                        $('#subject_2').text(data.objects[1].name);
                        $('#subject_3').text(data.objects[2].name);
                        $('#subject_4').text(data.objects[3].name);
                        $('#subject_5').text(data.objects[4].name);
                        $('#subject_6').text(data.objects[5].name);
                        $('#subject_7').text(data.objects[6].name);*/


                        for (var i=0; i < size; i++){
                            var subject = data.objects[i];

                            var subject_link = $(document.createElement('a'))
                                    .attr("id", 'subject_link_' + i);
                            subject_link.attr('href', "/selectedSubjectPage?subject_name="+subject.name);
                            subject_link.text(subject.name);
                            $('.subject').append(subject_link).append('<br />');

                            if (subject.is_hot){
                                var hot_subject_link = $(document.createElement('a'))
                                        .attr("id", 'hot_subject_link_' + i);
                                hot_subject_link.attr('href', "");
                                hot_subject_link.text(subject.name);
                                console.log(hot_subject_link);
                                $('.hot_subject').append(hot_subject_link).append('<br />');
                            }
                        }
                    },

                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('error');
                    }
                });
            });

            </script>

            <div>
                <label for="look_for_tags">look for tags:</label>
                <input type="text" name="tags" id="look_for_tags">
            </div>

            <div class = 'subject'>
                <p> SUBJECTS: </p>
               <!-- <a href="/selectedSubjectPage?subject_name=" id= "subject_1"> 1 </a>
                <a href="/selectedSubjectPage" id= "subject_2"> 2 </a>
                <a href="/selectedSubjectPage" id= "subject_3"> 3 </a>
                <a href="/selectedSubjectPage" id= "subject_4"> 4 </a>
                <a href="/selectedSubjectPage" id= "subject_5"> 5 </a>
                <a href="/selectedSubjectPage" id= "subject_6"> 6 </a>
                <a href="/selectedSubjectPage" id= "subject_7"> 7 </a>-->
            </div>

            <div class ="hot_subject" >
                <p> HOT SUBJECTS: </p>
            </div>





        </body>
    </html>