<div id="main">
      	<div class="post clearfix">
          <h2><%= title %></h2>

          <div id="search-form" class="form">
            <form action="#" method="post">
              <p class="clearfix">
                <input type="text" title="search" class="textbox"/>
            <input type="submit" title="submit" class="submit-btn" value="חפש"/>
              </p>
            </form>
          </div>
          <div class="title clearfix">
            <h4><%= all_pending_actions %></h4>
            <div class="classified">
              <form action="#" method="post">
                <div><span class="selectbox">
                  <select id="select">
                    <option>מיון שונה</option>
                  </select>
                </span></div>
              </form>
            </div>
          </div>

          <ul id="mainList" class="list1">
          </ul>


      </div>
    	</div>