<!DOCTYPE html>
<%
        var error_message = error_message || '';
%>
<html>
<head>
    <% include partials/head.ejs %>
</head>
<body>
<% include partials/body_top.ejs %>
<div id="wrap">
        <div id="header">
            <% include partials/menu.ejs %>
            <% include partials/user_box.ejs %>
            <% include partials/failures.ejs %>
            <% include partials/tag_search.ejs %>
        </div>
        <div id="content" class="cf">   
            <h2>
הרשמה
            </h2>
            <form id="register_form_full" action="/account/register" class="login-form cf" method="POST">
                <div class="err_msg">
                <%if(error_message == 'already_exists'){%>
                        כתובת האימייל שנקלטה מופיעה כבר במערכת. אם שכחת את סיסמתך
                        <a href="/account/forgot_password">
                            לחץ כאן
                        </a>
                <% } else { %>
                    <%=error_message%>
                <%}%>
                </div>
                <div class="areas">
                    <div class="title">
                        <a href="/account/facebooklogin"><img src="/images/facebook-btn.png" alt="" /></a>
                        <span class="spacer"></span>
                        מלא את הפרטים הבאים:

                    </div>
                    <div class="one">
                        <label>
                            שם מלא:
                        </label>
                        <input id="full_name" name="full_name" class="text" type="text" value="<%= body.first_name || '' %>" />
                    </div>
                    <div class="one">
                        <label>
                            דוא”ל:
                        </label>
                        <input id="email" name="email" class="text" type="email" value="<%= body.email || '' %>" />
                    </div>
                    <div class="one hide">
                        <label>
                            קוד הזמנה:
                        </label>
                        <textarea id="invitation_code" name="invitation_code" cols="0" rows="0"></textarea>

                    </div>
                </div>
                <input type="hidden" name="next" value="<%= next || '' %>" />
                <input type="submit" value="שלח" />
            </form>
        </div>
    </div>
    <% include partials/footer.ejs %>
</body>
</html>


<script type="text/javascript">
    $(function(){
        $.validator.addMethod("two_parts", function(value) {return ~value.indexOf(' ');}, 'יש להירשם בשם מלא');

        $('#register_form_full').validate({
            errorElement: "p",

            rules:{
                full_name:{
                    required: true,
                    two_parts: true
                },
                email:{
                    required: true
                }
            },
            messages:{
                full_name: {
                    required:"נא להזין שם פרטי ומשפחה"
                },
                email:{
                    required:'נא להזין כתובת מייל',
                    email:'כתובת מייל שגויה'
                }
            },
            highlight: function (element, errorClass) {
                $(element).addClass('error').removeClass('valid');
            },
            unhighlight: function (element, errorClass) {
                $(element).removeClass('error').addClass('valid');
            }
        })
    })
</script>
