<!DOCTYPE html>

<html>
<head>
    <% include partials/head.ejs %>
</head>

<body>


<div id="wrap">
    <div id="header">
        <% include partials/menu.ejs %>
        <% include partials/user_box.ejs %>
        <% include partials/failures.ejs %>
        <!--<% include partials/tag_search.ejs %>-->
    </div>
    <div id="content" class="cf">
        <h2>
הרשמה
        </h2>

        <form class="login-form cf" method="POST">
            <div class="areas">
                <div class="title">
                    הכנס סיסמא חדשה:
                </div>
                <div class="one">
                    <label>
                        סיסמא חדשה:
                    </label>
                    <input name="new_password" id="new_password" class="text" type="password" value=""/>
                </div>
                <div class="one">
                    <label>
                        וידוא סיסמא:
                    </label>
                    <input name="password_confirmation" class="text" type="password" value=""/>
                </div>
            </div>
            <input type="submit" value="שלח"/>
        </form>
    </div>
</div>
<% include partials/footer.ejs %>
<script>
    $(function(){
        $('.login-form.cf').validate({
            errorElement: "p",

            rules:{
                new_password:{
                    required: true
                },
                password_confirmation:{
                    required: true,
                    equalTo: '#new_password'
                }
            },
            messages:{
                new_password: {
                    required:"נא להזין סיסמא"
                },
                password_confirmation:{
                    required:'הקלד את הסיסמא שנית',
                    equalTo:'סיסמת הוידוא שהזנת לא תואמת את הסיסמא המקורית.'
                }
            },
            highlight: function (element, errorClass) {
                $(element).addClass('error').removeClass('valid');
            },
            unhighlight: function (element, errorClass) {
                $(element).removeClass('error').addClass('valid');
            }
        })
    })
</script>
</body>
</html>