

<div id="popupContact">
    <a id="popupContactClose">x</a>
    <h1>Title of our cool popup, yay!</h1>
    <p id="contactArea">
        Here we have a simple but interesting sample of our new stuning and smooth popup. As you can see jQuery and CSS does it easy...
        <br/><br/>
        We can use it for popup-forms and more... just experiment!
        <br/><br/>
        Press ESCAPE, Click on X (right-top) or Click Out from the popup to close the popup!
        <br/><br/>
        <a href="http://www.yensdesign.com"><img src="logo.jpg" alt="Go to yensdesign.com"/></a>
    </p>
</div>
<div id="backgroundPopup"></div>