<div class="one-box maag-one-box cf" data-id="{_id}">
    <div class="right">
        <a href="/actions/{_id}">
            <div style="width:141px; height:79px;" class="auto-scale floatRight">
                <img src="{image_field.url}" alt="{tooltip_or_title}" title="{tooltip_or_title}" />
            </div>
        </a>

        <div class="text">
           <a class="no_underline_cursor_when_hover" href="/actions/{_id}">
                <h4>{title}</h4>
            </a>
            <p>{text_field_preview|s}</p>
        </div>
        <div class="bottom cf">
            <div class="ratio">
            </div>
        </div>
    </div>
    <div class="left">
        {?is_going}
        <a class="join_button social-on-click" data-social-title="{social_popup_title}" data-social-text="{social_popup_text}" data-action="leave" data-action="follower" data-img_src="{image_field_preview.url}" data-text_preview="{text_field_preview}" data-title="{title}" data-rel="/actions/{_id}" data-main_title="{cycle_title}" data-main_id="{cycle_id[0].cycle}" href="#">עזוב</a>
        {:else}
        <a class="join_button social-on-click" data-social-title="{social_popup_title}" data-social-text="{social_popup_text}" data-action="follower" data-img_src="{image_field_preview.url}" data-text_preview="{text_field_preview}" data-title="{title}" data-rel="/actions/{_id}" data-main_title="{cycle_title}" data-main_id="{cycle_id[0].cycle}" href="#">הצטרף</a>
        {/is_going}
        <a class="share green-share" data-img_src="{image_field_preview.url}" data-title="{title}" rel="/actions/{_id}" href="/facebookShare?link=/actions/{_id}"><span>שתף</span></a>
    </div>
    <div class="bottom-plus cf">
        <div class="right">
            <div class="bottom cf">
                <div class="info">
                    <div>
                        <strong>
                            משתתפים:
                        </strong>
                        {participants_count}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
