<div style="left: 0px" class="event event-prev creation">
    <div class="icon prev-icon">
        <span class="i"></span>
        {?is_displayed}
            <div class="popup-event type-three showdiv" item-id="{_id}">
        {:else}
            <div class="popup-event type-three" item-id="{_id}">
        {/is_displayed}

            <div class="popup-text">
                <h3>תחילת הדיון בחזון שהוביל לקמפיין</h3>
                <a href="/discussions/{_id}">{title}</a>
            </div>
        </div>
    </div>
                    <span class="number">
                          {date|date_short}
                    </span>
                    <span class="text">
                        יצירת דיון
                    </span>
</div>