<div style="left: {offset}px" class="event past-cluster">
    <div class="icon white-icon multi">
        <span class="i right"></span>
        <span class="i left"></span>
        <span class="i center"></span>
        {?is_displayed}
        <div class="popup-event type-three showdiv">
            {:else}
            <div class="popup-event type-three">
                {/is_displayed}

            <div class="popup-text">
                <h3>{month}</h3>
                <ul class="">
                    {#items}
                    {?manuver_link}
                        <li><strong>{type_print}</strong> - {short|s}</li>
                    {:else}
                        <li><strong>{date|date_short} </strong> {?link}<a href="{link}" >{/link}<strong>{type_print}</strong>{?short} - {short}{/short}{?link}</a>{/link}</li>
                    {/manuver_link}
                    {/items}
                </ul>
            </div>
        </div>
    </div>

        <span class="text">
                {month}
        </span>
</div>