<div style="left: {offset}px" class="event event-next" id="timeline_item_{timeline_index}">
        <div class="icon blue-icon">
        <span class="i"></span>

        {?is_displayed}
            <div class="popup-event type-one showdiv" item-id="{_id}">
        {:else}
            <div class="popup-event type-one" item-id="{_id}">
        {/is_displayed}
        <div class="popup-text">
            <h4 title="{title}">{title}</h4>
            {?location}<p>{location.address}</p>{/location}
            <p>{date|time_only}</p>
            <p class="going_num">{num_of_going} משתתפים</p>

            <a item-id="{_id}" class="join-btn" href="javascript:void(0); " >
                {?is_going}
                עזוב
                {:else}
                הצטרף
                {/is_going}
            </a>
        </div>
    </div>

    </div>
    {^cluster}
            <span class="number">
                {date|date_short}
            </span>
            <span class="text">
                {?category}
                {category}
                {/category}
            </span>
    {/cluster}
</div>
