<div class="one-box maag-one-box cf" data-id="{_id}">
    <div class="right">
        <a href="/cycles/{_id}">
            <div style="width:141px; height:79px; float:right;" class="auto-scale floatRight">
                <img src="{image_field_preview.url}" alt="{tooltip_or_title}" title="{tooltip_or_title}" />
            </div>
        </a>

        <div class="text">
            <a class="no_underline_cursor_when_hover" href="/cycles/{_id}">
                <h4>{title}</h4>
            </a>
            <p>{text_field_preview|s}</p>
        </div>
        <div class="bottom cf">
            <div class="ratio">
            </div>
            <div class="info">
                <div class="first">
                    <strong>
    תאריך פתיחה:
                    </strong> {creation_date.date|date}
                </div>
                <div>
                    <strong>
                        מספר תומכים:
                    </strong> {total_count}
                </div>
            </div>
        </div>
    </div>
    <div class="left">
        {?is_follower}
        <a class="join_button social-on-click" data-social-title="{social_popup_title}" data-social-text="{social_popup_text}" data-action="leave" data-img_src="{image_field_preview.url}" data-title="{title}" data-rel="/cycles/{_id}" href="#">עזוב</a>
        {:else}
        <a class="join_button social-on-click" data-social-title="{social_popup_title}" data-social-text="{social_popup_text}" data-action="follower" data-img_src="{image_field_preview.url}" data-title="{title}" data-rel="/cycles/{_id}" href="#">הצטרף</a>
        {/is_follower}
        <a class="share" data-img_src="{image_field_preview.url}" data-text_preview="{text_field_preview}" data-title="{title}" rel="/cycles/{_id}" href="/facebookShare?link=/cycles/{_id}"><span>שתף</span></a>
    </div>

    {?mok_upcoming_action}
        <div class="bottom-plus cf">
            <div class="right">
                <div class="bottom cf">
                    <div class="info-more">
                        הפעולה הקרובה
                    </div>
                    <div class="info">
                            <div class="first">
                                <span class="status status-green"></span>
                                <strong> <a class="no_underline_cursor_when_hover" href="/actions/{?mok_upcoming_action}{mok_upcoming_action._id}{/mok_upcoming_action}">{?mok_upcoming_action}{mok_upcoming_action.title}{/mok_upcoming_action}</a></strong> | <strong>תאריך ושעה:</strong> {?mok_upcoming_action}{mok_upcoming_action.execution_date.date|time}{/mok_upcoming_action}
                            </div>
                        <div>
                            <strong>
                                מספר משתתפים:
                            </strong> {?mok_upcoming_action}{mok_upcoming_action.num_of_going}{/mok_upcoming_action}
                        </div>
                    </div>
                </div>
            </div>
            <div class="left">
                <a class="share" data-img_src="{?mok_upcoming_action}{mok_upcoming_action.image_field_preview.url}{/mok_upcoming_action}" data-text_preview="{?mok_upcoming_action}{mok_upcoming_action.text_field_preview}{/mok_upcoming_action}" data-title="{?mok_upcoming_action}{mok_upcoming_action.title}{/mok_upcoming_action}" rel="/actions/{?mok_upcoming_action}{mok_upcoming_action._id}{/mok_upcoming_action}" href="/facebookShare?link=/actions/{?mok_upcoming_action}{mok_upcoming_action._id}{/mok_upcoming_action}"><span>שתף</span></a>

            </div>
        </div>
    {/mok_upcoming_action}
</div>
