<div class="elected_item">
    <a href="/discussions/{_id}">
        <div style="width:178px; height:92px;" class="auto-scale">
            <img class="floatRight" src="{image_field_preview.url}" alt="{tooltip_or_title}" title="{tooltip_or_title}" />
        </div>
    </a>
    <a  href="/discussions/{_id}">{title}</a>


        <div class="tags">

            {#tags}
            <a href="/information_items?tag_name={.|u}"
            {@idx}
            {@if cond="({.} > 1 )"}
            style="display:none;"
            {/if}
            {/idx}
            >{.}</a>{~n}
            {/tags}

            <div class="info">
               <!-- TODO grade_sum == post_count cause mongoode dont allow me to add a field!!-->
                <span class="talks">{grade_sum}</span>
                <span class="watched">{view_counter}</span>
            </div>
        </div>



</div>