<div class="one-box cf" data-id="{_id}">
    <div class="right">
        <a href="/discussions/{_id}">
        <div style="width:141px; height:79px; float:right;" class="auto-scale floatRight">
            <img src="{image_field_preview.url}" alt="{tooltip_or_title}" title="{tooltip_or_title}" />
        </div>
        </a>
        <div class="text">
            <h4><a href="/discussions/{_id}"> {title} </a></h4>
            <p>{text_field_preview|s}</p>
        </div>
        <div class="bottom cf">
            <div class="ratio">
               דירוג נוכחי:  <span> {grade|grade}</span>
            </div>
            <div class="info">
                <div class="first">
                    <strong>תאריך פתיחה:</strong> {creation_date|time}
                </div>
                <div>
                    <strong>מספר משתתפים:</strong> {participants_count}
                </div>
            </div>
        </div>
    </div>
    <div class="left">
		 {?is_follower}
			<a class="join_button"  data-action="leave"  href="#">עזוב</a>
        {:else}
			<a class="join_button" data-action="follower" href="#">הצטרף</a>
        {/is_follower}
        <a class="share" data-img_src="{image_field_preview.url}" data-text_preview="{text_field_preview}" data-title="דיון בחזון {title}" rel="/discussions/{_id}" href="/facebookShare?link=/discussions/{_id}"><span>שתף</span></a>
    </div>
</div>