<div class="popup login-popup" style="" >
    <div class="alert">     <p>
        שם המשתמש שהוזן שגוי. אנא נסו שוב
    </p>   </div>

    <div>
        <form id="login_pop_form" action="javascript:void(0)" method="POST">
            <h2 id="login_title">
                פוליטיקלי קורקט
            </h2>
            <div style="font-size: 18px;">


                אנחנו בעורו לא מסתפקים בהצהרות של פוליטיקאים, ובכוונתנו להמשיך לעקוב אחר פעילות הח"כים ולדרוש מהם שיעמדו מאחורי מילתם. כדי שיהיה לנו גיבוי ציבורי הנדרש לעשייה זו, אתם מוזמנים להצטרף אלינו. תמיכתכם חיונית!



            </div>
            <a class="register_btn"/>
            <a id="fb_ajax_conncect" style="margin: 10px" class="facebook" href="javascript:void(0)"></a>
            <hr>

            <h2 id="login_title">
  כבר נרשמתם?
            </h2>
            <div class="box">
                <input name="email" type="text" placeholder='דוא"ל'/>
                <input name="password" type="password" placeholder="סיסמא" />
            </div>
            <div class="box left">
                <input id="login_ajax" type="submit" value="" />
                <a class="forgot_password" href="/account/forgot_password">
                    שכחת סיסמא?
                </a>
            </div>


        </form>

    </div>
    <div class="noalert" style="width: 490px;">

    </div>


