<div class="popup login-popup" style="" >
    <div class="alert">     <p>
        שם המשתמש שהוזן שגוי. אנא נסו שוב
    </p>   </div>

    <div>

            <h2 id="login_title">
שיתוף תוצאות בפייסבוק
            </h2>

            <div  style="width: 420px;height:220px;display: block">  <img    src="{image}" style="width: 100%"></div>

            <textarea id="fb_share_body" style="height:80px; width:415px" cols="">{body}</textarea>
            <a      id="share_bt"
                    style="
background: #2FD43B url(../images/green-btn-border.png) 0 0 repeat-x;
border-color: #2EAB35;

display: block;
float: left;

border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
width: 110px;
height: 29px;
color: white;
font: normal 18px/33px 'AdumaFOTRegular';
padding: 0;

text-align: center;
text-decoration: none;
cursor: pointer;"  href="javascript:void(0);">
        <span style="padding-right: 25px;
                    padding-right: 16px;
                    margin-right: -16px;
                    background: url(../images/prev-arrow.png) 90% 40% no-repeat;">
            שתף
        </span>
            </a>




    </div>
    <div class="noalert" style="width: 490px;">

    </div>



