<div class="popup  give-mandats-popup">
    <div class="middle-popup">
        <div>
            <label>{message}</label>
        </div>

        <div class="radio-div">
            0<input type="radio" name="group" value="0" ><br>
            1<input type="radio" name="group" value="1"><br>
            2<input type="radio" name="group"  value="2"><br>
            3<input type="radio" name="group"  value="3"><br>
        </div>
    </div>
    <div class="popup-bottom">

        <a class="dark-grey-btn cancel-button" href="">
		  בטל
		</a>
        <a class="dark-grey-btn ok-button" href="">
אשר
        </a>
    </div>
</div>