<div class="one">
    <a href="/{type}s/{_id}">
        <div style="width:292px; height:164px;" class="auto-scale">
            <img src="{image_field_preview.url}" alt="title"  title="{tooltip_or_title}" />
        </div>
    </a>
    <h4><a href="/{type}s/{_id}">{title}</a></h4>
    <div class="item_text_preview">
    {text_field_preview|s}
    </div>
    <div class="tags">
        <div class="info">
            {?is_info_item}
            {:else}
                <span class="talks">{post_count}</span>
            {/is_info_item}
            <span class="watched">{view_counter}</span>

        </div>
        {#tags}
        <a href="/{type}s/?tag_name={.|u}"
        {@idx}
        {@if cond="({.} > 2 )"}
            style="display:none;"
        {/if}
        {/idx}
        >{.}</a>{~n}
        {/tags}
        <div class="more">
            <!--<span></span>-->
            <!--<ul>-->
                <!--{@if cond="(0{tags|length} > 3 )"}-->
                <!--<li><a href="">הצג עוד תגיות</a></li>-->
                <!--{/if}-->
                <!--<li><a href="">הוסף תגית</a></li>-->
            <!--</ul>-->
        </div>
    </div>
</div>
