<div class="user-one cf">
    <div class="user-right">
       <a href="/myuru/{id}">
             <div class="img-box">
                    <div class="auto-scale" style="width: 60px;height: 64px">
                        <img  alt="" src="{avatar_url}">

                    </div>
                 <img alt="" src="/images/user-fillter-small-white.png" class="wraper">
                </div>
        </a>
    </div>
    <div class="user-left">
       <p data-bablic-exclude>{first_name} {last_name}</p>
        <div class="proxy">
            <span>{num_of_proxies_i_represent}</span>
        </div>
        <div class="respect">
            <span>{score}</span>
        </div>
    </div>
</div>