{#items}
    <div class="one"  item_id="{_id}">
        <div class="top-section">
            <img class="floatRight" src="{image_field_preview.url}" alt="" />
            <h4>{title}</h4>
            <p>{text_field_preview|s}</p>
        </div>
        <div class="tags">
            <div class="info">
                <span class="talks">0</span>
                <span class="watched">{view_counter}</span>
            </div>
            {#tags}
            <a href="/{section}/?tag_name={.|u}"
            {@idx}
            {@if cond="({.} > 1 )"}
            style="display:none;"
            {/if}
            {/idx}
            >{.}</a>{~n}
            {/tags}
        </div>
    </div>
{/items}
