
<div class="blue"  data-userid="<%=userProxy._id%>" style="height:{height}">

   <!-- <div class="info" style="overflow: hidden">
        מוקצים לנציגים:{totalProxy}


    </div>-->
</div>


<div id="token-popup{._id }"   class="token-popup tooltip"
     data-userid="{_id}"   data-firstname="{.first_name}"  >

    <div class="user-right">
        <a href="/myuru/{_id}">
            <div class="img-box">
                <div class="auto-scale"  style="width: 41px;height: 44px">
                    <img src="{avatar}" alt="" />
                </div>
                <img class="wraper" src="/images/user-fillter-small-white.png" width="41" alt="" />
            </div>
        </a>
    </div>
    <div class="user-left" >
        <div>
             <div class="proxy given-mandat-from-me" >
                <span dir="ltr">{proxy}</span>
             </div>
            <div  class="user-name">
               {name}
            </div>

        </div>
        <div  class="right1" style="float: right;">
            <div class="proxy">
                <span dir="ltr">{num_of_proxies_i_represent}</span>
            </div>
            <div class="respect">
                <span dir="ltr">{score}</span>
              <!--  <span dir="ltr"><%=userProxy.score?userProxy.score: 0%></span>-->
            </div>
        </div>
        <div  class="hisuru-popup left1">
            <a  href="javascript:void(0);"  class="giveProxy">
                תן מנדט
            </a>
        </div>
    </div>
</div>
