
<div id="resource-popup{.resource}"
     data-resource="{resource}" class="user_brings_resource_popup">

        <div class="user-right">
            <a href="/myuru/{_id}">
                <div class="img-box">
                    <div class="auto-scale"  style="width: 41px;height: 44px">
                        <img src="{avatar}" alt="" />
                    </div>
                    <img class="wraper" src="/images/user-fillter-small-white.png" width="41" alt="" />
                </div>
            </a>
        </div>
        <div class="user-left">
            <p class="resource_user_name">
                {?my_resource}
                    אני
                {:else}
                {name}
                {/my_resource}
            </p>
        </div>
        <div  class="dont_bring left1">
            {?my_resource}
            <a  href="javascript:void(0);"  class="i_dont_bring_bt">
אני לא מביא
            </a>
            {/my_resource}
        </div>
      </div>
</div>
