body {
  padding: 50px;
  font: 14px Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.hide {
    display: none;
}

.panel {
    float: left;
    padding: 10px;
    min-width: 200px;
}

.form {
    width: 500px;
    padding: 10px;
}

.form label {
    display: block;
}

.form input {
    width: 200px;
    padding: 1px 2px;
}

.button {
    padding: 5px 10px;
}

div.subject {
    background: yellow;
}

div.hot_information_item {
     background:  #9acd32;
}

div.tags {
    background:  #8a2be2;
}

div.info_items_of_subject {
    background:  #8a2be2;
}

div.shopping_cart {
    background:  #808080;
}




