
body{
    margin: 0;
    font-family:arial;
    background: #EDEDED url(/images/bg_top1.png) 0 0 repeat-x;
}

hr{
    clear: both;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ebebeb;
    margin: 1em auto;
    padding: 0;
    width: 93%;

}

#wrapper{
    width:100%;
    padding:0;
    margin:auto;
}

#header_wrapper{
    width:100%;
    padding:0px;
    margin:auto;
    height:215px;
    background:url(/images/bg_top.png) top center no-repeat;
    z-index: 1;
    position:relative;
}

#header_top{
    margin:auto;
    width:940px;
    padding-top:10px;
    height:120px;
}

#header_bottom{
    margin:auto;
    width:940px;
    height:70px;
    /* line-height:70px;    */
}

#logo_holder{
    width:150px;
    float:right;
    height:86px;
    padding-top:10px;
    text-align:right;
    position: relative;
}

#title_holder{
    float:right;
    width:640px;
    height:120px;

    margin:auto;
    text-align:center;
}

#logo_holder img,
#title_holder img{
    vertical-align:middle;
}

#social_holder{
    float:right;
    width:150px;
}

#social_holder .social_item{
    margin:10px 0;
    text-align: left;
}

#participants_holder{
    width:810px;
    float:right;
}

#participants_total{
    font-size:23px;
    max-width:220px;
    float:right;
    color:#9b9a9a;
}

#participants_thumbs{
    max-width:620px;
    float:right;
    border-left: 1px solid #d5d5d5;
    padding:10px 15px;
    margin:10px 0;
}

.participant_thumb{
    float:right;
    height:32px;
    width:32px;
    background:url(/images/participant_thumb.png) 0 0 no-repeat;
    margin: 0 4px;
}

#login{
    position: relative;
    margin-top: -32px;
    float:left;
    width:150px;
}

#login input{
    border:0px;
    background:url(/images/sprite.png) -1px -119px no-repeat;
    margin:16px 0;
    width:118px;
    height:40px;
    float:left;
    cursor:pointer;

}

#content_wrapper{
    direction:rtl;
    margin-top: -14px;
    z-index: 0;
    float: right;
    width: 100%;
    background: url(/images/bg_content.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#how_to_play{
    position:relative;
    margin:auto;
    width:670px;
    padding:15px 50px;
    font-size:16px;
    color:#7c7763;
    background:#f8f3de;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright:0px;
    -moz-border-radius-bottomleft:10px;
    -moz-border-radius-bottomright:10px;
    -webkit-border-top-left-radius:0px;
    -webkit-border-top-right-radius:0px;
    -webkit-border-bottom-left-radius:10px;
    -webkit-border-bottom-right-radius:10px;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    -moz-box-shadow: 0px 2px 5px #000000;
    -webkit-box-shadow: 0px 2px 5px #000000;
    box-shadow: 0px 2px 5px #000000;
}

#how_to_play h2{
    color:#7c7763;
    margin:0 3px;
    font-size:16px;
    font-weight:bold;
}

#close_button{
    position:absolute;
    bottom:-15px;
    left:-15px;
    background:url(/images/sprite.png) -108px -13px no-repeat;
    height:28px;
    width:28px;
    cursor:pointer;
}

#quotes_sidebar_holder{
    border:1px solid #d6dbde;
    background:#fff;
    margin-top:10px;
}

#quotes_holder{
    width:820px;
    margin:15px auto 0px auto;
    padding:15px 50px;
}

#quotes_counter{
    color:#afbcf7;
    font-style:italic;
}

#current_quote_holder{
    position:relative;
    min-height:260px;
    border: 5px solid #fff;
    background:#fff url(/images/bg_quote.jpg) bottom center repeat-x;
    margin:15px auto;
    padding:15px 40px;
}

blockquote{
    font-size: 40px;
    font-family: david;
    color: #4A4A4B;
    display: block;
    width: 90%;
    height: auto;
    margin: 0px;
    padding: 30px 40px 30px 20px;
    position: relative;
    line-height: 48px;
}

.quote_start{
    width:32px;
    height:23px;
    background:url(/images/sprite.png) -10px -14px no-repeat;
    display:block;
    position:absolute;
    top:0px;
    right:5px;
}

.quote_end{
    width:32px;
    height:23px;
    background:url(/images/sprite.png) -10px -14px no-repeat;
    display:block;
    position:absolute;
    bottom:0px;
    left:0px;
}

.quote_credit{
    font-family:david;
    font-size:23px;
    font-weight:bold;
    color:#3b63ef;
    float:right;
    width: 100%;
}

.quote_credit a{
    text-decoration:none;
    font-family:david;
    font-size:23px;
    font-weight:bold;
    color:#3b63ef;
}

.quote_credit a:hover{
    text-decoration:underline;
}

.quote_party{
    font-family:david;
    font-size:23px;
    font-weight:normal;
    color:#3b63ef;
}



#current_quote_photo{
    position: absolute;
    top: 38%;
    right: -90px;
}

#current_quote_photo img{
    vertical-align:middle;
    max-height:118px;
    max-width:82px;
    border:3px solid #fff;
    -moz-box-shadow: 0px 1px 3px #8e8d8d;
    -webkit-box-shadow: 0px 1px 3px #8e8d8d;
    box-shadow: 0px 1px 3px #8e8d8d;
}

#poll_holder{
    width: 780px;
    margin: 0px auto 15px auto;
    height:60px;
    position: relative;
    top: 112px;
    clear: both;
}

.poll_option{
    border:0px;
    margin:0px auto;
    cursor:pointer;
    float:right;
    padding:0px;
}

.poll_option#option_1{ display:block; height:60px; width:166px; background:url(/images/sprite.png) -614px -220px no-repeat; }
.poll_option#option_1:hover{ background-position:-614px -293px; }
.poll_option#option_1:active{ background-position:-614px -373px; }

.poll_option#option_2{ display:block; height:60px; width:149px; background:url(/images/sprite.png) -465px -220px no-repeat; }
.poll_option#option_2:hover{ background-position:-465px -293px; }
.poll_option#option_2:active{ background-position:-465px -373px; }

.poll_option#option_3{ display:block; height:60px; width:160px; background:url(/images/sprite.png) -305px -220px no-repeat; }
.poll_option#option_3:hover{ background-position:-305px -293px; }
.poll_option#option_3:active{ background-position:-305px -373px; }

.poll_option#option_4{ display:block; height:60px; width:150px; background:url(/images/sprite.png) -155px -220px no-repeat; }
.poll_option#option_4:hover{ background-position:-155px -293px; }
.poll_option#option_4:active{ background-position:-155px -373px; }

.poll_option#option_5{ display:block; height:60px; width:155px; background:url(/images/sprite.png) 0px -220px no-repeat; }
.poll_option#option_5:hover{ background-position:-0px -293px; }
.poll_option#option_5:active{ background-position:-0px -373px; }

#other_buttons_holder{
    width: 780px;
    margin: 15px auto;
    height: 48px;
    position: relative;
    top: 120px;
}

#other_buttons_holder input{
    border:0px;
    cursor:pointer;
}

.end_game{ float:right; display:block; height:48px; width:275px; margin-right:4px; padding: 0; background:url(/images/sprite.png) -502px -463px no-repeat; }
.end_game:hover{ background-position: -502px -525px; }
.end_game:active{ background-position: -502px -590px; }

.to_index{ float:left; display:block; height:48px; width:275px; padding: 0; background:url(/images/sprite.png) 0px -460px no-repeat; }
.to_index:hover{ background-position: -0px -522px; }
.to_index:active{ background-position: -0px -587px; }

#footer_wrapper{
    background:url(/images/bg_footer.jpg) 0 0 repeat-x;
    direction:rtl;
    width:100%;
    float:right;
    padding:0px;
    height:290px;
}

#footer_content{
    width:800px;
    border-top:1px solid #5e5e5d;
    margin:135px auto 0px auto;
}

#footer_wrapper h3{
    color:#e2e8fc;
    font-size:14px;
    font-weight:bold;
}

#footer_wrapper .col{
    float:right;
    width:160px;
    font-size:12px;
    color:#cccccc;
    margin:0 20px;
}

#footer_wrapper .col ul{
    padding:0px;
    margin:0px;
}

#footer_wrapper .col ul li{
    list-style:none;
    padding:0px;
    margin:0px;
    text-indent:0px;
    font-size:12px;
    color:#cccccc;
}

#footer_wrapper .col ul li ul{
    padding-right:10px;
}

#footer_wrapper .col ul li ul li{
    list-style:initial;
    margin-right:8px;
}
#footer_wrapper .col a{
    text-decoration:none;
    color:#cccccc;
}

#footer_wrapper .col a:hover{
    text-decoration:underline;
}

#social_icon_row{
    float:right;
    width:100%;
}

.social_icon{
    float:right;
    width:26px;
    margin:3px 4px;
}

/* Results Page */

#sponsors_holder{
    width:780px;
    float:right;
    border-left: 1px solid #D5D5D5;
    height: 56px;
    margin: 3px 0;
}

#sponsors_holder h2{
    float:right;
    font-size:23px;
    font-weight:normal;
    line-height:33px;
    color:#bfc5c9;
    -moz-box-shadow: 0px 0px 1px #ffffff;
    -webkit-box-shadow: 0px 0px 1px #ffffff;
    box-shadow: 0px 0px 1px #ffffff;
}

#sponsors_logos{
    max-width:610px;
    float:right;
    padding:0;
    margin:0;
}

.sponsors_logos{
    float:right;
    height:32px;
    width:32px;
    background:url(/images/participant_thumb.png) 0 0 no-repeat;
    margin: 0 4px;
}

.sponsors_logo{
    height:48px;
    float:right;
    background-size:80px 48px;
    width:80px  ;
    margin-top: 10px;

}

.sponsors_logo.logo_1{ background:url(/images/logo_1.png) 0 0 no-repeat; }
.sponsors_logo.logo_2{ background:url(/images/logo_2.png) 0 0 no-repeat; }
.sponsors_logo.logo_3{ background:url(/images/logo_3.png) 0 0 no-repeat; }
.sponsors_logo.logo_4{ background:url(/images/logo_4.png) 0 0 no-repeat; }

#results_header{
    width:820px;
    margin:15px auto 0px auto;
    padding:15px 50px;
    height:70px;
}

#results_share,
#results_title{
    width:610px;
    float:right;
}

#results_header h2{
    margin:0px;
    padding:0px;
    font-size:43px;
    font-weight:normal;
    color:#fff;
}

#results_header h3{
    margin:0px;
    padding:0px;
    font-size:14px;
    font-style:italic;
    font-weight:normal;
    color:#afbcf7;
}

#results_holder{
    margin:0px auto 0px auto;
    padding: 5px 50px;
    height: 480px;
    background: url(/images/bg_content.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#results_share{
    float:left;
    background:url(/images/bg_results_share.png) no-repeat 0 0;
    width:185px;
    height:50px;
    line-height:48px;
    padding:0 5px;
    text-align:center;
}

.results_share_icon{
    color:#fff;
    font-size:18px;
    text-decoration:none;
    margin: 0 2px;
}

.results_share_icon img{
    position:relative;
    top:3px;
}

#selector_wrapper{
    width: 100%;
    margin: 0px auto 0px auto;
    height:87px;
    position: relative;
    background:url(/images/bg_selector.png) repeat-x 0 0;
}

#selector_holder{
    width: 750px;
    margin: 0px auto 0px auto;
    height:87px;
}

#selector_holder .selection{
    float:right;
    position:relative;
    top:-115px;
    margin:0 10px;
}

#selector_holder .selection a{
    text-decoration:none;
}

#selector_holder .name{
    width:227px;
    height:71px;
    overflow:hidden;
    background:url(/images/bg_selector_button.png) no-repeat 0 -77px;
    text-align:center;
    font-family:david;
    color:#fff;
    font-size:19px;
    font-weight:bold;
    padding-top:6px;
}

#selector_holder .name .title{
    font-weight:normal;
}

#selector_holder .selected .name,
#selector_holder .selected .name .title{
    color:#3b63ef;
}
/*
#selector_holder .photo{
    text-align: center;
    position: relative;
    top: 0px;
    background: url(/images/shadow_1.png) no-repeat 70px 110px;
    padding-bottom: 5px;
}

#selector_holder .photo img{
    height: 118px;
    border:4px solid #fff;
}
*/

#selector_holder .photo{

    margin-right: 66px;

    position: relative;
    top: 0px;
    background: url(/images/shadow_1.png) no-repeat 70px 110px;
    margin-bottom: 8px;

    border:3px solid #fff;
    height: 118px;
    overflow:hidden;
    height:118px;
    width: 82px;
}

#selector_holder .photo img{
    vertical-align:middle;
    position: absolute;
    height:118px;
    -moz-box-shadow: 0px 1px 3px #8e8d8d;
    -webkit-box-shadow: 0px 1px 3px #8e8d8d;
    box-shadow: 0px 1px 3px #8e8d8d;
    cursor: pointer;
}

#selector_holder .selection.selected .name{
    background:url(/images/bg_selector_button.png) no-repeat 0 0px;
}

.results_page #content_wrapper{
    direction:rtl;
    margin-top: -14px;
    z-index: 0;
    float: right;
    width: 100%;
    background:none;
}

#graph_holder{
    position: relative;
    width:740px;
    min-height: 260px;
    border: 5px solid white;
    background: white url(/images/bg_quote.jpg) bottom center repeat-x;
    margin: 15px auto 15px auto;
    padding: 15px 40px;
}

#graph{
    background: white url(/images/bg_graph.png) 0 0 no-repeat;
    width:740px;
    height:220px;
    position:absolute;
    bottom:25px;
}

#graph .graph_col{
    width:225px;
    margin:0 10px;
    float:right;
    height:220px;
    position:relative;
    bottom: 3px;
}

#graph .graph_col .percentage{
    right: -10px;
    position:absolute;
    bottom:0px;
    font-size:22px;
    font-weight:bold;
}

#graph .graph_col.col1 .bar{
    height:0;
    width:125px;
    background:#00b210;
    position:absolute;
    bottom:0px;
    right: 46px;
}

#graph .graph_col.col1 .percentage{
    color: #00b210;
}

#graph .graph_col.col2 .bar{
    height:0;
    width:125px;
    background:#4a4a4b;
    position:absolute;
    bottom:0px;
    right: 46px;
}

#graph .graph_col.col2 .percentage{
    color: #4a4a4b;
}

#graph .graph_col.col3 .bar{
    height:0;
    width:125px;
    background:#adadad;
    position:absolute;
    bottom:0px;
    right: 46px;
}

#graph .graph_col.col3 .percentage{
    color: #adadad;
}

#commitment{
    position:absolute;
    left:0px;
    background:#fff;
    border:1px solid #cccccc;
    padding:8px;
    z-index: 100;
    top:-34px;
    left:-30px;
}

#commitment span{
    float:right;
    text-align:justify;
    font-size:13px;
    font-weight:bold;
    color:#4a4a4b;
    padding:4px 0;
}

#commitment input{
    width:192px;
    height:44px;
    border:none;
    background:url(/images/URU_E.G_i.vote_btn_sprite.png) no-repeat 0 0;
    margin-right:10px;
    cursor: pointer;
}
#commitment input:hover{

    background:url(/images/URU_E.G_i.vote_btn_sprite.png) no-repeat 0 -44px;

}
#commitment input:active{

    background:url(/images/URU_E.G_i.vote_btn_sprite.png) no-repeat 0 -88px;

}


#content_main_wrapper{
    background:#ededed;
    width:100%;
    margin:-120px auto 0px auto;
    padding:40px 0;
    float: left;
}

#content_main_holder{
    width:940px;
    margin: 0 auto;
}

#content_right_holder{
    float:right;
    width:610px;
    margin-left:50px;

}

#content_right_holder .segment{

}

#content_right_holder .segment.about .text{
    width:570px;
    background:#fff;
    float: right;
    padding:20px;
    color:#4a4a4b;
    font-size: 13px;
    margin-top: 15px;
}

#content_right_holder .segment.about .text h2,
#content_right_holder .segment.about .text h3{
    margin:0px 0px 5px 0px;
    font-family:arial;
    font-weight:bold;
    font-size: 1.5em;
}
#content_right_holder .segment h2.title,
#content_right_holder .segment.about h2.title{


    color:#3b63ef;
    font-size:24px;
    float:right;
    background:url(/images/icon_exclamation.png) no-repeat center right;
    padding-right:25px;
    margin-top: 15px;
}
#content_right_holder .segment{
    width: 100%;
}
.title_link{
    position: relative;
}
#content_right_holder .segment.about .title_link a{
    left: 0;
    top: 43px;

    position: absolute;
    text-decoration: none;
    color: #3E3E3E;
    font-size: 12px;

    background: url(/images/arrow_left.png) no-repeat center left;
    padding-left: 12px;
}

#content_right_holder .segment.about .bubble {
    margin-top: 20px;
    background-color: #f8f3de;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.5) inset, 2px 2px 3px rgba(0, 0, 0, 0.1);
    color: #4d4d4d;
    display: inline-block;
    font-size:18px;
    text-align:right;
    padding: 13px 25px;
    position: relative;
    width:330px;
    margin-bottom: 35px;
    margin-right: 0px;

}


#content_right_holder .segment.about .bubble span{
    font-weight:bold;
}

#content_right_holder .segment.about .bubble:after,
#content_right_holder .segment.about .bubble:before {
    border-bottom: 25px solid transparent;
    border-right: 25px solid #f8f3de;
    bottom: -24px;
    content: '';
    position: absolute;
    right: 25px;
}

#content_right_holder .segment.about .bubble:before {
    border-right: 25px solid hsla(0,0%,0%,.1);
    bottom: -25px;
    right: 22px;
}​




#content_right_holder .segment.about .text h2{
     font-size:18px;
 }

#content_right_holder .segment.about .text h3{
    font-size:14px;
}

#content_right_holder .segment.about .text .col_right{
    float:right;
    width:260px;
    margin-left:50px;

}

#content_right_holder .segment.about .text .col_left{
    float:right;
    width:260px;

}

/* More Stats Segment */

#content_right_holder .segment.more_stats{

}

#content_right_holder .segment.more_stats .text{
    width:590px;
    background:#fff;
    float: right;
    padding:10px;
    color:#4a4a4b;
    font-size: 13px;
}

#content_right_holder .segment.more_stats .text h2,
#content_right_holder .segment.more_stats .text h3{
    margin:0px 0px 5px 0px;
    font-family:arial;
    font-weight:bold;
}

#content_right_holder .segment.more_stats h2.title{
    color:#3b63ef;
    font-size:24px;
    float:right;
    margin-top: 15px;
    width:100%;
}

#content_right_holder .segment.more_stats .text h2{
    font-size:18px;
}

#content_right_holder .segment.more_stats .text .col_right{
    float:right;
    width:260px;
    margin-left:50px;
}

#content_right_holder .segment.more_stats .text .col_left{
    float:right;
    width:260px;
}
#content_right_holder .segment.more_stats.kahol{
    display: none;
}
#content_right_holder .segment.more_stats.kahol .text h2,
#content_right_holder .segment.more_stats.kahol .text h2{
    border-bottom: 1px solid #EBEBEB;
    padding-bottom:4px;
}



#content_right_holder .segment.more_stats.kahol .bar_title,
#content_right_holder .segment.more_stats.kahol .bar_percentage,
#content_right_holder .segment.more_stats.kahol .bar{
    float:right;
    margin:0 0px 0 7px;
}

#content_right_holder .segment.more_stats.kahol .bar{
    float:left;
    margin: 0px;
}

#content_right_holder .segment.more_stats.kahol .bar{
    width:145px;
    height:17px;
    padding:4px 3px 3px 3px;
    background:url(/images/bg_bar.png) no-repeat 0 0;
}

#content_right_holder .segment.more_stats.kahol .bar .bar_inner{
    height:16px;
    background:url(/images/bar_green.png) repeat-x top left;
    float:left;
}



#content_right_holder .segment.more_stats.donors table{
    width:570px;
    padding: 0 20px;
    margin:0 auto;
}

#content_right_holder .segment.more_stats.donors table tr.odd{
    background:#f3f4f4;
}

#content_right_holder .segment.more_stats.donors table tr.even{
    background:#fff;
}

#content_right_holder .segment.more_stats.donors table tr td{
    border:none;

    text-align:center;
    padding:5px 15px;
}

#content_right_holder .segment.more_stats.kahol .bar_percentage{
    font-size:21px;
    font-weight:bold;
    float:left;
}







.header{
    background:url(/images/bg_header.png) no-repeat 0 0;
    width:590px;
    height:62px;
    float:right;
    padding: 5px 10px;
}

.header .item{
    float:right;
    margin-left:10px;
    line-height:58px;
}

.header .item.logo{

}

.header .item.title{
    color:#4a4a4b;
    font-size:25px;
}

.header .item.match span{
    font-size:16px;
}

.header .item.match span{
    color:#c23808;
    font-size:21px;
}

.header .item.link{
    float:left;
}

.header .item.link a{
    color: #878786;
    font-size:13px;
    float:left;
    margin:0px;
    background:url(/images/arrow_left.png) no-repeat scroll left center transparent;
    padding-left:12px;
    text-decoration:none;
}

span.remark{
    font-style:italic;
    color:#7f7f7e;
    font-size:17px;
    width:500px;
    display:block;
    margin:10px;
}

#back_to_top{
    float:right;
    color:#3b63ef;
    background:url(/images/button_back_to_top.png) no-repeat center right;
    padding-right:25px;
    font-size:12px;
    height:18px;
    line-height:18px;
}

/*More Stats Segment - End*/

#content_main_holder .segment{
    border-top: 5px solid #d6dbde;
    float: right;
    margin-bottom: 35px;
}

#content_left_sidebar{
    width:280px;
    float:right;
}

#content_left_sidebar .segment{
    border-top: 5px solid #d6dbde;
    margin-bottom: 25px;
}

.text a{
    color:#3b63ef;
}

.text .map,
.text .contact_info{
    border-top:1px solid #ebebeb;
    margin-top:15px;
    padding-top:15px;
}

.text .about_party a.read_more,
.text .about_politician a.read_more{
    width:260px;
    margin-top:5px;
    margin-left:15px;

}
.about_politician,
.about_party{
    min-height: 160px;
}

.text .share_buttons{
    float:right;
    border-top:1px solid #ebebeb;
    margin-top:15px;
    padding-top:15px;
    width:100%;
}

.text .share_buttons span{
    float:right;
    margin-left:5px;
    color:#adadad;
}

.text .share_buttons .share_button{
    float:right;
    margin-left:5px;
}

.contact_detail_holder{
    width:100%;
    float:right;
    margin: 4px 0px;
}

.contact_detail_holder .detail_name{
    float:right;
    width:80px;
}

.contact_detail_holder .detail_value.tw,
.contact_detail_holder .detail_value.fb{
    direction:ltr;
    text-align:right;
}

#content_left_sidebar .segment h2{
    margin-top: 15px;
    color: #3B63EF;
    font-size: 24px;
    line-height: 22px;
}

#content_left_sidebar .segment.quotes h2{
    padding-right: 30px;
    background: url(/images/icon_quotations.png) no-repeat scroll right center transparent;
}


.quotes_holder .status{
    font-size:14px;
    font-family:david;
    color:#4a4a4b;
    padding:17px 20px 17px 40px;
    position:relative;
    text-decoration: none;

}
.quotes_holder .status a{
    font-family:david;
    color:#4a4a4b;
    text-decoration: none;
}
.quotes_holder .status a:hover{
    font-family:david;
    color:#1a1a1b;
    text-decoration: underline;
}

.quotes_holder .status.even{
    background:#eaeaea;
}

.quotes_holder .status span{
    width:20px;
    height:20px;
    position:absolute;
    top:40%;
    left:10px;
}
.quotes_holder .status span.positive ,
.quotes_holder .status span.very_positive
{
    background:url(/images/icon_positive.png) no-repeat 0 0;
}

.quotes_holder .status span.very_negative,
.quotes_holder .status span.negative{
    background:url(/images/icon_negative.png) no-repeat 0 0;
}

.quotes_holder .status span.missing{
    background:url(/images/icon_missing.png) no-repeat 0 0;
}

#more_quotes a{
    background:url(/images/button_more_quotes.png) no-repeat 0 0;
    width:280px;
    height:24px;
    text-align:center;
    padding:5px 0 0 0;
    text-decoration:none;
    display:block;
    color:#50504f;
    font-size:14px;
    font-weight:bold;
}

.related_item{
    float:right;
    width:100%;
    margin-bottom:15px;
}

.related_item .related_photo{
    float:right;
}

.related_item .related_photo img{
    border:4px solid #fff;
}

.related_item .related_details{
    background:#f6f6f6;
    float:right;
    width:190px;
    font-family:arial;
    color:#50504f;
    position:relative;
    top:30px;
    padding:5px 0 7px 0;
}

.related_item .related_details .name{
    font-size:16px;
    font-weight:bold;
    width:100%;
    float:right;
}

.related_item .related_details .party{
    font-size:16px;
    font-weight:normal;
    width:100%;
    float:right;
}

.related_item .related_details a.read_more{
    color:#3b63ef;
    font-size:12px;
}

/* Results Page - End*/

#content_right_holder .segment.more_stats.kahol .bar_green,
#content_right_holder .segment.more_stats.kahol .bar_red,
#content_right_holder .segment.more_stats.kahol .bar_yellow{
    width:260px;
    float:right;
    margin: 10px 0;
}

#content_right_holder .segment.more_stats.kahol .bar_red .bar_percentage
{
    color:#c23808;
}

#content_right_holder .segment.more_stats.kahol  .bar_green .bar_percentage{
    color:#1dba2c;
}

#content_right_holder .segment.more_stats.kahol  .bar_yellow .bar_percentage{
    color:#d3b800;
}

#content_right_holder .segment.more_stats.kahol .bar_red .bar .bar_inner{
    background:url(/images/bar_red.png) repeat-x top left;
}

#content_right_holder .segment.more_stats.kahol .bar_yellow .bar .bar_inner{
    background:url(/images/bar_yellow.png) repeat-x top left;
}

#content_right_holder .segment.more_stats.kahol .bar_green .bar .bar_inner{
    background:url(/images/bar_green.png) repeat-x top left;
}
#back_to_top{
    cursor: pointer;
}
.play_more{

    color:#AFBCF7  ;
    margin-right: 15px;
}
#logo {
    position: absolute;
    top: 23px;
    right: 0;
    background: url(/images/logo.png) 0 0 no-repeat;
    width: 79px;
    height: 89px;
}

#logo:hover {
    background-position: 100% 0;
}

.agendas> div{
    float:right;
    margin: 10px 0 0 70px;
    cursor: pointer;
}

.hidden_quotes{
    display: none;
}


#game_controls_holder{
    position: relative;
    top: -5px;
    width: 264px;
    float: left;
}

#game_controls_holder a{
    color:#afbcf7;
    font-size:14px;
    text-decoration:none;
}

#game_controls_holder a.icon.continue{
    background:url(/images/icon_continue.png) no-repeat center right;
    padding-right:15px;
    padding-left:10px;
    border-left: 1px solid #afbcf7;
}

#game_controls_holder a.icon.reset{
    background:url(/images/icon_reset.png) no-repeat top right;
    padding-right:15px;
    margin-right:6px;
}


.pluginErrorLink{color:#f03d25}
.pluginButton{background:#eceef5;-webkit-border-radius:3px;border:1px solid #cad4e7;cursor:pointer;padding:2px 6px 4px;white-space:nowrap;color:#3b5998 ; font-size: 12px}
.pluginButtonInline{display:inline-block}
.pluginButtonX{cursor:default}
.pluginButton button{background:transparent;border:0;margin:-1px;padding:0;font:inherit;color:inherit;cursor:pointer}
.pluginButtonIcon{position:relative;top:3px;margin-right:3px}
.pluginButtonSmall{padding:1px 9px 2px 7px}
.pluginButtonSmall .pluginButtonIcon{margin-right:2px;}
.pluginButton:hover{border-color:#9dacce}
.pluginButtonPressed, .pluginButtonPressed:hover{background-color:#eee;border-color:#ddd;color:#aaa}
.pluginSkinDark .pluginButton{background-color:#c7c7c7;border-color:#999;color:#333}
.pluginSkinDark .pluginButton:hover{background-color:#d9d9d9;border-color:#ddd}
.pluginSkinDark .pluginButtonPressed, .pluginSkinDark .pluginButtonPressed:hover{background-color:#444;border-color:#555;color:#666}
.pluginButtonErrorLink{color:#a00;font-weight:bold}
.pluginButtonX .pluginButtonXOff, .pluginButtonX button:hover .pluginButtonXOn{display:inline-block}
.pluginButtonX .pluginButtonXOn, .pluginButtonX button:hover .pluginButtonXOff{display:none}
.pluginButton .pluginButtonThrobber, form.async_saving .pluginButtonIconWithThrobber{display:none}
form.async_saving .pluginButtonThrobber{display:inline-block;margin-top:2px;margin-bottom:1px;max-width:14px}.pluginCountButton{background:#fff;border:1px solid #c1c1c1;height:14px;line-height:14px;margin-left:6px;min-width:15px;padding:1px 2px;text-align:center;white-space:nowrap}
.pluginCountButtonNub{height:0;left:2px;position:relative;top:-14px;width:5px;z-index:2}
.pluginCountButtonNub s, .pluginCountButtonNub i{border-color:transparent #D7D7D7 transparent;border-style:solid;border-width:4px 5px 4px 0;display:block;position:relative;top:1px}
.pluginCountButtonNub i{border-right-color:#fff;left:2px;top:-7px}
.pluginCountButtonDark{background:#d7d7d7;border-color:#d7d7d7;color:#333}
.pluginCountButtonDarkNub i{display:none}.pluginCountTextConnected,
                                         .pluginCountConnected .pluginCountTextDisconnected{display:none}
.pluginCountConnected .pluginCountTextConnected{display:inline}.sp_like{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yI/x/1dQf_ATK831.png);background-repeat:no-repeat;display:inline-block;height:14px;width:14px}
.sx_like_fav{background-position:-0px -0px}
.sx_like_ch{background-position:-0px -15px}
.sx_like_x{background-position:-0px -30px}
.sx_like_thumb{background-position:-0px -45px}i.img{-ms-high-contrast-adjust:none;_overflow:hidden}
i.img u{position:absolute;top:-9999999px}



.register_btn{
    float: right;
    padding-bottom: 7px;
    background: white url(/images/URU_sign.up_btn_sprite.png) -240px 0 no-repeat;
    height: 45px;
    color: white;
    font-size: 18px;
    line-height: 28px;
    padding: 0;
    cursor: pointer;
    width: 120px;
    font-family: 'AdumaFOTMedium';
    border: 0;
    display: block;
    margin:11px 0 10px 30px
}

.register_btn:hover{

    background: white url(/images/URU_sign.up_btn_sprite.png) -120px 0 no-repeat;

}
.register_btn:active{

    background: white url(/images/URU_sign.up_btn_sprite.png) 0 0 no-repeat;

}

.share_icon{
    color:#3b63ef;
    font-size:18px;
    text-decoration:none;
    margin: 0 2px;
}

.share_icon img{
    position:relative;
    top:3px;
}

#content_right_holder .segment.about .social_holder{
    display:none;
    margin-top: 20px;
    background: url(/images/bg_social_small.png) no-repeat 0 0;
    width: 190px;
    height: 38px;
    display: block;
    float: left;
    padding-top: 12px;
    padding-right: 16px;
}


login-popup > div {

    padding: 20px 40px 20px 40px;
}

