#main-thing {
    margin: 0 auto;
    background-color: #ededed;
}

div.main-thing-in {
    width: 983px;
    margin: 0 auto;
}

ul#display-inline-block-example {
    width: 980px;
}

ul#display-inline-block-example li {
    display: inline-block;
    width: 475px;
    min-height: 108px;
    padding-bottom: 5px;
    margin: 0 10px 12px 0;
    vertical-align: top;

    background-color: #f9f9f9;
    background-repeat: no-repeat;
    background-position: right center;

    /* Prevent margin collapse */
    border: 1px solid transparent;

    /* For IE 7 */
    zoom: 1;
    *display: inline;
}

ul#display-inline-block-example li p {
    font-size: 95%;
}

li.uru1 {
    background-image: url(/images/elections/edu.png);
}

li.uru3 {
    background-image: url(/images/elections/uru2.png);
}

li.uru5 {
    background-image: url(/images/elections/uru3.png);
}

li.uru7 {
    background-image: url(/images/elections/uru4.png);
}

li.uru2 {
    background-image: url(/images/elections/uru5.png);
}

li.uru4 {
    background-image: url(/images/elections/uru6.png);
}

li.uru6 {
    background-image: url(/images/elections/uru7.png);
}

li.uru8 {
    background-image: url(/images/elections/uru8.png);
}

.checkBox {
    width: 20px;
    height: 21px;
    padding: 0;
    background: url(/images/elections/v.png) no-repeat 0 0;
    cursor: pointer;
    -webkit-appearance: none;
}

.checkBox:checked {
    background-position: 0 -20px;
}

div.intext, div.intext {
    position: relative;
    margin-top: 17px;
    margin-right: 149px;
    width: 323px;
    font-size: 12px;
    font-family: arial;
}

div.intext-checkbox {
    display: inline-block;
    position: absolute;
    top: 3px;
    right: -28px;
}

select#styledSelect.blueText {
    display: inline-block;
    float: left;
    margin-top: -7px;
    width: 155px;
    height: 29px;
    padding: 2px 0;
    color: #979795;
    font-size: 14px;
    border: 0;
    background: url(/images/elections/choose.png) no-repeat right center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -webkit-appearance: button;
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
}

/*
select#styledSelect.blueText option {
	background-color: #fff;
}
*/
#textarea {
    margin-top: 7px;
    margin-right: 148px;
    width: 309px;
    height: 52px;
    color: #50504f;
    font-style: italic;
    font-family: arial;
    border: 0;
    background-color: #F6F5D0;
}

div.what {
    width: 847px;
    height: 98px;
    margin: 0 auto;
    background: url(/images/elections/text.png) no-repeat center top;
}

div.vote-container {
    height: 80px;
    background-color: #50504f;
}

div.inarea {
    width: 300px;
    height: 80px;
    margin: 0 auto;
}

div.inarea img {
    margin-top: -25px;
}

div.down-text {
    height: 72px;
    margin: 0 auto;
    text-align: center;
}

div.down-text p {
    margin-top: 20px;
    color: #80807e;
    font-style: italic;
    font-family: arial;
}

div.vote-container-non-reg {
    height: 120px;
    background: #50504f;
}

div.vote-container-non-reg div.inarea {
    width: 300px;
    height: 120px;
    margin: 0 auto;
}

div.vote-container-non-reg div.inarea img {
    margin: 35px -15px 0 0;
}

div.down-text-non-reg {
    width: 550px;
    height: 52px;
    margin: 0 auto;
}

div.down-text-non-reg p {
    margin-top: 20px;
    color: #80807e;
    font-style: italic;
    font-family: arial;
}

div.reg-container {
    width: 790px;
    margin: 0 auto;
}

div.vote-container div.reg-container {
    display: none;
}

div.reg-container .rightone {
    float: right;
    width: 290px;
}

div.reg-container .rightone p {
    float: right;
    margin-top: 30px;
    color: #fff;
    font-size: 21px;
    font-family: 'AdumaFOTLight';
}

div.reg-container .rightone img {
    float: right;
    margin: 25px 5px 0 0;
}

div.reg-container .middleone {
    position: relative;
    float: right;
    width: 87px;
    height: 1px;
    overflow: visible;
}

div.reg-container .middleone_image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 120px;
    background: url(/images/elections/o.png) no-repeat center;
}

div.reg-container .leftone {
    float: right;
    width: 400px;
    margin: 25px 13px 0 0;
}

.design2 {
    padding: 5px;
    border: 1px solid #dbdbdb;
    background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 186px;
}
