.hisuru-popup a
{
    display: block;
    background:#757d7e url(/images/search-submit.png) 0 0 repeat-x;
    border: 1px solid #2e3030;
    border-radius: 2px;
    width: 40px;
    height: 25px;
    text-align: center;
    color:#ffffff;
    font: normal 18px/29px 'AdumaFOTRegular';
    text-decoration: none;
   /* margin: 10px auto 20px auto;*/
    margin-left: 10px;
    font-size: 12px;



}