@font-face {
    font-family: 'AdumaFOTBold';
    src: url('../fonts/adumafot-bold-webfont.eot');
    src: url('../fonts/adumafot-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/adumafot-bold-webfont.woff') format('woff'),
         url('../fonts/adumafot-bold-webfont.ttf') format('truetype'),
         url('../fonts/adumafot-bold-webfont.svg#AdumaFOTBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AdumaFOTHeavy';
    src: url('../fonts/adumafot-heavy-webfont.eot');
    src: url('../fonts/adumafot-heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/adumafot-heavy-webfont.woff') format('woff'),
         url('../fonts/adumafot-heavy-webfont.ttf') format('truetype'),
         url('../fonts/adumafot-heavy-webfont.svg#AdumaFOTHeavy') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AdumaFOTLight';
    src: url('../fonts/adumafot-light-webfont.eot');
    src: url('../fonts/adumafot-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/adumafot-light-webfont.woff') format('woff'),
         url('../fonts/adumafot-light-webfont.ttf') format('truetype'),
         url('../fonts/adumafot-light-webfont.svg#AdumaFOTLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AdumaFOTMedium';
    src: url('../fonts/adumafot-medium-webfont.eot');
    src: url('../fonts/adumafot-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/adumafot-medium-webfont.woff') format('woff'),
         url('../fonts/adumafot-medium-webfont.ttf') format('truetype'),
         url('../fonts/adumafot-medium-webfont.svg#AdumaFOTMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AdumaFOTRegular';
    src: url('../fonts/adumafot-regular-webfont.eot');
    src: url('../fonts/adumafot-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/adumafot-regular-webfont.woff') format('woff'),
         url('../fonts/adumafot-regular-webfont.ttf') format('truetype'),
         url('../fonts/adumafot-regular-webfont.svg#AdumaFOTRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    direction: rtl;
}
body
{
    background:#ededed url(../images/header-bg.png) 0 0 repeat-x;
}
.big-head
{
    background: #ededed url(../images/header-bg-big.png) 0 0 repeat-x;
}
#wrap{
    width: 980px;
    margin: 0 auto;
}
#header{
    position: relative;
    height: 229px;
}
.big-head #header
{
    height: 579px;
}
#header #logo
{
    position: absolute;
    top: 23px;
    right: 0;
    background: url(../images/logo.png) 0 0 no-repeat;
    width: 79px;
    height: 89px;
}
#header #logo:hover
{
    background-position: 100% 0;
}
#main-menu
{
    float: right;
    list-style: none;
    padding: 56px 100px 58px 0;
}
#main-menu li
{
    float: right;
    padding:0 20px;
    border-right: 1px solid #cac9c9;
    line-height: 20px;
}
#main-menu li:first-child
{
    border: none;
}
#main-menu li a
{
    color:#50504f;
    font-size: 22px;
    line-height: 20px;
    font-family: 'AdumaFOTRegular';
    text-decoration: none;
}
#main-menu li a:hover,
#main-menu li a:active,
#main-menu li a.active
{
    color:#3b63ef;
}

.user-box
{
    background: #3b63ef;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 7px 10px 8px;
    position: absolute;
    left: 0;
    top: 47px;
}
.user-box span.icon
{
    width: 21px;
    height: 22px;
    background: url(../images/user-icon.png) 0 50% no-repeat;
    display: block;
    float: left;
}
.tikunim-box
{
    background: #3de749;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 7px 10px 8px;
    position: absolute;
    left: 50px;
    top: 47px;
}
.tikunim-box span.icon
{
    width: 21px;
    height: 22px;
    background: url(../images/tikunim-icon.png) 0 50% no-repeat;
    display: block;
    float: left;
}
.user-box h2,
.tikunim-box h2
{
    color:#fff;
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;
    font-family: 'AdumaFOTMedium';
    padding-left: 25px;
    display: none;
}

.user-box:hover h2,
.tikunim-box:hover h2,
.tikunim-box.hover h2

{
    display: block;
}
.tikunim-box:hover,
.tikunim-box.active,
.tikunim-box.hover
{
    width: 130px;
    z-index: 3;
}
.tikunim-box.active h2
{
    display: block;
}
.tikunim-box .hide-box{
    padding-top: 13px;
    display: none;
}
.tikunim-box.active .hide-box
{
    display: block;
}
.tikunim-box .hide-box textarea
{
    border: 1px solid #dad9d9;
    background: url(../images/textarea-bg.png) 0 0 repeat;
    height: 42px;
    padding:0 3px;
    width: 122px;
    margin-bottom: 18px;
    color:#a5a5a4;
    font: normal 12px/14px Arial;
    resize: none;
}
.tikunim-box .hide-box input[type=submit]
{
    border: 1px solid #0f1e54;
    background:#263a81 url(../images/submit-btn.png) 0 0 repeat-x;
    height: 28px;
    color:#fff;
    font-size: 18px;
    line-height: 28px;
    padding:0;
    cursor: pointer;
    width: 100%;
    font-family: 'AdumaFOTMedium';
}
.tikunim-box .hide-box input[type=submit]:hover
{
    background:#152151 url(../images/submit-btn.png) 0 0 repeat-x;
}
.tikunim-box .hide-box input[type=submit]:active
{
    background:#3c63ef url(../images/submit-btn.png) 0 100% repeat-x;
}
.user-box:hover,
.user-box.active
{
    width: 123px;
    z-index: 4;
}
.user-box.active h2
{
    display: block;
}
.user-box .hide-box
{
    padding-top: 10px;
    display: none;
}
.user-box.active .hide-box
{
    display: block
}
.user-box .spacer
{
    background: url(../images/spacer-user-box.png) 50% 50% no-repeat;
    height: 18px;
}
.user-box a.facebook
{
    display: block;
    background: url(../images/facebook-btn.png) no-repeat;
    height: 28px;
    width: 123px;
    margin: 0 auto;
}
.user-box .hide-box input[type=text]
{
    height: 15px;
    border: 1px solid #d8d8d8;
    padding:1px 4px;
    width: 113px;
    color:#a5a5a4;
    font: normal 12px/15px Arial;
    margin-bottom: 10px;
    display: block;
}
.user-box .hide-box input[type=submit]
{
    border: 1px solid #0f1e54;
    background:#263a81 url(../images/submit-btn.png) 0 0 repeat-x;
    height: 28px;
    color:#fff;
    font-size: 18px;
    line-height: 28px;
    padding:0;
    cursor: pointer;
    width: 100%;
    font-family: 'AdumaFOTMedium';
    margin-top: 8px;
    display:block;
}
.user-box .hide-box input[type=submit]:hover
{
    background:#152151 url(../images/submit-btn.png) 0 0 repeat-x;
}
.user-box .hide-box input[type=submit]:active
{
    background:#3c63ef url(../images/submit-btn.png) 0 100% repeat-x;
}

.user-box .user-login-box
{
    margin:0 -10px;
}
.user-box .user-login-box ul
{
    margin-bottom: 8px;
}
.user-box .user-login-box li
{
    padding:2px 0 0 0;
    background: url(../images/user-box-border.png) 0 0 repeat-x;
    display: block;
}
.user-box .user-login-box li:first-child
{
    background: none;
}
.user-box .user-login-box li a
{
    display: block;
    position: relative;
    color:#ffffff;
    font: bold 12px/14px Arial;
    text-decoration: none;
    padding: 7px 29px 7px 8px;
}
.user-box .user-login-box li a span.icon-menu
{
    position: absolute;
    right: 11px;
    top: 7px;
    width: 10px;
    height: 14px;
}
.user-box .user-login-box li.tokens a span.icon-menu
{
    background: url(../images/user-box-icons.png) 100% 1px no-repeat;
}
.user-box .user-login-box li.tokens a:hover span.icon-menu
{
    background-position: 0 1px;
}
.user-box .user-login-box li.chip a span.icon-menu
{
    background: url(../images/user-box-icons.png) 100% -28px no-repeat;
}
.user-box .user-login-box li.chip a:hover span.icon-menu
{
    background-position: 0 -28px;
}
.user-box .user-login-box li.respect a span.icon-menu
{
    background: url(../images/user-box-icons.png) 100% -59px no-repeat;
}
.user-box .user-login-box li.respect a:hover span.icon-menu
{
    background-position: 0 -59px;
}
.user-box .user-login-box li.settings a span.icon-menu
{
    background: url(../images/user-box-icons.png) 100% -89px no-repeat;
}
.user-box .user-login-box li.settings a:hover span.icon-menu
{
    background-position: 0 -89px;
}
.user-box .user-login-box li.help a span.icon-menu
{
    background: url(../images/user-box-icons.png) 100% -119px no-repeat;
}
.user-box .user-login-box li.help a:hover span.icon-menu
{
    background-position: 0 -119px;
}
.user-box .user-login-box li a span.number
{
    position: absolute;
    left: 8px;
    top: 7px;
    width: 25px;
    text-align: center;
    color:#ffffff;
    font: bold 10px/14px Arial;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    background: #263a81;
}
.user-box .user-login-box li a:hover
{
    background:#263a81;
}
.user-box .btn-box
{
    float: right;
    background:#263a81;
    padding: 1px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    margin-right: 13px;
}
.user-box .btn-box a
{
    color:#6178cb;
    font: bold 10px/12px Arial;
    float: right;
    padding: 0 5px;
    height: 13px;
    text-decoration: none;
}
.user-box .btn-box a:hover,
.user-box .btn-box a:active
{
    background:#839df5;
    color:#fff;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}
.user-box .total-number
{
    background:#263a81;
    width: 25px;
    height: 14px;
    position: absolute;
    left: -12px;
    top: 3px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    color:#fff;
    font: bold 12px/14px Arial;
    text-align: center;
}
.user-box.active .total-number
{
    display: none;
}
/*-----------------------------*/
.search-box
{
    padding: 17px 42px 17px 0;
    height: 31px;
    clear: both;
    background: url(../images/search-icon.png) 100% 19px no-repeat;
}
.search-box label
{
    float: right;
    color:#fff;
    margin-left: 25px;
    font: normal 20px/31px 'AdumaFOTRegular';
}
.search-box input[type=text]
{
    border: 1px solid #1a43d4;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    background:#3b63ef;
    height: 25px;
    width: 640px;
    margin-left: 25px;
    padding: 3px 10px 2px;
    color:#fff;
    font: normal 20px/24px 'AdumaFOTRegular';
    float: right;
}
.search-box input[type=submit]
{
    float: right;
    background:#757d7e url(../images/search-submit.png) 0 0 repeat-x;
    border: 1px solid #2e3030;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    width: 110px;
    height: 31px;
    color:#ffffff;
    font: normal 22px/31px 'AdumaFOTRegular';
    padding:0;
    cursor: pointer;
}
.search-box input[type=submit]:hover
{
    background-color:#555a5d;
}
.search-box input[type=submit]:active
{
    background-color:#919d9d;
    background-position: 0 100%;
}
/*------------------------*/
.main-video
{
    height: 306px;
    padding-top: 43px;
    clear: both;
}
.main-video .video-box
{
    float: right;
    margin-left: 58px;
    position: relative;
}
.main-video .video-box span
{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 72px;
    height: 72px;
    background: url(../images/play-btn.png) no-repeat;
    margin: -36px 0 0 -36px;
}
.main-video p
{
    color:#fff;
    font: normal 28px/30px 'AdumaFOTRegular';
    margin-bottom: 35px;
}
.main-video a.btn
{
    background: url(../images/main-video-btn.png) no-repeat;
    width: 504px;
    height: 85px;
    text-align: center;
    color:#fff;
    padding-top: 5px;
    font: normal 50px/80px 'AdumaFOTRegular';
    overflow: hidden;
    display: block;
    text-decoration: none;
}

/*----------------------------*/
#content
{
    padding-bottom: 80px;
}
#content h2
{
    border-top: 6px solid #d6dbde;
    color:#50504f;
    font: normal 30px/49px 'AdumaFOTRegular';
    margin:0;
}
#content .right-col
{
    float: right;
    width: 644px;
}
#content .left-col
{
    float: left;
    width: 308px;
}
.news-list
{
    margin-left: -28px;
}
.news-list .one
{
    float: right;
    width: 292px;
    padding: 8px;
    margin: 0 0 28px 28px;
    background:#fff;
}
.news-list .one h4
{
    padding: 12px 0 10px;
    margin:0;
    color:#50504f;
    font: bold 16px/19px Arial;
    height:60px;
    overflow:hidden;
}
.news-list .one h4 a
{
    color:#50504f;
    text-decoration: none;
}
.news-list .one p
{
    color:#50504f;
    font: normal 13px/17px ARial;
    height: 34px;
    overflow: hidden;
    margin-bottom: 30px;
}
.tags
{
    padding: 12px 0 3px;
    line-height: 14px;
}
.news-list .one .tags
{
    border-top: 1px solid #ebebeb;
}
.tags a
{
    display: inline-block;
    padding: 0 6px;
    background:#b7b6b6;
    color:#fff;
    font: normal 11px/14px Arial;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    text-decoration: none;
}
.tags .more
{
    display: inline-block;
    position: relative;
    vertical-align: middle;
}
.tags .more span
{
    width: 15px;
    height: 14px;
    display: block;
    position: relative;
    z-index: 2;
    background: url(../images/plus-icon.png) 50% 50% no-repeat;
}
.tags .more:hover span
{
    border: 1px solid #e8e6e6;
    border-bottom-color:#fff;
    padding: 2px;
    background-color:#fff;
    margin: -3px -3px;
    border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    -webkit-border-radius: 2px 2px 0 0;
}
.tags .more ul
{
    position: absolute;
    right:-3px;
    display: none;
    top: 16px;
    background:#fff;
    padding: 3px;
    border: 1px solid #e8e6e6;
    width: 73px;
}
.tags .more:hover ul
{
    display: block;
}
.tags .more ul a
{
    color:#50504f;
    font: bold 12px/21px Arial;
    background: none;
    padding:0;
    text-align: center;
    display: block;
}
.tags .more ul li
{
    border-top: 1px solid #e2e2e2;
}
.tags .more ul li:first-child
{
    border: none;
}

.tags .info
{
    float: left;
    color:#b7b6b6;
    font: bold 11px/14px Arial;
}
.tags .info span
{
    float: left;
}
.tags .info span.talks
{
    padding-right: 16px;
    background: url(../images/talks-icon.png) 100% 50% no-repeat;
    margin-right: 8px;
}
.tags .info span.watched
{
    padding-right: 20px;
    background: url(../images/watched-icon.png) 100% 50% no-repeat;
}
/*---------------------*/
.succes-box 
{
    padding-bottom: 25px;
}
.succes-box .one
{
    float: right;
    width: 308px;
    padding-right: 27px;
    padding-top: 8px;
}
.succes-box .one:first-child
{
    padding-right: 0;
}
.succes-box .one .img-box
{
    float: right;
    position: relative;
    margin-left: 14px;
}
.succes-box .one .img-box span
{
    width: 16px;
    height: 39px;
    background: url(../images/flags.png) no-repeat;
    position: absolute;
    left: 3px;
    top: -2px;
}
.succes-box .one h4
{
    color:#50504f;
    margin-bottom: 5px;
    font: bold 16px/19px Arial;
}
.succes-box .one h4 a
{
    text-decoration: none;
    color:#50504f;
}
.succes-box .one p
{
    color:#50504f;
    font: normal 16px/19px Arial;
    margin-bottom: 4px;
}

/*----------------------------*/
.left-col .one-news
{
    background:#fff;
    padding: 8px;
    margin-bottom: 28px;
}
.left-col .one-news h4
{
    color:#50504f;
    font: bold 16px/19px Arial;
    padding: 12px 0 0
}
.left-col .one-news h4 a
{
    color:#50504f;
    text-decoration: none;
}
.left-col .one-news h4.title
{
    padding: 0;
    line-height: 23px;
    margin-bottom: 7px;
}
.left-col .one-news .line
{
    border-top: 1px solid #ebebeb;
    padding-top: 3px;
    margin-top: 9px;
    padding-bottom: 10px;
}
.left-col .one-news p
{
    color:#50504f;
    font: normal 13px/17px Arial;
    margin-bottom: 25px;
}
.left-col .one-news .line img
{
    margin:0 auto;
    display: block;
}
.left-col .one-news .line .percent
{
    float: right;
    text-align: center;
    color:#7c7c7c;
    font: normal 13px/16px Arial;
    padding: 15px 35px 11px 0;
}
.left-col .one-news .line .percent span
{
    font: normal 55px/57px 'AdumaFOTRegular';
    display: block;
    color:#50504f;
}
.comment-form textarea
{
    border: 1px solid #dedddd;
    background:#fbf8e9 url(../images/textarea-bg-big.png) 0 0 repeat;
    padding:0 6px;
    color:#b7b6b6;
    font: normal 13px/23px Arial;
    height: 69px;
    width: 294px;
    margin-bottom: 13px;
    resize: none;
}
/*------------------------*/
.blog-box
{
    clear: both;
}
.blog-box .one
{
    float: right;
    width: 290px;
    padding-left: 45px;
}
.blog-box .last
{
    padding-left:0;
}
.blog-box .one .img-box
{
    float: right;
    width: 112px;
    margin-left: 27px;
    position: relative;
}
.blog-box .one .img-box img
{
    display: block;
}
.blog-box .one .img-box span
{
    background: url(../images/user-fillter.png) no-repeat;
    width: 112px;
    height: 120px;
    position: absolute;
    left: 0;
    top: 0;
}
.blog-box .one h4
{
    color:#50504f;
    font: bold 13px/20px Arial;
    margin:0;
    padding-top: 20px;
}
.blog-box .one h4 a
{
    color:#50504f;
    text-decoration: none;
}
.blog-box .one p
{
    color:#50504f;
    font: normal 13px/16px Arial;
    margin:0;
}
/*--------------------*/
#footer
{
    background:#3b63ef;
    height: 150px;
    padding-top: 15px;
}
#footer .extra
{
    width: 980px;
    margin: 0 auto;
}
#footer .one-col
{
    float: right;
    width: 225px;
    padding-left: 85px;
}
#footer .two-col
{
    float: right;
    width: 165px;
}
#footer .three-col
{
    float: right;
    width: 250px;
}
#footer h4
{
    color:#ffffff;
    font: bold 12px/16px Arial;
    margin-bottom: 16px;
}
#footer p
{
    color:#bfbebe;
    font: normal 12px/16px Arial;
    margin-bottom: 0;
}
#footer li
{
    color:#bfbebe;
    font: normal 12px/16px Arial;
    margin-bottom: 0;
}
#footer li a
{
    color:#bfbebe;
    text-decoration: none;
}
#footer .tags .more span
{
    background-image: url(../images/plus-icon-grey.png)
}

/*-------------------------*/
.renewal 
{
    background:#fff;
    padding: 0 8px;
    margin-bottom: 30px;
}
.renewal .one
{
    border-top: 1px solid #ebebeb;
    padding: 17px 0 14px 130px;
    position: relative;
}
.renewal .one:first-child
{
    border: none;
}
.renewal .one a.btn
{
    position: absolute;
    left: 8px;
    bottom: 8px;
    background:#757d7e url(../images/search-submit.png) 0 0 repeat-x;
    border: 1px solid #2e3030;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    width: 110px;
    height: 29px;
    color:#ffffff;
    font: normal 22px/29px 'AdumaFOTRegular';
    padding:0;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}
.renewal .one a.btn:hover
{
    background-color:#555a5d;
}
.renewal .one a.btn:active
{
    background-color:#919d9d;
    background-position: 0 100%;
}
.renewal .one .right-image
{
    float: right;
    margin-left: 35px;
    margin-top: -7px;
}
.renewal .one .img-box
{
    width: 58px;
    float: right;
    position: relative;
}
.renewal .one .img-box img
{
    width: 58px;
    display: block;
}
.renewal .one .img-box .shadow
{
    position: absolute;
    left:0;
    top: 0;
}
.renewal .one p
{
    color:#50504f;
    font: normal 13px/19px Arial;
    margin:0;
}
.renewal .one .date
{
    color:#b7b6b6;
    font: italic 11px/19px Arial;
}
.renewal .one .img-box-space
{
    margin-left: 7px;
}
/*------------------------*/
.services-blue a
{
    background: url(../images/services-blue.png) no-repeat;
    width: 84px;
    height: 139px;
    float: right;
    margin-right: 11px;
    color:#ffffff;
    font: normal 22px/22px 'AdumaFOTMedium';
    text-align: center;
    text-decoration: none;
    padding: 0 23px;
    position: relative;
}
.services-blue a:first-child
{
    margin-right:0;
}
.services-blue a span.text
{
    position: relative;
    z-index: 5;
}
.services-blue a.service-1 span.text,
.services-blue a.service-2 span.text,
.services-blue a.service-6 span.text
{
    display: block;
    padding-top: 50px;
}
.services-blue a.service-3 span.text,
.services-blue a.service-5 span.text,
.services-blue a.service-7 span.text
{
    display: block;
    padding-top: 58px;
}
.services-blue a.service-4 span.text
{
    display: block;
    padding-top: 38px;
}
.services-blue a span.icon
{
    width: 130px;
    height: 139px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    opacity: 0.2;
}
.services-blue a.service-1 span.icon
{
    background-image: url(../images/icon-1.png);
}
.services-blue a.service-2 span.icon
{
    background-image: url(../images/icon-2.png);
}
.services-blue a.service-3 span.icon
{
    background-image: url(../images/icon-3.png);
}
.services-blue a.service-4 span.icon
{
    background-image: url(../images/icon-4.png);
}
.services-blue a.service-5 span.icon
{
    background-image: url(../images/icon-5.png);
}
.services-blue a.service-6 span.icon
{
    background-image: url(../images/icon-6.png);
}
.services-blue a.service-7 span.icon
{
    background-image: url(../images/icon-7.png);
}
.services-blue a:hover span.icon
{
    opacity:1;
}
.services-blue a:hover
{
    text-indent: -9999px;
}
#content .services-box h2
{
    line-height: 32px;
    text-align: center;
    margin-bottom: 35px;
    padding-top: 12px;
}
#content .services-box h2 span
{
    color:#3b63ef;
}

.blog-box .one .img-box
{
    float: right;
    width: 112px;
    margin-left: 27px;
    position: relative;
;height: 120px;
    overflow:hidden
}