<!DOCTYPE html>

<%
var cycle_id = cycle_id || '';
%>

<html>
<head>
    <style>
        .subject_selected{color: #ff0000 ; font-size: 50px}
    </style>
    <% include partials/head.ejs %>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.tikunim-box h2').click(function () {
                $(this).parent().toggleClass('active');
            });
        });
    </script>
</head>
<body>
<% include partials/body_top.ejs %>
<div id="wrap">
    <div id="header">
        <% include partials/menu.ejs %>
        <% include partials/user_box.ejs %>
        <% include partials/failures.ejs %>
        <% include partials/tag_search.ejs %>
        <% include partials/social_popup.ejs %>

    </div>
    <div id="content" class="cf">
        <% if (!cycle_id) { %>
        <div id="subjects" class="services-box services-box-all cf">
            <div id="subjectsLevel1_blue" class="services-blue services-blue-two cf">

            </div>
            <div id="subjectsLevel2_blue" class="services-blue services-blue-three cf">

            </div>

            <div class="services-green">
                <span class="empty"></span>
                <a href="javascript:void(0);" class="service-10 subjectItem"  data-subject_id=""><span class="text">
עורו
                </span><span class="icon"></span></a>
            </div>
        </div>
        <% } %>

        <select id="sorting_select" class="left-select">
            <option value="-creation_date" >
                תאריך
            </option>
            <option value="-grade">
                דירוג
            </option>
            <option value="-followers_count">
                עוקבים
            </option>
        </select>

        <h2>
            <% if (cycle_id) { %>
            כל הרעיונות לפעולה עבור הקמפיין
            <a class="no_underline_cursor_when_hover" href="/cycles/<%=cycle_id%>"><%=cycle_title%></a>
            <% } else { %>
כל הפעולות במערכת
            <% } %>
        </h2>

        <div id="action_list" data-bablic-index="false">

        </div>
    </div>
</div>
<% include partials/footer.ejs %>
</body>
</html>


<script type="text/javascript">

    var current_section = 3;
    $(function(){

        var selectedTag = '<%= tag_name || "" %>';
        var selectedSubject;

        var selectedCycle = '<%= cycle_id || "" %>';
        var type = 'actions';

        if(!selectedCycle)
            db_functions.getAllSubjects(function(err,data)  {
                $.each(data.objects,function(index,disc) {
                    disc.type = 'actions';
                });
                var uru_subject = data.objects[0];
                var level1subjects = data.objects.slice(1,6);
                var level2subjects = data.objects.slice(6,8);

                $('.services-green .subjectItem').data('subject_id', uru_subject._id).attr('href','/cycles/subject/' + uru_subject._id);

                $.each(level1subjects,function(index,subject){
                    dust.render('subject',subject,function(err,out) {
                        $('#subjectsLevel1_blue').append(out);
                    })
                });

                $.each(level2subjects,function(index,subject){
                    dust.render('subject',subject,function(err,out) {
                        $('#subjectsLevel2_blue').append(out);
                    })
                });
            });

        function createCyclesQuery(){
            var sortby =  $('#sorting_select').val();
            var query = 'order_by='+sortby;
//            if(selectedTag){
//                query =query+'&tags='+selectedTag;
//            }
            if(selectedCycle){
                query = query+'&cycle_id.cycle=' + selectedCycle;
                type = 'pendingActions';
            }
            return query;
        }

        function loadCyclesListToPage(){
            var query = createCyclesQuery();
            listCommon.reloadList('action_list',type,'action_list_item', query);
        }

        $('#action_list').on('click', '.join_button', function(e){
            var item =  $(this).parents('[data-id]');
            var item_id = item.data('id');
            var cycle_id = $(this).data('main_id');
            var cycle_title = $(this).data('main_title');
            var social_popup_title = $(this).data('social-title');
            var social_popup_text = $(this).data('social-text');
            var actionType = $(this).data('action');

            e.preventDefault();
            db_functions.joinOrLeaveAction(item_id, function(err, data){
                data = data.action_obj;
                if(!data.participants_count){
                    data.participants_count = data.num_of_going;
                }
                dust.render('action_list_item', data, function(err, html){
                    item.replaceWith(html);
                    if(data.is_going){

                        //set mail subject for social popup

                        var mail_subject = "הצטרפתי לקידום הפעילות בנושא "
                                + cycle_title
                                + ". מה איתך?"
                        mail_subject = encodeURIComponent(mail_subject);
                        var mail_body = "החלטתי לקחת חלק בפעילות של תנועת עורו בתחום"
                                + " "
                                + cycle_title
                                + ". גם לך חשוב לקדם את הנושא? אם כן, אפשר לקבל פרטים נוספים, להצטרף ולתמוך באתר עורו. אשמח לראות אותך שם! "
                                + "http://www.uru.org.il/cycles/" + cycle_id;

                        setTimeout(function(){
                            //if action schema has social text we update the popup
                            $('#box-share,#screen').show();
                            $('#social-popup-mail').attr("href", "mailto:?subject=" + mail_subject + "&body=" + mail_body);

                            if(social_popup_title){
                                $('#social-popup-title').text(social_popup_title);
                            }
                            if(social_popup_text){
                                $('#social-popup-text').text(social_popup_text);
                            }
                            $('#close').click(function(){
                                $('#box-share,#screen').hide();
                            })
                        }, 100);
                    }
                })
            })
        });

        $('#sorting_select').change(loadCyclesListToPage);
        loadCyclesListToPage();
    });
</script>
