<!DOCTYPE html>
<html>
<head>
<title>משחק הבחירות</title>
<!-- Bootstrap -->

<% include partials/head.ejs %>
<style>
body{
    margin: 0;
    font-family:arial;
}

#wrapper{
    width:100%;
    padding:0;
    margin:auto;
}

#header_wrapper{
    width:940px;
    padding:0 20px;
    margin:auto;
    height:215px;
    background:url(images/bg_top.png) top center no-repeat;
    z-index: 1;
    position:relative;
}

#header_top{
    width:100%;
    padding-top:10px;
    height:120px;
}

#header_bottom{
    width:100%;
    height:70px;
    line-height:70px;
}

#logo_holder{
    width:150px;
    float:right;
    height:86px;
    padding-top:10px;
    text-align:right;
}

#title_holder{
    float:right;
    width:640px;
    height:120px;
    line-height:120px;
    margin:auto;
    text-align:center;
}

#logo_holder img,
#title_holder img{
    vertical-align:middle;
}

#social_holder{
    float:right;
    width:150px;
}

#social_holder .social_item{
    margin:10px 0;
}

#participants_holder{
    width:810px;
    float:right;
}

#participants_total{
    font-size:23px;
    max-width:220px;
    float:right;
    color:#9b9a9a;
}

#participants_thumbs{
    max-width:610px;
    float:right;
    border-left: 1px solid #d5d5d5;
    padding:10px 15px;
    margin:10px 0;
}

.participant_thumb{
    float:right;
    height:32px;
    width:32px;
    background:url(images/participant_thumb.png) 0 0 no-repeat;
    margin: 0 4px;
}

#login{
    float:left;
}

#login input{
    border:0px;
    background:url(images/sprite.png) -1px -119px no-repeat;
    margin:16px 0;
    width:118px;
    height:40px;
    float:left;
    cursor:pointer;
}

#content_wrapper{
    direction:rtl;
    margin-top: -14px;
    z-index: 0;
    float: right;
    width: 100%;
    background: url(images/bg_content.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#how_to_play{
    position:relative;
    margin:auto;
    width:670px;
    padding:15px 50px;
    font-size:16px;
    color:#7c7763;
    background:#f8f3de;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright:0px;
    -moz-border-radius-bottomleft:10px;
    -moz-border-radius-bottomright:10px;
    -webkit-border-top-left-radius:0px;
    -webkit-border-top-right-radius:0px;
    -webkit-border-bottom-left-radius:10px;
    -webkit-border-bottom-right-radius:10px;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    -moz-box-shadow: 0px 2px 5px #000000;
    -webkit-box-shadow: 0px 2px 5px #000000;
    box-shadow: 0px 2px 5px #000000;
}

#how_to_play h2{
    color:#7c7763;
    margin:0 3px;
    font-size:16px;
    font-weight:bold;
}

#close_button{
    position:absolute;
    bottom:-15px;
    left:-15px;
    background:url(images/sprite.png) -108px -13px no-repeat;
    height:28px;
    width:28px;
    cursor:pointer;
}

#quotes_holder{
    width:820px;
    margin:15px auto 0px auto;
    padding:15px 50px;
}

#quotes_counter{
    color:#afbcf7;
    font-style:italic;
}

#current_quote_holder{
    position:relative;
    min-height:260px;
    border: 5px solid #fff;
    background:#fff url(images/bg_quote.jpg) bottom center repeat-x;
    margin:15px auto;
    padding:15px 40px;
}

blockquote{
    font-size: 40px;
    font-family: david;
    color: #4A4A4B;
    display: block;
    width: 90%;
    height: auto;
    margin: 0px;
    padding: 30px 40px 30px 20px;
    position: relative;
    line-height: 48px;
}

.quote_start{
    width:32px;
    height:23px;
    background:url(images/sprite.png) -10px -14px no-repeat;
    display:block;
    position:absolute;
    top:0px;
    right:5px;
}

.quote_end{
    width:32px;
    height:23px;
    background:url(images/sprite.png) -10px -14px no-repeat;
    display:block;
    position:absolute;
    bottom:0px;
    left:0px;
}

.quote_credit{
    font-family:david;
    font-size:23px;
    font-weight:bold;
    color:#3b63ef;
    float:right;
    width: 100%;
}

.quote_credit a{
    text-decoration:none;
    font-family:david;
    font-size:23px;
    font-weight:bold;
    color:#3b63ef;
}

.quote_credit a:hover{
    text-decoration:underline;
}

.quote_party{
    font-family:david;
    font-size:23px;
    font-weight:normal;
    color:#3b63ef;
}

#current_quote_photo{
    position: absolute;
    top: 38%;
    right: -90px;
}

#current_quote_photo img{
    vertical-align:middle;
    max-height:118px;
    max-width:82px;
    border:3px solid #fff;
    -moz-box-shadow: 0px 1px 3px #8e8d8d;
    -webkit-box-shadow: 0px 1px 3px #8e8d8d;
    box-shadow: 0px 1px 3px #8e8d8d;
}

#poll_holder{
    width: 780px;
    margin: 0px auto 15px auto;
    height:60px;
    position: relative;
    top: 112px;
}

.poll_option{
    border:0px;
    margin:0px auto;
    cursor:pointer;
    float:right;
    padding:0px;
}

.poll_option#option_1{ display:block; height:60px; width:166px; background:url(images/sprite.png) -614px -220px no-repeat; }
.poll_option#option_1:hover{ background-position:-614px -293px; }
.poll_option#option_1:active{ background-position:-614px -373px; }

.poll_option#option_2{ display:block; height:60px; width:149px; background:url(images/sprite.png) -465px -220px no-repeat; }
.poll_option#option_2:hover{ background-position:-465px -293px; }
.poll_option#option_2:active{ background-position:-465px -373px; }

.poll_option#option_3{ display:block; height:60px; width:160px; background:url(images/sprite.png) -305px -220px no-repeat; }
.poll_option#option_3:hover{ background-position:-305px -293px; }
.poll_option#option_3:active{ background-position:-305px -373px; }

.poll_option#option_4{ display:block; height:60px; width:150px; background:url(images/sprite.png) -155px -220px no-repeat; }
.poll_option#option_4:hover{ background-position:-155px -293px; }
.poll_option#option_4:active{ background-position:-155px -373px; }

.poll_option#option_0{ display:block; height:60px; width:155px; background:url(images/sprite.png) 0px -220px no-repeat; }
.poll_option#option_0:hover{ background-position:-0px -293px; }
.poll_option#option_0:active{ background-position:-0px -373px; }

#other_buttons_holder{
    width: 780px;
    margin: 15px auto;
    height: 48px;
    position: relative;
    top: 120px;
}

#other_buttons_holder input{
    border:0px;
    cursor:pointer;
}

.end_game{ float:right; display:block; height:48px; width:275px; margin-right:4px; padding: 0; background:url(images/sprite.png) -502px -463px no-repeat; }
.end_game:hover{ background-position: -502px -525px; }
.end_game:active{ background-position: -502px -590px; }

.to_index{ float:left; display:block; height:48px; width:275px; padding: 0; background:url(images/sprite.png) 0px -460px no-repeat; }
.to_index:hover{ background-position: -0px -522px; }
.to_index:active{ background-position: -0px -587px; }

#footer_wrapper{
    background:url(images/bg_footer.jpg) 0 0 repeat-x;
    direction:rtl;
    width:100%;
    float:right;
    padding:0px;
    height:290px;
}

#footer_content{
    width:800px;
    border-top:1px solid #5e5e5d;
    margin:135px auto 0px auto;
}

#footer_wrapper h3{
    color:#e2e8fc;
    font-size:14px;
    font-weight:bold;
}

#footer_wrapper .col{
    float:right;
    width:160px;
    font-size:12px;
    color:#cccccc;
    margin:0 20px;
}

#footer_wrapper .col ul{
    padding:0px;
    margin:0px;
}

#footer_wrapper .col ul li{
    list-style:none;
    padding:0px;
    margin:0px;
    text-indent:0px;
    font-size:12px;
    color:#cccccc;
}

#footer_wrapper .col ul li ul{
    padding-right:10px;
}

#footer_wrapper .col ul li ul li{
    list-style:initial;
    margin-right:8px;
}
#footer_wrapper .col a{
    text-decoration:none;
    color:#cccccc;
}

#footer_wrapper .col a:hover{
    text-decoration:underline;
}

#social_icon_row{
    float:right;
    width:100%;
}

.social_icon{
    float:right;
    width:26px;
    margin:3px 4px;
}
</style>


</head>
<body>

<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div id="wrapper">
    <div id="header_wrapper" style="height: 130px">
        <div id="header_top">
            <div id="logo_holder">
                <a href="\">
                    <img src="images/logo.png" />
                </a>
            </div>
            <div id="title_holder">
                <img src="images/title.png" />
            </div>

        </div>

    </div>
    <div id="content_wrapper" style="height: 300px ; color:#fff;font-size: 40px;text-align: center;padding-top: 100px">



שלום, המשחק בבניה ויעלה לאוויר בימים הקרובים.
        <br>
           לאתר עורו לחצו
        <a href="/" style="color: #fff">
            כאן
        </a>

    </div>
    <div id="footer_wrapper">
        <div id="footer_content">
            <div class="col col_1">
                <h3>קישורים מהירים</h3>
                <ul>
                    <li><a href="">אודות עורו</a></li>
                    <li><a href="">הסיפור שלנו</a></li>
                    <li><a href="">בעיתונות</a></li>
                    <li><a href="">הצוות</a></li>
                    <li><a href="">תקנון האתר</a></li>
                    <li><a href="">כללי התנהלות באתר</a></li>
                </ul>
            </div>
            <div class="col col_2">
                <h3>מערכת האתר</h3>
                <ul>
                    <li><a href="">שאלות נפוצות</a></li>
                    <li>
                        מדריך למשתמש:
                        <ul>
                            <li><a href="">דיונים</a></li>
                            <li><a href="">מעגלי תנופה</a></li>
                            <li><a href="">פעולות</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col col_3">
                <h3>צרו קשר</h3>
                התנועה האזרחית החדשה בע"מ (חל"צ)<br/>
                רחוב התעשייה 8, תל-אביב<br/>
                טל' 03-7368600<br/>
                פקס 03-7368700<br/>
                <a href="mailto:info@uru.org.il">info@uru.org.il</a>
            </div>
            <div class="col col_4">
                <h3>ברשתות החברתיות</h3>
                <div id="social_icon_row">
                    <div class="social_icon">
                        <a href="#"><img src="images/icon_fb.png" /></a>
                    </div>
                    <div class="social_icon">
                        <a href="#"><img src="images/icon_tw.png" /></a>
                    </div>
                    <div class="social_icon">
                        <a href="#"><img src="images/icon_gp.png" /></a>
                    </div>
                </div>
                <div id="social_icon_row">
                    <div class="social_icon">
                        <a href="#"><img src="images/icon_yt.png" /></a>
                    </div>
                    <div class="social_icon">
                        <a href="#"><img src="images/icon_share.png" /></a>
                    </div>
                    <div class="social_icon">
                        <a href="#"><img src="images/icon_rss.png" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include partials/includes.ejs %>
<script type="text/javascript">


    $(document).ready(function () {


    } );


</script>
</body>
</html>