<!DOCTYPE html>
<html>
<head>
    <title>משחק הבחירות</title>
    <!-- Bootstrap -->
   <style>
       @font-face {
           font-family: 'AdumaFOTBold';
           src: url('../fonts/adumafot-bold-webfont.eot');
           src: url('../fonts/adumafot-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/adumafot-bold-webfont.woff') format('woff'), url('../fonts/adumafot-bold-webfont.ttf') format('truetype'), url('../fonts/adumafot-bold-webfont.svg#AdumaFOTBold') format('svg');
           font-weight: normal;
           font-style: normal;
       }

       @font-face {
           font-family: 'AdumaFOTHeavy';
           src: url('../fonts/adumafot-heavy-webfont.eot');
           src: url('../fonts/adumafot-heavy-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/adumafot-heavy-webfont.woff') format('woff'), url('../fonts/adumafot-heavy-webfont.ttf') format('truetype'), url('../fonts/adumafot-heavy-webfont.svg#AdumaFOTHeavy') format('svg');
           font-weight: normal;
           font-style: normal;
       }

       @font-face {
           font-family: 'AdumaFOTLight';
           src: url('../fonts/adumafot-light-webfont.eot');
           src: url('../fonts/adumafot-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/adumafot-light-webfont.woff') format('woff'), url('../fonts/adumafot-light-webfont.ttf') format('truetype'), url('../fonts/adumafot-light-webfont.svg#AdumaFOTLight') format('svg');
           font-weight: normal;
           font-style: normal;
       }

       @font-face {
           font-family: 'AdumaFOTMedium';
           src: url('../fonts/adumafot-medium-webfont.eot');
           src: url('../fonts/adumafot-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/adumafot-medium-webfont.woff') format('woff'), url('../fonts/adumafot-medium-webfont.ttf') format('truetype'), url('../fonts/adumafot-medium-webfont.svg#AdumaFOTMedium') format('svg');
           font-weight: normal;
           font-style: normal;
       }

       @font-face {
           font-family: 'AdumaFOTRegular';
           src: url('../fonts/adumafot-regular-webfont.eot');
           src: url('../fonts/adumafot-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/adumafot-regular-webfont.woff') format('woff'), url('../fonts/adumafot-regular-webfont.ttf') format('truetype'), url('../fonts/adumafot-regular-webfont.svg#AdumaFOTRegular') format('svg');
           font-weight: normal;
           font-style: normal;
       }

       body{
           margin:0px;
           padding:0px;
           font-family:arial;
       }

       #wrapper{
           width:980px;
           margin:auto;
           direction:rtl;
       }

       #header_wrapper{
           background: url(images/banner_top.png) 0 0 no-repeat;
           width:980px;
           height:260px;
       }

       #content_wrapper{
           text-align:center;

           float:right;
           background: #e7e9e9 url(images/bg.png) no-repeat bottom left;
           width:946px;
           padding:0 18px 20px 18px;
       }

       #content_wrapper p{
           color:#3d64f0;
           font-size:19px;
           margin:auto;
           width:720px;
       }
       #content_wrapper p.error{
           position: absolute;
           color:red;
           font-size:19px;
           margin:0;
           width:200px;
       }

       #content_wrapper span{

           font-size:22px;
           font-family: 'AdumaFOTMedium';
       }

       #content_wrapper .subtitle{
           font-size:25px;
           color:#010001;
           margin:10px 0px 0px 0px;
           font-family: 'AdumaFOTBold';
       }

       #content_wrapper .title{
           font-size:55px;
           color:#010001;
           margin:0px 0px 10px 0px;
           font-family: 'AdumaFOTBold';
       }

       .form_item{
           float:right;
           margin:0 6px;
       }

       .form_item.or{
           margin:0 10px;
           position:relative;
           top:-3px;
       }

       #content_wrapper .form_item.title{
           font-size:22px;
           color:#3d64f0;
           font-family: 'AdumaFOTMedium';
           margin-left: 10px;
       }

       #form_holder{
           float:right;
           margin-bottom:20px;
           width:100%;
       }

       #form_holder input{
           -moz-box-shadow:inset 3px 2px 5px #a7a7a7;
           -webkit-box-shadow:inset 3px 2px 5px #a7a7a7;
           box-shadow:inset 3px 2px 5px #a7a7a7;
           border:none;
           -moz-border-radius: 3px;
           border-radius: 3px;
           -webkit-border-radius: 3px;
           height:30px;
           width:145px;
           padding:0 5px;
           color:#4f4f4e;
       }

       #form_holder input.submit{
           color:#fff;
           font-weight:bold;
           font-size:19px;
           padding-left:25px;
           cursor:pointer;
           background:#84DB56 url(images/bg_submit.png) no-repeat 5px 6px;
           -moz-box-shadow: 0px 3px 0px #467A25;
           -webkit-box-shadow: 0px 3px 0px #467A25;
           box-shadow: 0px 3px 0px #467A25;
           border:none;
           -moz-border-radius: 3px;
           border-radius: 3px;
           -webkit-border-radius: 3px;
           height:30px;
           width:75px;
       }

       #small_banners_holder h3{
            font-weight: normal;
           font-size: 22px;
           color:#3D64F0;
           margin:0px;
           margin-bottom: 8px;
           font-family: 'AdumaFOTMedium';
       }

       .small_banner{
           float:right;
           margin-left:12px;
           border: 2px solid #b2b2b3;
           -moz-border-radius: 2px;
           border-radius: 2px;
           -webkit-border-radius: 2px;
       }

       .small_banner.last{
           float:right;
           margin-left:0px;
           margin-right:12px;
       }

       .small_banner_buttons{
           background:#eaebeb;
           height:28px;
       }

       .small_banner_buttons a{
           color:#fff;

           font-size:16px;
           cursor:pointer;
           padding:0 5px;
           text-decoration:none;
           background:#84DB56;
           -moz-box-shadow: 0px 3px 0px #467A25;
           -webkit-box-shadow: 0px 3px 0px #467A25;
           box-shadow: 0px 3px 0px #467A25;
           border:none;
           -moz-border-radius: 3px;
           border-radius: 3px;
           -webkit-border-radius: 3px;
           float:left;
           margin-left:5px;
           font-family: 'AdumaFOTMedium';
       }

   </style>
</head>
<body>
<div id="wrapper">
    <div id="header_wrapper"></div>
    <div id="content_wrapper">
        <h3 class="subtitle">החינוך על הפנים. הבריאות על הפנים. יוקר המחיה על הפנים.</h3>
        <h2 class="title">איזה פרצוף יש לכם לבקש שנבחר בכם?</h2>

        <p>
            <strong>אזרחים יקרים,</strong> <br/>
            המנהיגים שלנו מתעלמים שוב ושוב מהמשבר במערכת הבריאות, ממחדל החינוך ומיוקר המחיה שמכביד על הכיס שלנו. לא ייתכן שנבחרינו ירבו לדבר על הדברים האלה ובפועל לא יעשו דבר, ואנחנו נמשיך לספוג מדיניות המחבלת ביכולתנו להתקיים בכבוד. כדי להבהיר לנבחרי הציבור שלא נמשיך לשתוק אל מול מדיניות זו הצטרפו למאבק הצודק לטובת כולנו. בעזרתכם, אנחנו בתנועת עורו מתחייבים להילחם לשינוי של ממש בנושאים החברתיים. לא ניתן לנבחרינו להסתפק בהצהרות לפני בחירות, אלא לעמוד בהן בפועל!
            <br/>  <br>
            <span>
הצטרפו אלינו ויחד נאבק לשנות את הפרצוף של המדינה
 </span>
            <br/><br/>
        </p>

        <div id="form_holder">
            <form id="register_form_full" action="/account/register" class="login-form cf" method="POST">
                <div class="form_item title">התחברו לעורו באמצעות</div>
                <div class="form_item">
                    <input id="full_name" name="full_name" class="text" type="text" value="שם + שם משפחה" />

                </div>
                <div class="form_item">
                    <input id="email" name="email" class="text" type="email"  value="כתובת מייל"  />
                </div>
                <div class="form_item"><input class="submit" type="submit" value="שלח" /></div>

            </form>
            <div class="form_item or">
                <img src="images/or.png" />
            </div>
            <div class="form_item fb">

                <a href="/account/facebooklogin"><img src="images/button_fb.png" /></a>

            </div>
        </div>

        <div id="small_banners_holder">
            <h3>היכנסו עכשיו לתמיכה במאבק של כולנו לשיפור הבריאות, החינוך ויוקר המחיה </h3>
            <div class="small_banner">
                <img src="images/banner_edu.png" />
                <div class="small_banner_buttons">
                    <a href="/cycles/50813bf7fbdf9a02000004d6">קרא עוד></a>
                    <a class="join_button" data-id="50813bf7fbdf9a02000004d6"  href="">אני בעד></a>
                </div>
            </div>
            <div class="small_banner">
                <img src="images/banner_cost.png" />
                <div class="small_banner_buttons">
                    <a href="/cycles/5084e860a8aff0020000001e">קרא עוד></a>
                    <a class="join_button" data-id="5084e860a8aff0020000001e"  href="">אני בעד></a>
                </div>
            </div>
            <div class="small_banner last">
                <img src="images/banner_health.png" />
                <div class="small_banner_buttons">
                    <a href="/cycles/507c39809cba93020000003d">קרא עוד></a>
                    <a class="join_button" data-id="507c39809cba93020000003d" href="">אני בעד></a>
                </div>
            </div>
        </div>



    </div>
</div>
<% include partials/includes.ejs %>

<script type="text/javascript">
    $(function(){
        $.validator.addMethod("two_parts", function(value) {return ~value.indexOf(' ');}, 'יש להירשם בשם מלא');

        $('#register_form_full').validate({
            errorElement: "p",

            rules:{
                full_name:{
                    required: true,
                    two_parts: true
                },
                email:{
                    required: true
                }
            },
            messages:{
                full_name: {
                    required:"נא להזין שם פרטי ומשפחה"
                },
                email:{
                    required:'נא להזין כתובת מייל',
                    email:'כתובת מייל שגויה'
                }
            },
            highlight: function (element, errorClass) {
                $(element).addClass('error').removeClass('valid');
            },
            unhighlight: function (element, errorClass) {
                $(element).removeClass('error').addClass('valid');
            }
        })



        $('#small_banners_holder').on('click', '.join_button', function(e){
            var item_id              = $(this).data('id');
            e.preventDefault();
            db_functions.joinToCycleFollowers(item_id, false,function(err,data){
                window.location.href = ' /cycles/'+item_id;

            })
        });
    })
</script>
</body>
</html>