<!DOCTYPE html>

<html>
<head>
    <style>
    body{
        margin:0;
        padding:0;
        direction: rtl;
    }
     #navcontainer
     {

         position:absolute;
         left:0;
         background: #eee;
         width: 800px;

         font-family: georgia, serif;
         font-size: 22px;
         text-align: right;
     }

     ul#navlist
     {
         list-style: none;
         padding: 0;
         margin: 0 auto;
         width: 780px;
     }

     ul#navlist li
     {
         display: block;
         margin: 10px 0;
         padding: 0;
         display: block;
         padding:  0.5em 2.5em 0.5em 0.5em;
         border-width: 2px;
         border-color: #ffe #aaab9c #ccc #fff;
         border-style: solid;
         color: #000;
         text-decoration: none;
          background: url("../../images/elections/v.png") no-repeat  right top #FFFFFF;

     }


    </style>

</head>
<body>

   <div id="navcontainer">
   <ul id="navlist">
     <% for (var i = 0; i < items.length && i < 8 ; i++) { %>
               <li><b><%=items[0].title%>:</b> <%=items[0].text %></li>
     <% } %>

   </ul>
   </div>
</body>
</html>