<!DOCTYPE html>

<html>
<head>
    <style>
        body {
            margin: 0px auto;
            padding: 0;
            direction: rtl;
            width: 750px;
        }

        #navcontainer {
            width: 100%;
            font-family: Arial;
            font-size: 20pt;
            text-align: right;
            padding-top: 457px;
            background: #EDEDED url('/images/fbimage-top.png') no-repeat top center;
        }

        ul#navlist {
            list-style: none;
            padding: 0;
            margin: 0 auto;
            width: 96%;

            border: 1px solid transparent; /* this prevents ul and li margins from collapsing into each other */
        }

        ul#navlist li {
            display: block;
            margin: 10px 0;
            padding: 0.3em 3.0em 0.5em 0.5em;
            background: #ffffff;
        }

        .checkbox {
            display: inline-block;
            background: url("../../images/elections/v1.png") no-repeat top right;
            background-size: 40px 40px;;
            padding-right: 50px;
            min-height: 40px;
        }
    </style>
</head>
<body>

<div id="navcontainer">
    <ul id="navlist">
        <% for (var i = 0; i < items.length && i < 8 ; i++) { %>
        <li>
            <span class="checkbox">
                <b><%=items[i].title%>:</b> <%=items[i].text %>
            </span>
        </li>
        <% } %>
    </ul>
</div>
</body>
</html>