<!DOCTYPE html>

<html>
<head>
    <style>
        body {
            margin: 0 auto;
            padding: 0;
            direction: rtl;
            width: 830px;
        }

        #navcontainer {
            width: 750px;
            font-family: Arial, sans-serif;
            font-size: 14pt;
            text-align: right;
            padding: 440px 0 0;
            height: 300px;
            background: #EDEDED url('/images/fbimage-top.png') no-repeat top center;
        }

        ul#navlist {
            list-style: none;
            padding: 0;
            margin: 0 auto;
            width: 700px;

            border: 1px solid transparent; /* this prevents ul and li margins from collapsing into each other */
        }

        ul#navlist li {
            display: block;
            margin: 10px 0;
            padding: 0.3em 2.0em 0.3em 0.5em;
            background: #f9f9f9;
        }

        .checkbox {
            display: inline-block;
            background: url("../../images/elections/v1.png") no-repeat top right;
            padding-right: 30px;
        }
    </style>
</head>
<body>

<div id="navcontainer">
    <ul id="navlist">
        <% for (var i = 0; i < items.length && i < 8 ; i++) { var voted_item = items[i];%>
        <li>
            <span class="checkbox">
                <b><%= voted_item.title + (voted_item.text ? ':' : '') %></b> <%= voted_item.text %>
            </span>
        </li>
        <% } %>
    </ul>
</div>
</body>
</html>