<!DOCTYPE html>

<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="css/reset.css" rel="stylesheet" type="text/css" />
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <!--[if lte IE 7]><link href="css/ie.css" rel="stylesheet" type="text/css" /><![endif]-->
    <script src="js/jquery-1.6.1.min.js" type="text/javascript"></script>
    <script src="js/script.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.tikunim-box h2').click(function () {
                $(this).parent().toggleClass('active');
            });
            $('.user-box h2').click(function () {
                $(this).parent().toggleClass('active');
            });
        });
    </script>
</head>
<body <%if(!user_logged){%>class="big-head"<%}%>>
    <div id="wrap">
        <div id="header">
            <a href="" id="logo"></a>
            <ul id="main-menu">
                <%-partial('partials/menu.ejs')%>
            </ul>
            <div class="user-box">
                <span class="total-number">74</span>
                <span class="icon"></span>
                <h2>
                <%if(user_logged){%><%=user.first_name%><%}else{%>התחבר<%}%>

                </h2>
                <div class="hide-box">
                    <%if(user_logged){%>
                    <div class="user-login-box cf">
                        <ul>
                            <li class="tokens"><a href="">הטוקנים שלי <span class="icon-menu"></span><span class="number"><%=user.tokens%></span></a></li>
                            <li class="chip"><a href="">האסימונים שלי <span class="icon-menu"></span><span class="number">0</span></a></li>
                            <li class="respect"><a href="">מדד הכבוד <span class="icon-menu"></span><span class="number">0</span></a></li>
                            <li class="settings"><a href="">הגדרות <span class="icon-menu"></span></a></li>
                            <li class="help"><a href="">עזרה <span class="icon-menu"></span></a></li>
                        </ul>
                        <div class="btn-box">
                            <a href="">הצג</a>
                            <a href="">הסתר</a>
                        </div>
                    </div>
                    <%}else{%>
                    <input type="text" value="שם משתמש" />
                    <input type="text" value="ססמה" />
                    <input type="submit" value="התחבר" />
                    <div class="spacer"></div>
                    <a class="facebook" href="/account/facebooklogin?next=<%=url%>"></a>
                    <%}%>
                </div>
            </div>
            <div class="tikunim-box">
                <span class="icon"></span>
                <h2>דווח על כשלים</h2>
                <div class="hide-box">
                    <textarea cols="0" rows="0"></textarea>
                    <input type="submit" value="שלח" />
                </div>
            </div>
            <%if(!user_logged){%>
            <div class="main-video">
                <div class="video-box">
                    <img src="images/video.jpg" alt="" />
                    <span></span>
                </div>
                <p>תנועת עורו הוקמה מתוך הבנה שהגיע הזמן
שקולו של הרוב ישמע בישראל, ושכולנו זכאים להיות
שותפים בקבלת ההחלטות הנוגעות לנו.
פוליטיקה מתקשרת לנו עם שחיתות, וכחנות וכוחנות.
אנחנו כאן כדי לשנות את המציאות הזאת.</p>
                <a class="btn" href="">הצטרפו והתחילו להשפיע!</a>
            </div>
            <%}%>
            <form action="#" class="search-box">
                <label>חיפוש לפי תגיות</label>
                <input type="text" value="" />
                <input type="submit" value="חפש" />
            </form>
        </div>
        <div id="content" class="cf">   
            <div class="right-col">
                <h2>עוררו עניין</h2>
                <div class="news-list cf">
                    <div class="one">
                        <a href=""><img src="images/news-1.jpg" alt="" /></a>
                        <h4><a href="">במדינת ישראל מתחת לקו העוני דו”ח הלמ”ס מזהיר: ב-2013 כל ילד שלישי</a></h4>
                        <p> התגלו נתונים מטרידים על מצב העוני בישראל 2012 ...  בדו”ח של הלשכה המרכזית לסטטיסטיקה שפורסם השבוע</p>
                        <div class="tags">
                            <div class="info">
                                <span class="talks">33</span>
                                <span class="watched">151</span>
                            </div>
                            <a href="">אבטלה</a>
                            <a href="">כלכלה</a>
                            <a href="">עוני</a>
                            <div class="more">
                                <span></span>
                                <ul>
                                    <li><a href="">הצג עוד תגיות</a></li>
                                    <li><a href="">הוסף תגית</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="one">
                        <a href=""><img src="images/news-2.jpg" alt="" /></a>
                        <h4><a href="">במדינת ישראל מתחת לקו העוני דו”ח הלמ”ס מזהיר: ב-2013 כל ילד שלישי</a></h4>
                        <p> התגלו נתונים מטרידים על מצב העוני בישראל 2012 ...  בדו”ח של הלשכה המרכזית לסטטיסטיקה שפורסם השבוע</p>
                        <div class="tags">
                            <div class="info">
                                <span class="talks">33</span>
                                <span class="watched">151</span>
                            </div>
                            <a href="">אבטלה</a>
                            <a href="">כלכלה</a>
                            <a href="">עוני</a>
                            <div class="more">
                                <span></span>
                                <ul>
                                    <li><a href="">הצג עוד תגיות</a></li>
                                    <li><a href="">הוסף תגית</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--#need to remove-->
                    <%if(!user_logged){%>
                    <div class="one">
                        <a href=""><img src="images/news-3.jpg" alt="" /></a>
                        <h4><a href="">ישילש דלי לכ 2013-ב :ריהזמ ס”מלה ח”וד ינועה וקל תחתמ לארשי תנידמב</a></h4>
                        <p> עובשה םסרופש הקיטסיטטסל תיזכרמה הכשלה לש ח”ודב  ... 2012 לארשיב ינועה בצמ לע םידירטמ םינותנ ולגתה</p>
                        <div class="tags">
                            <div class="info">
                                <span class="talks">33</span>
                                <span class="watched">151</span>
                            </div>
                            <a href="">הלטבא</a>
                            <a href="">הלכלכ</a>
                            <a href="">ינוע</a>
                            <div class="more">
                                <span></span>
                                <ul>
                                    <li><a href="">תויגת דוע גצה</a></li>
                                    <li><a href="">תיגת ףסוה</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="one">
                        <a href=""><img src="images/news-4.jpg" alt="" /></a>
                        <h4><a href="">ישילש דלי לכ 2013-ב :ריהזמ ס”מלה ח”וד ינועה וקל תחתמ לארשי תנידמב</a></h4>
                        <p> עובשה םסרופש הקיטסיטטסל תיזכרמה הכשלה לש ח”ודב  ... 2012 לארשיב ינועה בצמ לע םידירטמ םינותנ ולגתה</p>
                        <div class="tags">
                            <div class="info">
                                <span class="talks">33</span>
                                <span class="watched">151</span>
                            </div>
                            <a href="">הלטבא</a>
                            <a href="">הלכלכ</a>
                            <a href="">ינוע</a>
                            <div class="more">
                                <span></span>
                                <ul>
                                    <li><a href="">תויגת דוע גצה</a></li>
                                    <li><a href="">תיגת ףסוה</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <%}%>
                </div>
                <%if(user_logged){%>
                <h2>עדכונים</h2>
                <div class="renewal">
                    <div class="one cf">
                        <div class="right-image">
                            <div class="img-box">
                                <img src="images/user-1.jpg" alt="" />
                                <img class="shadow" src="images/user-fillter-white.png" alt="" />
                            </div>
                        </div>
                        <p><strong>שמואל יעקבי</strong> הצטרף לפעולת ההפגנה שיצרת בנושא חינוך ולימודי הליבה </p>
                        <div class="date">13.03.2012 ,21:09</div>
                        <a class="btn" href="">שתף</a>
                    </div>
                    <div class="one cf">
                        <div class="right-image">
                            <img src="images/sample-1.jpg" alt="" />
                        </div>
                        <p><strong>הפגנה המונית בנושא חוק חינם לילדים בגילאים -3</strong></p>
                        <p><strong>מיקום:</strong> גן מאיר, תל אביב (נפגשים בככר רבין מול העירייה) </p>
                        <p><strong>מתי:</strong> 17:00 בשעה ,13.03.2012 </p>
                        <a class="btn" href="">שתף</a>
                    </div>
                    <div class="one cf">
                        <div class="right-image">
                            <div class="img-box img-box-space">
                                <img src="images/user-1.jpg" alt="" />
                                <img class="shadow" src="images/user-fillter-white.png" alt="" />
                            </div>
                            <div class="img-box">
                                <img src="images/user-1.jpg" alt="" />
                                <img class="shadow" src="images/user-fillter-white.png" alt="" />
                            </div>
                        </div>
                        <p><strong>2 חברים שלך</strong> הצטרפו לעצומה בנושא מחירי הדלק </p>
                        <div class="date">13.03.2012 ,21:09</div>
                        <a class="btn" href="">שתף</a>
                    </div>
                    
                </div>
                <%}%>
                <h2>סיפורי הצלחה</h2>
                <div class="succes-box cf">
                    <div class="one">
                        <div class="img-box">
                            <img src="images/succes-1.jpg" alt="" />
                            <span class="flag"></span>
                        </div>
                        <h4><a href="">מנצחים את הבירוקרטיה לא להאמין: איך</a></h4>
                        <p> התגלו נתונים מטרידים ...  בדו”ח של הלשכה המרכזית</p>
                        <div class="tags">
                            <a href="">אבטלה</a>
                            <a href="">כלכלה</a>
                            <a href="">עוני</a>
                            <a href="">איזונים ובלמים</a>
                            <a href="">אבטלה</a>
                            <div class="more">
                                <span></span>
                                <ul>
                                    <li><a href="">הצג עוד תגיות</a></li>
                                    <li><a href="">הוסף תגית</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="one">
                        <div class="img-box">
                            <img src="images/succes-2.jpg" alt="" />
                            <span class="flag"></span>
                        </div>
                        <h4><a href="">במחירי התקשורת על גב הצרכנים: עליות</a></h4>
                        <p> התגלו נתונים מטרידים ...  בדו”ח של הלשכה המרכזית</p>
                        <div class="tags">
                            <a href="">אבטלה</a>
                            <a href="">כלכלה</a>
                            <a href="">עוני</a>
                            <a href="">איזונים ובלמים</a>
                            <a href="">אבטלה</a>
                            <div class="more">
                                <span></span>
                                <ul>
                                    <li><a href="">הצג עוד תגיות</a></li>
                                    <li><a href="">הוסף תגית</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="left-col">
                <h2>מה בכותרות</h2>
                <div class="one-news">
                    <h4 class="title">מן העתונות: <img src="images/news-logo.png" alt="" /></h4>
                    <img src="images/news-5.jpg" alt="" />
                    <h4><a href="">דו”ח הלמ”ס מזהיר: ב-2013 כל ילד שלישי
                    במדינת ישראל מתחת לקו העוני</a></h4>
                    <div class="tags">
                        <a href="">אבטלה</a>
                        <a href="">כלכלה</a>
                        <a href="">עוני</a>
                        <a href="">חברה וממשל</a>
                        <a href="">עוני</a>
                        <div class="more">
                            <span></span>
                            <ul>
                                <li><a href="">הצג עוד תגיות</a></li>
                                <li><a href="">הוסף תגית</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="line">
                        <h4> הסקר היומי:</h4>
                        <p>איזה פתק שמת בקלפי בבחירות האחרונות?
                        התגלו נתונים מטרידים על מצב העוני בישראל 2012 ...</p>
                        <img src="images/diagram.png" alt="" />
                    </div>
                    <div class="line cf">
                        <h4>המסקנות:</h4>
                        <div class="percent">
                            <span>57%</span>
                            לא יודעים
                        </div>
                        <div class="percent">
                            <span>43%</span>
                            יצביעו
                        </div>
                    </div>
                </div>
                <h2>מה מפריע לך?</h2>
                <form class="comment-form" action="#">
                    <textarea cols="0" rows="0">כתוב לנו מה מפריע לך ...</textarea>
                    <input type="image" src="images/send-btn.png" />
                </form>
            </div>
            <div class="blog-box">
                <h2>מאמרים מובילים</h2>
                <div class="one">
                    <div class="img-box">
                        <img src="images/user-1.jpg" alt="" />
                        <span class="fillter"></span>
                    </div>
                    <h4><a href="">שמואל יעקבי</a></h4>
                    <p> בדו”ח של הלשכה המרכז
נתונים מטרידים על מצב העוני                    
באזורי מרכז הארץ ...                     </p>
                    <div class="tags">
                        <a href="">אבטלה</a>
                        <a href="">כלכלה</a>
                        <a href="">עוני</a>
                        <div class="more">
                            <span></span>
                            <ul>
                                <li><a href="">הצג עוד תגיות</a></li>
                                <li><a href="">הוסף תגית</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="one">
                    <div class="img-box">
                        <img src="images/user-2.jpg" alt="" />
                        <span class="fillter"></span>
                    </div>
                    <h4><a href="">שמואל יעקבי</a></h4>
                    <p> בדו”ח של הלשכה המרכז
נתונים מטרידים על מצב העוני                    
באזורי מרכז הארץ ...                     </p>
                    <div class="tags">
                        <a href="">אבטלה</a>
                        <a href="">כלכלה</a>
                        <a href="">עוני</a>
                        <div class="more">
                            <span></span>
                            <ul>
                                <li><a href="">הצג עוד תגיות</a></li>
                                <li><a href="">הוסף תגית</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="one last">
                    <div class="img-box">
                        <img src="images/user-3.jpg" alt="" />
                        <span class="fillter"></span>
                    </div>
                    <h4><a href="">שמואל יעקבי</a></h4>
                    <p> בדו”ח של הלשכה המרכז
נתונים מטרידים על מצב העוני                    
באזורי מרכז הארץ ...                     </p>
                    <div class="tags">
                        <a href="">אבטלה</a>
                        <a href="">כלכלה</a>
                        <a href="">עוני</a>
                        <div class="more">
                            <span></span>
                            <ul>
                                <li><a href="">הצג עוד תגיות</a></li>
                                <li><a href="">הוסף תגית</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="extra cf">
            <div class="one-col">
                <h4>תנועת עורו</h4>
                <p>עורו הוקמה מתוך הבנה שהגיע הזמן שקולו של
הטוב בישראל יישמע, ושכולנו זכאים להיות
ורו הוקמה מתוך הבנה שהגיע הזמן שקולו של 
שותפים בקיבעת ההחלטות. הטוב בישראל יישמע,
ושכולנו זכאים להיותשותפים בקיבעת ההחלטות.</p>
            </div>
            <div class="two-col">
                <h4>קישורים</h4>
                <ul>
                    <li><a href="">מי אנחנו</a></li>
                    <li><a href="">חדשות</a></li>
                    <li><a href="">תנאי שימוש</a></li>
                    <li><a href="">שבלוגים</a></li>
                    <li><a href="">בלוגים</a></li>
                    <li><a href="">עזרה</a></li>
                </ul>
            </div>
            <div class="three-col">
                <h4>תגיות חמות</h4>
                <div class="tags">
                    <a href="">אבטלה</a>
                    <a href="">כלכלה</a>
                    <a href="">עוני</a>
                    <a href="">תשתית</a><br />
                    <a href="">דמוקרטיה וממשל</a>
                    <a href="">אבטלה</a>
                    <a href="">כלכלה</a>
                    <a href="">עוני</a>
                    <div class="more">
                        <span></span>
                        <ul>
                            <li><a href="">הצג עוד תגיות</a></li>
                            <li><a href="">הוסף תגית</a></li>
                        </ul>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</body>
</html>