<!DOCTYPE html>

<html>
<head>
    <% include partials/head.ejs %>
</head>
<body>
<% include partials/body_top.ejs %>
<div id="wrap">
    <div id="header">
        <% include partials/menu.ejs %>
        <% include partials/user_box.ejs %>
        <% include partials/failures.ejs %>
        <% include partials/tag_search.ejs %>
    </div>
        <!--<div id="content_text" class="cf" style="background-image: url('/images/team_text.png'); background-position: center -30px;height: 400px;  padding-bottom:0px;">
        </div>-->
        <div id="content" class="cf">

            <h2><a style="text-decoration: none" href="javascript:void(0);">צוות עורו</a></h2>
            <div class="staff-box cf" id="team">

            </div>

    </div>
</div>


<% include partials/footer.ejs %>

<script type="text/javascript">

    $(document).ready(function () {
        db_functions.getTeam(function (data) {
            $.each(data.objects, function (index, item) {
                dust.render('team', item, function (err, out) {
                    $('#team').append(out);
                });
            });
        });
    });

</script>

</body>
</html>
