<li class="clearfix">
    <div class="description clearfix">
        <div class="frame"><img alt="image23" src="/resources/images/assets/image23.jpg"/> </div>
        <h4>
            המשתמש שפתח את הדיון
        :<br>
                    {creator_id.first_name}  {creator_id.last_name}
        </h4>
        <p class="meta-data">תארaיך | שעה
        :<br>
            {creation_date|date} |  {creation_date|time}
        </p>
        <p>
{text}
        </p>
    </div>
    <div class="action">
        <a class="button" href="#">הגב</a>
        <a class="button" href="/facebookShare?link={get_link_uri}">שתף</a>
        <a class="button" href="#">Like</a> </div>
</li>