<li class="clearfix">
    <div class="frame">
        <div style="width:125px; height:98px;">
            <img src="{image_field_preview.url}" alt="{title}"/>
        </div>
    </div>

    <div class="description">
        <h4>
            {title}
        </h4>
        <p>
            מספר עוקבים:
            {followers_count}
        </p>
        <p>
            מספר תגובות:
            {num_of_comments}
        </p>
        <p>
            מספר פעולות עתידיות:
            {}
        </p>
        <p>
            (פעולות שהצליחו בעבר):
            <br>{}
        </p>
    </div>
    <div class="action"> <a href="#" class="button">שתף</a> <a href="#" class="button">הצטרף</a> </div>

    <div class="action-bottom clearfix">
        <p class="meta-data">
            הפעולה הקרובה: <a href="#"> {upcoming_action.title} </a>
            <span class="divider">|</span> <a href="#">{upcoming_action.title}</a>
            <span class="divider">|</span> <a href="#">
            מספר משתתפים
            {upcoming_action.num_of_going}
        </a>
        </p>
        <a href="#" class="button">הצטרף</a>
    </div>

</li>
