<li class="clearfix">
    <div class="frame1">
        <div class="slide">  <img width="82" src="{user_id.avatar}" alt="{user_id.first_name} {user_id.last_name}"/></div>
        <span class="controls"><a href="#"></a><a href="#"></a><a href="#"></a></span> </div>
    <div class="description">
        <p>
            שם משתמש
       :<br>
            {user_id.first_name} {user_id.last_name}
        </p>
        <p>
            מתי הצטרף
        : <br>
            {join_date|date}
        </p>

    </div>
</li>