<h2>{title}</h2>
<div class="discussions clearfix">
    <div class="frame1 flR"> <img src="{image_field.url}" alt="{title}"/></div>
    <div class="description clearfix">
        <p>       {discussion.vision_text} </p>
        <a href="/facebookShare?link={get_link_uri}" class="button flL">שתף</a> </div>
    <div class="box information" id="cycleInformationItem">



    </div>
    <br class="clear" />
    <img src="/resources/images/assets/image21.jpg" alt="image21" id="pupularPostsLink" style="cursor: pointer" />
    <ul class="list1" id="cyclePopularPosts">


    </ul>
    <a href="/discussions/{id}" class="button flL">מעבר לדיון המתקיים</a>


</div>
<div class="follow clearfix">
    <p>

        מספר העוקבים אaחרי מעגל תנופה זה:


        <strong>{followers_count}</strong></p>


    {?is_follower}

    {:else}
    <a href="#" id="followCycleButton"  class="button">עקוב אחרי מעגל התנופה</a>
    {/is_follower}

</div>