<li class="clearfix">
    <div class="frame"> <img src="{image_field.url}" alt="image3"/> </div>
    <div class="description">
        <h4>
            נושא מעגל התנופה:
            <br>{subject}
        </h4>
        <p>
            מספר עוקבים:
            <br>{followers_count}
        </p>
        <p>
            מספר תגובות:
            <br>{num_of_comments}
        </p>
        <p>
            מספר פעולות עתידיות:
            <br>{}
        </p>
        <p>
            (פעולות שהצליחו בעבר):
            <br>{}
        </p>
    </div>
    <div class="action"> <a href="#" class="button">שתף</a> <a href="#" class="button">הצטרף</a> </div>

    <div class="action-bottom clearfix">
        <p class="meta-data">
            הפעולה הקרובה: <a href="#">שם הפעולה</a> <span class="divider">|</span> <a href="#">תאריך ושעה</a> <span class="divider">|</span> <a href="#">מספר משתתפים</a>


            <a href="#">
           {upcoming_action.title}
            </a>
            <span class="divider">|</span>
            <a href="#">{upcoming_action.execution_date}
            </a>
            <span class="divider">|</span>
            <a href="#">
              {upcoming_action.num_of_going}
            </a>

        </p>
        <a href="#" class="button">הצטרף</a>
    </div>

</li>
