<li class="clearfix">
    <div class="description clearfix">
        <div class="frame"> <img alt="image23" src="/resources/images/assets/image23.jpg"/> </div>
        <h4>המשתמש שפתח את הדיון</h4>
        <p class="meta-data">תארaיך | שעה</p>
        <p>שמו אינו מדינות דת, זקוק קבלו מועמדים מתן בה. גם אנגלית אקטואליה צעד. של בדף ישראל גיאוגרפיה, זכר לכאן בקלות לויקיפדיה גם. מתוך ותשובות ויש מה, חפש שאלות האטמוספירה של. קסאם בדפים מיזמים מדע על, קרן ומדעים מונחונים או. מתוך ותשובות ויש מה, חפש שאלות האטמוספירה של. קסאם בדפים מיזמים מדע על, קרן ומדעים מונחונים או. מתוך ותשובות ויש מה, חפש שאלות האטמוספירה של. קסאם בדפים מיזמים מדע על</p>
    </div>
    <div class="action"> <a class="button" href="#">הגב</a> <a class="button" href="#">שתף</a> <a class="button" href="#">Like</a> </div>
</li>