<li class="clearfix">
    <div class="frame">
        <img src="{image_field.url}" alt="image3"/>
    </div>
    <div class="description">

        <h4>
            נושא הדיון:
       <br>     {title}</h4>
        <p>
            תקציר נושא הדיון:
        <br>    {text_field_preview}</p>
        <p>
            דירוג נוכחי:
            <br> {grade}
        </p>
        <p>
            תאריך פתיחה?:
            <br> {}
        </p>
        <p>
            מספר משתתפים?:
        <br> {followers_count}
        </p>
    </div>
    <div class="action">
        <a href="/facebookShare?link={get_link}" class="button">שתף</a>
        <a href="#" class="button">הצטרף</a>
    </div>
</li>