<li>
    <a href="/selectedItem/{_id}?subject_id={subject_id}">
    <div class='img' style="width:250px; height:158px;">
        <img src="{?image_field_preview.url}{image_field_preview.url}{:else}{image_field.url}{/image_field_preview.url}" alt="{name}" />
    </div>
    <h4>{title}</h4>
    <div class="hot_info_content">
    <p>{?text_field_preview}{text_field_preview|s}{:else}{text_field|s}{/text_field_preview}</p>
    </div>
    <a href="javascript:void(0)">נתונים אפשריים*</a>
    </a>
</li>
