<div value="{_id}" class="action clearfix">
    <p>{title}</p>
    <img width="263" height="155" src="{?image_field_preview.url}{image_field_preview.url}{:else}{image_field.url}{/image_field_preview.url}" alt="{title}"/>
    <p>{?text_field_preview}{text_field_preview}{:else}{text_field}{/text_field_preview}</p>
    <a href="#" class="button add">הוסף</a>
    <a href="#" class="read-more">קרא עוד (קישור למקור?)</a>
    <a href="#" class="button flL">שתף</a>
    <a href="#" class="button flL like">1+</a>
</div>


