<li class="clearfix">
    <div class="frame">
        <img src="{image_field.url}" alt="{title}" />
    </div>
    <div class="description">
        <h4>כותרת פעולה:
         <br>   {title}</h4>
        <p>הסבר קצר (תיאור, משאבים, נתונים) :
        <br>    {}</p>
        <p>מספר משתתפים ( + כמות משתתפים רצויה), מספר חברים משתתפים, תאריך:
        <br>    {num_of_going} ( + {required_participants}),{}, {execution_date}</p>
        <p>תאריך הצעה(כמה זמן ממתין לאישור):
            <br>{creation_date} ({})</p>
    </div>
    <div class="action">
        <a href="/facebookShare?link={get_link}" class="button">שתף</a>
        <a href="#" class="button">הגב</a>
    </div>
    <br class="clear" />
    <ul class="clearfix">
        {#p}<li><p>{.}</p></li>{/p}
    </ul>
</li>