<div class="two-column-layout2 clearfix">
    <div class="frame">
        <img width="460" height="180" src="{?image_field_preview.url}{image_field_preview.url}{:else}{image_field.url}{/image_field_preview.url}" alt="{title}"/>
    </div>
    <div class="description clerfix">
        <p>{?text_field_preview}{text_field_preview|s}{:else}{text_field|s}{/text_field_preview}</p>
        <a href="javascript:void(0)" class="button remove">הסר</a>
        <a href="{get_link}" class="read-more">קרא עוד..</a>
        <a href="/facebookShare?link={get_link|u}" target="_blank" class="button">שתף</a>
    </div>
</div>

