
<script>

    $(function(){

        var action_id = "<%= action_id %>";
        db_functions.getActionById(action_id,function(error,data){
            if(data.length===1) {
                dust.render('action_full_view',data[0],function(err,out) {
                    var seletedTab= $('#main');
                    seletedTab.append(out);
                    var actionImg=$('#actionImg');
                    $('#actionImg').autoscale();
                });
            }
        });
    });
</script>
<div id="main">


</div>
