




<meta property="og:title" content="URU - How do you describe your project in one line?" />
<meta property="og:type" content="company" /><meta property="og:site_name" content="URU" />
<meta property="og:url" content="http://uru.herokuapp.com/signup" />
<meta property="og:image" content="null" />
<meta property="og:description" content="Imagine what someone else would want to post on your wall about signing up for your project." />

<div rel="FXG7TSW7" class="lrdiscoverwidget" data-logo="on" data-background="on" data-share-url="dev.empeeric.com/signup" data-css="http://dev.empeeric.com/public/stylesheets/style.css">
</div><script type="text/javascript" src="http://launchrock-ignition.s3.amazonaws.com/ignition.1.1.js"></script>

