בבחירות האלו חייבים להשתתף
<!--body -->
<div style="direction:rtl" xmlns="http://www.w3.org/1999/html">
    <div align="center"><font face="arial"><br><br></font></div>
    <table border="0" align="center" cellpadding="0" cellspacing="0" dir="rtl" lang="HE" style="olor:rgb(34,34,34);font-family:arial,sans-serif;direction:rtl;" dir="RTL">
        <tbody>
        <tr>
            <td ><p><br></p>

                <p></p>

                <p class="MsoNormal">
                </p>

                <p class="MsoNormal">
                    <span>
חברים יקרים,
                    </span></p>

                <p class="MsoNormal">
                    <br>
                </p>

                <p class="MsoNormal">

ההצבעה המוקדמת בבחירות על סדר היום האזרחי נפתחה! אתם מוזמנים להיכנס לאתר עוּרו להצביע ולשתף את הצבעתכם על מנת שרבים נוספים יצטרפו ונוכל ביחד להתחיל לקדם את הנושאים שחשובים לנו.
                </p>
                <p class="MsoNormal" ><font color="#3333ff"><b><u>
                    <a href="<%= settings.root_path %>">
                            כניסה לאתר עוּרו
                        </a>
                      </u></b></font>
                </p>
                <p></p>
                <p class="MsoNormal">
                אבל עוּרו היא תנועה שפועלת גם בשטח ולכן יצאנו למסע בחירות ברחבי הארץ. במהלך שבועות אלו, אנחנו מבקרים בערים רבות, מספרים על פעילות התנועה, מקיימים דיונים ומזמינים אנשים רבים להצטרף ולהשפיע (מצורפות תמונות)
                </p>
                </td>
            </tr>
        <tr><td style="text-align: center;">
                <p>
                    <img alt="" src="http://uru.s3.amazonaws.com/image1_448.png">
                    &nbsp;
                    <img alt=""  src="http://uru.s3.amazonaws.com/image3_96.png">
                    &nbsp;
                    <img alt="" src="http://uru.s3.amazonaws.com/image2_398.png">
                </p>
            </td></tr>
        <tr><td>
                <p>
                    בהזדמנות זו, נספר לכם על מספר אירועים מתוכננים (פרטים נוספים בעמוד הפייסבוק של עוּרו באמצעות הקישורים המצורפים). נשמח אם תבקרו אותנו בשטח ותיקחו חלק בפעילויות:
                </p>

                <p>
                      1.
                    יום ו' הקרוב, 24.8 בשעה 9:00 בבוקר, בכניסה לגן צ'רלס קלור (בחוף הדרומי של תל-אביב) – משם נצעד על הטיילת
          <br>
                    <font color="#3333ff"><b><u>
                <a href="http://www.facebook.com/events/458851787488247/">
                    לפרטים נוספים
                </a>
            </u></b></font>
            </p>

            <p>
                2.
                יום ב'  27.8 בשעה 11:00, עורו מגיעה לבאר שבע - דיון בנושא קצבאות ובטחון חברתי בהשתתפות ג׳קי אדרי
             </p><p>
                מיקום: קרית הממשלה על יד ביטוח לאומי
                <br>
                <font color="#3333ff"><b><u>
                <a href="https://www.facebook.com/events/460101730678627/">
                    לפרטים נוספים
                </a>
            </u></b></font>
            </p>
            <p>
                3.
                יום ד' 29.8 בשעה 17:00, מעירים את ירושלים - מי שולט במרחב הציבורי?
            </p>
            <p>
                מיקום: מדרחוב בן יהודה פינת כיכר ציון
            <br>
                <font color="#3333ff"><b><u>
                <a href="https://www.facebook.com/events/263290480455895/">
                    לפרטים נוספים
                </a>
            </u></b></font>
            </p>
            <p>
                4.
                יום ה' 30.8 בשעה 16:00, ירושלים: מעגל דיון בנושא הורדת יוקר מחייה – אינטרס ציבורי או כורח פוליטי?
            </p>
            <p>
                מיקום: שוק מחנה יהודה
            <br>
                <font color="#3333ff"><b><u>
                <a href="https://www.facebook.com/events/376958162377188/">
                    לפרטים נוספים
                </a>
            </u></b></font>
            </p>
            <p>
                5.
                יום א', 2.9 בשעה 16:00, ממש לפני הבחירות, בשוק הכרמל בתל-אביב (נפגשים בכניסה הגבוהה, בצומת עם אלנבי).
            <br>
                <font color="#3333ff"><b><u>
                <a href="http://www.facebook.com/events/100183906799935/">
                    לפרטים נוספים
                </a>
            </u></b></font>
            </p>
             <p>
                 <br>
             </p>
            <p>
            להתראות!
            </p>
            <p>
                <br>
            שי כהן
                <br>
            מנהל שיתופי פעולה ושטח
            </p>

            <p></p><a href="http://www.pulseem.com/Pulseem/LinkRedirect.axd?LinkID=333985&amp;ClientID=33924123"
                          target="_blank"><img alt=""
                                               src="http://site.e-dologic.co.il/philip_morris/Xls_script/uru_mailing/logo.jpg"
                                               width="101" height="119"></a>

                <p>
                    &nbsp;&nbsp;<a
                        href="http://www.pulseem.com/Pulseem/LinkRedirect.axd?LinkID=333986&amp;ClientID=33924123"
                        target="_blank"><img alt=""
                                             src="http://site.e-dologic.co.il/philip_morris/Xls_script/uru_mailing/facebook_logo.png"
                                             width="35" height="35" style="vertical-align:top"></a>&nbsp;<a
                        href="http://www.pulseem.com/Pulseem/LinkRedirect.axd?LinkID=333987&amp;ClientID=33924123"
                        target="_blank"><img alt=""
                                             src="http://site.e-dologic.co.il/philip_morris/Xls_script/uru_mailing/twitter_logo.png"
                                             width="35" height="35" style="vertical-align:top"></a></p>
            </td>
        </tr>
        </tbody>
    </table>
</div>