את הסרטון הזה אתם חייבים לראות - תעבירו הלאה
<!--body -->
<html>

<head>
    <meta http-equiv=Content-Type content="text/html; charset=utf-8">
    <meta name=Generator content="Microsoft Word 14 (filtered)">
    <style>
        <!--
            /* Font Definitions */
        @font-face
        {font-family:Calibri;
            panose-1:2 15 5 2 2 2 4 3 2 4;}
        @font-face
        {font-family:Tahoma;
            panose-1:2 11 6 4 3 5 4 4 2 4;}
            /* Style Definitions */
        p.MsoNormal, li.MsoNormal, div.MsoNormal
        {margin:0in;
            margin-bottom:.0001pt;
            font-size:12.0pt;
            font-family:"Times New Roman","serif";}
        a:link, span.MsoHyperlink
        {color:blue;
            text-decoration:underline;}
        a:visited, span.MsoHyperlinkFollowed
        {color:purple;
            text-decoration:underline;}
        p.MsoAcetate, li.MsoAcetate, div.MsoAcetate
        {mso-style-link:"Balloon Text Char";
            margin:0in;
            margin-bottom:.0001pt;
            font-size:8.0pt;
            font-family:"Tahoma","sans-serif";}
        span.BalloonTextChar
        {mso-style-name:"Balloon Text Char";
            mso-style-link:"Balloon Text";
            font-family:"Tahoma","sans-serif";}
        .MsoChpDefault
        {font-family:"Calibri","sans-serif";}
        .MsoPapDefault
        {margin-bottom:10.0pt;
            line-height:115%;}
        @page WordSection1
        {size:8.5in 11.0in;
            margin:1.0in 1.0in 1.0in 1.0in;}
        div.WordSection1
        {page:WordSection1;}
        -->
    </style>

</head>

<body lang=EN-US link=blue vlink=purple>

<div class=WordSection1>

    <p class=MsoNormal dir=RTL style='text-align:right;direction:rtl;unicode-bidi:
embed'><a href="http://www.youtube.com/watch?v=2QESoR2xpNU"><span dir=LTR>http://www.youtube.com/watch?v=2QESoR2xpNU</span></a></p>

    <p class=MsoNormal dir=RTL style='text-align:right;direction:rtl;unicode-bidi:
embed'><span dir=LTR style='font-family:"Arial","sans-serif"'>&nbsp;</span></p>

    <p class=MsoNormal dir=RTL style='text-align:right;direction:rtl;unicode-bidi:
embed'><a
            href="http://www.uru.org.il/"
            target="_blank"><span dir=LTR style='font-family:"Arial","sans-serif";
text-decoration:none'><img border=0 width=101 height=119 id="Picture 3"
                           src="http://site.e-dologic.co.il/philip_morris/Xls_script/uru_mailing/logo.jpg"></span></a></p>

    <p class=MsoNormal dir=RTL style='text-align:right;direction:rtl;unicode-bidi:
embed'><span dir=RTL></span><span lang=HE style='font-family:"Arial","sans-serif"'><span
            dir=RTL></span>&nbsp;&nbsp;</span><a
            href="https://www.facebook.com/URUisrael"
            target="_blank"><span dir=LTR style='font-family:"Arial","sans-serif";
text-decoration:none'><img border=0 width=35 height=35 id="Picture 2"
                           src="http://site.e-dologic.co.il/philip_morris/Xls_script/uru_mailing/facebook_logo.png" ></span></a><span
            dir=RTL></span><span lang=HE style='font-family:"Arial","sans-serif"'><span
            dir=RTL></span>&nbsp;</span><a
            href="http://twitter.com/URUisrael"
            target="_blank"><span dir=LTR style='font-family:"Arial","sans-serif";
text-decoration:none'><img border=0 width=35 height=35 id="Picture 1"
                           src="http://site.e-dologic.co.il/philip_morris/Xls_script/uru_mailing/twitter_logo.png"
                           alt="Twitter"></span></a></p>

</div>

</body>

</html>
